:root {
  --text-main: #484848;
  --text-medium: #858585;
  --text-light: #a3a3a3;
  --white: #ffffff;
  --black: #000000;
  --content-bg: #f7f7f7;
  --footer-bg: #272626;
  --border-color: #e5e3e8;
  --blue: #005BFF;
  --red: #EC3137;
  --green: #3AC267;
}
$text-main: #484848;
$text-medium: #858585;
$text-light: #a3a3a3;
$white: #ffffff;
$black: #000000;
$content-bg: #f7f7f7;
$footer-bg: #272626;
$link-bg: #F6F7F8;
$border-color: #e5e3e8;
$blue: #005BFF;
$red: #EC3137;
$green: #3AC267;

$dark-gray: #EDEDED;
$green-hover: darken( $green, 10% );
$red-hover: darken($red, 10%);

$drop-shadow: drop-shadow(0px 2px 32px rgba(0, 0, 0, 0.11));
