@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-m';
  src: url('assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-b';
  src: url('assets/fonts/Roboto-Bold.ttf');
}
