.is-input {
  padding: 19px 16px;
  border: 1px solid $border-color;
  border-radius: 6px;
  height: 56px;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  margin-bottom: 16px;
  &::placeholder {
    color: $text-main;
  }
}


