@mixin phone {
  @media (max-width: 481px) { @content; }
}
@mixin tablet {
  @media (max-width: 769px) { @content; }
}
@mixin laptop {
  @media (max-width: 1025px) { @content; }
}
@mixin desktop {
  @media (max-width: 1201px) { @content; }
}
@mixin big-desktop {
  @media (min-width: 1201px) { @content; }
}
