<template>
  <div>
    <!-- about us -->
    <div v-if="pageData.template === 'about-us'">
      <div class="about-us-page">
        <div class="container">
          <div class="about-us">

            <h1 class="about-us-title">{{pageData.title}}</h1>

            <div class="about-us-list row">
              <b-col cols="10" lg="5">
                <div class="about-us-list-img is-left-img">
                  <img :src="pageData.content.img_1" alt="">
                </div>
              </b-col>

              <b-col cols="10" lg="5">
                <div class="about-us-list-content">
                  <div class="about-us-list-content-text" v-html="pageData.content.desc_1" />
                </div>
              </b-col>
            </div>

            <div class="about-us-list row">
              <b-col cols="10" lg="5" order="2">
                <div class="about-us-list-img is-right-img">
                  <img :src="pageData.content.img_2" alt="">
                </div>
              </b-col>

              <b-col cols="10" lg="5" order="1">
                <div class="about-us-list-content">
                  <div class="about-us-list-content-text" v-html="pageData.content.desc_2" />
                </div>
              </b-col>
            </div>


          </div>
        </div>
      </div>
    </div>

    <!-- kompanialar -->
    <div v-if="pageData.template === 'campaign'">
      <div class="campagin-wrap">
        <div class="container">
          <div class="campagin">
            <div class="campagin-top">
              <img :src="pageData.cover" :alt="pageData.title">
              <div class="compagin-title" v-html="pageData.title"/>
            </div>

            <div class="campagin-text" v-html="pageData.content"/>
          </div>
        </div>
      </div>
    </div>

    <!-- magazalar -->
    <div v-if="pageData.template === 'store'">
      <div class="stores-wrap">
        <div class="container">
          <div class="stores">
            <h1 class="stores-title">
              {{pageData.title}}
            </h1>


            <div class="map">
              <b-card no-body>
                <b-tabs pills card vertical>
                  <b-tab title="Tab 1" v-for="item in pageData.stores" :key="item.id">
                    <template #title>
                      <h2 class="item-title">{{item.name}}</h2>
                      <p class="item-address">{{item.address}}</p>

                      <div class="stores-phones">
                        <p class="item-phone" v-for="phone in item.phones" :key="phone.id">
                          {{phone.phone}}
                        </p>
                      </div>
                    </template>
                    <b-card-text>
                      <iframe :src="item.map_link" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </b-card-text>
                  </b-tab>
                </b-tabs>
              </b-card>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div v-if="pageData.template === 'faq'">
      <div class="faq-wrap">
        <div class="container">
          <div class="faq">
            <h1 class="faq-title">{{ t.faq }}</h1>


            <div class="faq-body">
              <b-card no-body>
                <b-tabs pills card vertical>
                  <b-tab :title="faq_category.name" v-for="faq_category in pageData.faq_categories" :key="faq_category.id">
                    <b-card-text>
                      <div class="accordion" role="tablist">
                        <b-card no-body class="mb-1 acc-head" v-for="faqs in faq_category.faqs" :key="faqs.id">
                          <b-button class="accordion-title" block v-b-toggle="`accordion-${faqs.id}`" variant="info">{{faqs.title}}</b-button>
                          <b-collapse :id="`accordion-${faqs.id}`" visible accordion="my-accordion" role="tabpanel">
                            <div class="account-content">
                              <p>{{ faqs.content }}</p>
                            </div>
                          </b-collapse>
                        </b-card>
                      </div>
                    </b-card-text>
                  </b-tab>
                </b-tabs>
              </b-card>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- static page -->
    <div v-if="pageData.template === 'plain-text'">
      <div class="service-center-page">
        <div class="container">
          <div class="service-center">
            <h1 class="service-center-title">{{pageData.title}}</h1>

            <div class="service-center-body">
              <div class="service-center-left" :class="!pageData.cover ? 'w-100' : ''">
                <div class="" v-html="pageData.content" />
              </div>

              <div class="service-center-right" v-if="pageData.cover">
                <img :src="pageData.cover" alt="">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <Partners />
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import Partners from "../../components/Partners";

export default {
  name: "StaticPage",
  components: {Partners},
  computed: {
    ...mapGetters({
      pageData: 'getStaticPageData',
      pageUrl: 'getStaticPageUrl',
      t: 'getTranslations'
    }),
  },
  async asyncData({ params, store }) {
    await store.dispatch("fetchPagesData", params.slug);
  }
}
</script>
