<template>
  <div class="animated-thumb">
      <img v-if="product && product.img"
           :src="product.img.conversions.normal" :alt="product.name">
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "Animate-thumb",
  computed: {
    ...mapGetters({
      product: 'getAnimatedProduct'
    })
  }
}
</script>
