<template>
  <header>


    <div class="bg-layout" :class="bgLayout ? 'active' : ''"></div>
    <MobileMenu :active="showMobMenu" :menuActive="showMobMenu" class="d-xl-none"/>

    <!-- fake cookie accept alert -->
    <div class="cookieAccepted" v-if="modalFakeCookie">
      <span>{{ t.cookie_title }}</span>
      <b-button @click="acceptCookie" variant="light" class="ml-3">{{ t.cookie_button }}</b-button>
    </div>


    <div class="header-top-block">
      <div class="container">
        <div class="header-top">
          <div class="header-top-l">
            <NuxtLink :to="localePath('index', $i18n.locale)" class="header-top-l-link">
              {{t.home_page}}
            </NuxtLink>
            <NuxtLink
              v-if="menu_list.is_external === false"
              v-for="menu_list in top_menu"
              class="header-top-l-link"
              :key="menu_list.name"
              :to="localePath({name: 'page-slug', params: {slug: menu_list.url}})">
              {{menu_list.name}}
            </NuxtLink>

            <a v-for="i in top_menu" v-if="i.is_external === true" :key="i.id"
               class="header-top-l-link" target="_blank"
               :href="i.url">{{i.name}}</a>
          </div>

          <div class="header-top-r">

            <a :href="'tel:' + site_configs.contact_phone" class="header-top-r-list">
              <i class="icon-phone"></i>
              <span class="header-top-r-list-text">{{site_configs.contact_phone}}</span>
            </a>

            <NuxtLink :to="localePath('/compare', $i18n.locale)" class="header-top-r-list d-none d-xl-flex">
              <img class="is_icon" src="~images/bar-chart-2.svg" alt="">
              <span class="header-top-r-list-text">
                {{ t.compares }}
                <span v-if="compare_cookie.length" class="is-count">
                  {{ compare_cookie.length }}
                </span>
              </span>
            </NuxtLink>

            <NuxtLink :to="localePath('/wishlist', $i18n.locale)" class="header-top-r-list" v-if="!$auth.loggedIn">
              <i class="icon-heart-empty is_icon"></i>
              <span class="ml-1 header-top-r-list-text">
                {{ t.wishlist }}
                <span v-if="wishlist.length" class="is-count">
                  {{wishlist.length}}
                </span>
              </span>
            </NuxtLink>

            <NuxtLink :to="localePath('/account-wishlist', $i18n.locale)" class="header-top-r-list" v-else>
              <i class="icon-heart-empty is_icon"></i>
              <span class="header-top-r-list-text">
                {{ t.my_favorites }}
                <span v-if="wishlist_list_after_login.length" class="is-count">
                  {{wishlist_list_after_login.length}}
                </span>
              </span>
            </NuxtLink>

            <div class="menu">
              <b-dropdown :text="currentLocale" no-caret>
                <template #button-content>
                  {{ currentLocale }}
                  <i class="icon-down-open"></i>
                </template>
                <b-dropdown-item
                  v-for="locale in locales"
                  :key="locale.code"
                  :href="switchLocalePath(locale.code)"
                >
                    {{ locale.code }}
                </b-dropdown-item>
              </b-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="header-block">
      <div class="container">
        <div class="header">
              <div class="d-flex align-items-center justify-content-start">
                <div class="mobile-menu-wrap">
                  <button class="mobile-menu d-xl-none" @click="toggleMobMenu">
                    <span v-if="!showMobMenu">
                      <i class="icon-menu"></i>
                    </span>

                    <span v-else>
                      <i class="icon-cancel"></i>
                    </span>
                  </button>
                </div>

                <NuxtLink :to="localePath('index', $i18n.locale)" class="logo" @click.native="goToHome">
                  <img src="~images/logo.svg" alt="">
                </NuxtLink>
              </div>

              <SearchBar v-show="searchBarMobile" />

              <div class="header-right">
                <button @click="openMobileSearch" class="mobile-search d-xl-none is-mobile-border" style="z-index: 88">
                  <i class="icon-search" v-if="!searchBarMobile"></i>
                  <i class="icon-cancel" v-else></i>
                </button>

                <NuxtLink :to="localePath('/basket', $i18n.locale)" class="header-right-list header-basket-link is-mobile-border"  id="cartAnimate">
                  <div class="header-basket-link-icon">
                    <img src="~icons/boxgray.svg" alt="">
                    <span class="header-basket-link-icon-count">{{api_product.items.length}}</span>
                  </div>
                  <span class="header-basket-link-title d-none d-xl-inline-block">{{ t.basket }}</span>
                  <client-only>
                    <BasketMini v-if="api_product.items.length !== 0" class="d-none d-xl-block" />
                  </client-only>
                </NuxtLink>

                <div class="header-right-list header-login-buttons">
                  <div v-if="$auth.loggedIn" class="userName">
                    <span class="userNameFirstLetter">{{ getNameFirstLatter }}</span>
                    {{ $auth.user.first_name }}
                    {{ getNameLastLatter }}.

                    <div class="userDropdown">
                      <NuxtLink :to="localePath('account-orders', $i18n.locale)" class="userDropdown-item">{{t.orders}}</NuxtLink>
                      <NuxtLink :to="localePath('account-wishlist', $i18n.locale)" class="userDropdown-item">{{t.wishlist}}</NuxtLink>
<!--                      <NuxtLink to="account-looked" class="userDropdown-item">{{ t.looked }}</NuxtLink>-->
                      <NuxtLink :to="localePath('account-info', $i18n.locale)" class="userDropdown-item">{{t.user_info}}</NuxtLink>
                      <b-button @click="logout" class="userDropdown-item">{{t.logout}}</b-button>
                    </div>
                  </div>

                  <div v-else>
                    <i class="icon-user"></i>
                    <span class="header-login-buttons-title" @click="openLoginDropdown()">
                      {{ t.personal_cabinet }}
                    </span>

                    <div class="logon-block">
                      <b-button @click="activeLoginSideBar">{{ t.login }}</b-button>
                      <b-button @click="activeLoginSideBar">{{ t.register }}</b-button>
                    </div>
                  </div>
                </div>
              </div>


        </div>

        <div class="bg-layout" :class="bgLayout ? 'active' : ''" @click.self="hide">
          <LoginSidebar :sideBarLogin="sideBarLogin"/>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import SearchBar from "../Search-bar";
import { mapState, mapGetters } from 'vuex';
import BasketMini from "./Basket-mini";
import LoginSidebar from "../auth/Login-register-sidebar";
import MobileMenu from "../mobile/Mobile-menu";
import MobileCategory from "../mobile/Mobile-category";
export default {
  name: "App-Header",
  components: {MobileCategory, MobileMenu, LoginSidebar, BasketMini, SearchBar},
  data() {
    return {
      showMobMenu: false,
      bgLayout: false,
      sideBarLogin: false,
      searchBarMobile: false,
      modalFakeCookie: false
    }
  },
  computed: {
    ...mapState({
      top_menu: state => state.top_menu,
    }),
    ...mapGetters({
      cart_count: 'getCartProductsLength',
      api_product: 'getNewApiCart',
      wishlist: 'getWishlistItems',
      compare_cookie: 'getCompareCookie',
      wishlist_list_after_login: 'getWishListAfterLogin',
      site_configs: 'getSiteConfigs',
      t: 'getTranslations'
    }),
    locales() {
      return this.$i18n.locales.filter(l => l.code !== this.currentLocale);
    },
    currentLocale() {
      return this.$i18n.locale;
    },
    getNameFirstLatter(){
      return this.$auth.user.first_name.split('')[0];
    },
    getNameLastLatter(){
      return this.$auth.user.last_name.split('')[0];
    }
  },
  methods: {
    goToHome(){
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: 'smooth'
      })
    },
    acceptCookie(){
      this.$cookies.set('cookieAccepted', true)
      this.modalFakeCookie = false
    },
    logout(){
      this.$auth.logout()
      this.$cookies.removeAll
    },
    openMobileSearch(){
      this.searchBarMobile = this.searchBarMobile !== true;
    },
    openMobileSearchOut(){
      this.searchBarMobile = false
    },
    openLoginDropdown () {
      this.bgLayout = true
      this.sideBarLogin = true
    },
    activeLoginSideBar(){
      const loginSideBar = document.querySelector('.login-register-sidebar');
      loginSideBar.classList.add('active')
    },
    toggleMobMenu() {
      this.showMobMenu = !this.showMobMenu;
    },
    hide(){
      this.bgLayout = false
      this.sideBarLogin = false
    }
  },
  mounted() {
    this.$root.$on('loggedIn', () => {
      this.bgLayout = false
      this.sideBarLogin = false
    })

    let intViewportWidth = window.innerWidth;
    if (intViewportWidth > 1200) {
      this.searchBarMobile = true
    }

    const cooksieAcp = this.$cookies.get('cookieAccepted')

    if (!cooksieAcp) {
      this.modalFakeCookie = true
    }

  },
  watch: {
    $route() {
      this.showMobMenu = false

      let intViewportWidth = window.innerWidth;
      if (intViewportWidth > 1200) {
        this.searchBarMobile = true
      }

    }
  },
}
</script>
