<template>
  <footer>

    <div class="top-footer-block">
      <div class="container">
        <div class="top-footer">
          <div class="top-footer-logo">
            <NuxtLink :to="localePath('index', $i18n.locale)" class="footer-logo">
              <img src="~images/logo.svg" alt="">
            </NuxtLink>
          </div>
            <div class="footer-menus">
              <ul class="footer-ul">
                <li>
                  <img src="~images/footericon-1.svg" alt="">
                  <a :href="'tel:' + site_configs.contact_phone">{{site_configs.contact_phone}}</a>
                </li>
                <li>
                  <img src="~images/footericon-2.svg" alt="">
                  <span>{{site_configs.contact_email}}</span>
                </li>
                <li class="footer-addresses-list">
                  <img src="~images/footericon-3.svg" alt="">
                  <span class="footer-addresses">
                    <span>
                      {{t.company_adress_1}}
                    </span>
                    <span>
                      {{t.company_adress_2}}
                    </span>
                    <span>
                      {{t.company_adress_3}}
                    </span>
                  </span>
                </li>
              </ul>

              <ul class="footer-ul footer-links d-xl-flex">
                <li class="footer-link" v-for="footer_link in footer_menu" :key="footer_link.id">
                  <div v-if="footer_link.is_external === true">
                    <a :href="footer_link.url">{{footer_link.name}}</a>
                  </div>
                  <NuxtLink v-if="footer_link.is_external === false" :to="localePath({name: 'page-slug', params: {slug: footer_link.url}})">
                    {{footer_link.name}}
                  </NuxtLink>
                </li>
              </ul>



              <ul class="footer-ul d-none d-xl-block">
                <li>
                  {{t.our_social_media}}
                </li>
                <li class="soc">
                  <a :href="social_media_icons.fb_url" target="_blank">
                    <img src="~images/facebook.svg" alt="">
                  </a>
                  <a :href="social_media_icons.instagram_url" target="_blank">
                    <img src="~images/instagram.svg" alt="">
                  </a>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>

    <div class="sub-footer-block">
      <div class="container">
        <div class="sub-footer">
          <div class="sub-footer-item">
            <img src="~images/visa-pay-logo.svg" alt="">
            <img src="~images/mastercard.svg" alt="">
          </div>
          <div class="sub-footer-item text-center all-reserved">
            © 2021 Bestel. All rights reserved.
          </div>
          <div class="sub-footer-item text-right sub-footer-link">
            <NuxtLink :to="localePath({ name: 'page-slug', params: { slug: terms }})">
<!--              {{t.terms_and_conditions || terms_and_conditions}}-->
              {{t.terms_and_conditions}}
            </NuxtLink>
          </div>
        </div>
      </div>
    </div>

  </footer>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "App-Footer",
  computed: {
    ...mapGetters({
      footer_menu: 'getFooterMenu',
      site_configs: 'getSiteConfigs',
      terms: 'getTermsAndCond',
      social_media_icons: 'getSocialMediaIcons',
      t: 'getTranslations'
    })
  }
}
</script>
