<template>
  <div class="basket-mini">
     <div class="basket-mini-top">{{t.in_basket}} ({{api_product.items.length}} {{t.product}})</div>
    <div class="basket-mini-body">

      <div class="basket-mini-body-list" v-for="basket_item in api_product.items" :key="basket_item.id">


          <NuxtLink :to="localePath(basket_item.url)" class="is_left">
            <img :src="basket_item.img.conversions.normal" alt="">
          </NuxtLink>
          <div class="is_right">
            <NuxtLink :to="localePath(basket_item.url)" class="is_right_title">{{basket_item.name}}</NuxtLink>
            <p class="is_right_count">{{t.count}} {{basket_item.quantity}}</p>
            <span class="product-price" v-show="basket_item.has_discount">
              {{ basket_item.discounted_price }} AZN
            </span>
            <span class="product-price" :class="!basket_item.has_discount ? 'product-old-price' : ''">
              {{ basket_item.price }} AZN
            </span>
          </div>

      </div>

    </div>
    <div class="basket-mini-footer">
      <NuxtLink class="btn" :to="localePath('/basket', $i18n.locale)">{{ t.go_to_basket }}</NuxtLink>
      <NuxtLink class="btn" :to="localePath('/order', $i18n.locale)">{{ t.order_complete }}</NuxtLink>
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "Basket-mini",
  computed: {
    ...mapGetters({
      products: 'getProducts',
      api_product: 'getNewApiCart',
      t: 'getTranslations'
    })
  }
}
</script>
