<template>
  <div>
    <div class="category-tree-block">
      <ul class="category-tree">
        <li
          class="category-tree-li"
          v-for="item in categories"
          :key="item.id"
        >
          <img class="category-tree-li-img" :src="item.icon">
          <span class="category-tree-li-text">{{ item.name }}</span>
          <span class="category-tree-li-arrow">
            <i class="icon-down-open" rotate="90"></i>
          </span>

          <ul class="sub-menu" v-if="item.child_tree.length !== 0">
            <li v-for="child_tree_list in item.child_tree" :key="child_tree_list.id">
              <NuxtLink :to="localePath({name: 'category', params: {category: child_tree_list.slug}}, $i18n.locale  )" class="child-tree-link" v-if="child_tree_list.url">
                <span>
                  {{ child_tree_list.name }}
                </span>
              </NuxtLink>
            </li>
          </ul>
        </li>
      </ul>
    </div>

<!--    <MobileCategory />-->
  </div>
</template>

<script>
import {mapGetters, mapState} from 'vuex';
import MobileCategory from "../mobile/Mobile-category";
export default {
  name: "category-tree",
  components: {MobileCategory},
  data() {
    return {
      active: false,
      hovered_category: null
    }
  },
  computed: {
    ...mapState({
      categories: "categories"
    })
  },
}
</script>
