<template>

  <div class="search-item">

    <div class="search-item-body">
      <p class="search-item-body-title">{{t.product_search}}</p>

      <div class="search-item-body-lists">
        <NuxtLink :to="localePath(`${item.url}`, $i18n.locale)"
                  class="search-item-body-list" v-for="item in searchResult" :key="item.id">

          <div class="is_img">
            <img :src="item.img.conversions.normal" :alt="item.name">
          </div>

          <div class="is_content">
            <h3 class="is_content_title">{{ item.name }}</h3>
<!--            <p class="is_content_price">{{ item.price }} AZN</p>-->
          </div>
        </NuxtLink>
      </div>
    </div>

    <div class="search-item-body-bottom">
      <NuxtLink :to="localePath({name: 'search-result', query: {search: searchQuery}}, $i18n.locale)">
        {{ t.see_all_products_counts }} {{ allSearchResults.total }}
      </NuxtLink>
    </div>
  </div>

</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "Search-item",
  props: {
    searchQuery: {
      type: String
    }
  },
  computed: {
    ...mapGetters({
      searchResult: 'getSearchResults',
      allSearchResults: 'getAllResults',
      t: 'getTranslations'
    })
  },
}
</script>
