<template>
  <div class="products-wrap is-popular">
    <div class="container">
      <div class="products">
        <h2 class="section-title">{{t.best_selling_products}}</h2>
        <div class="row">
          <b-col col cols="5" lg="2" v-for="item in items" :key="item.product_id">
            <ProductItem :item_list="item" />
          </b-col>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductItem from "./Product-item";
import {mapGetters} from "vuex";
export default {
  name: "Best-selling-products",
  components: {ProductItem},
  props: {
    items: {
      type: Array
    }
  },
  computed: {
    ...mapGetters({
      t: 'getTranslations'
    })
  }
}
</script>
