<template>
  <!-- Swiper -->
  <div id="homePromotionSlider" v-swiper="swiperOption">
    <div class="swiper-wrapper">
      <div class="swiper-slide no-swipe" v-for="banner in banners" :key="banner.id">
        <a :href="banner.url" target="_blank">
          <img :src="banner.img" alt="">
        </a>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination" slot="pagination"></div>
  </div>
  <!-- /Swiper -->
</template>

<script>
export default {
  name: "Home-promotion",
  props: {
    banners: {
      type: Array
    }
  },
  data() {
    return {
      swiperOption: {
        autoplay: true,
        breakpoints: {
          1200: {
            noSwipingClass: 'no-swipe',
            slidesPerView: 3
          }
        }
      },
    }
  }
}
</script>

<style scoped>

</style>
