<template>
  <div class="products-wrap is-popular">
    <div class="container">
      <div class="products">
         <h2 class="section-title">{{t.popular_products}}</h2>

        <b-card class="home-tabs" no-body>
          <b-tabs pills card>
            <b-tab v-for="(item, key) in items" :key="key" :title="item.label">
              <b-row>
                <b-col cols="5" lg="2" v-for="(product,index) in item.products" :key="'product-' + index">
                  <ProductItem :item_list="product" />
                </b-col>
                <b-col lg="10" v-show="item.products.length >= 10">
                  <div class="product-see-more">
                    <NuxtLink :to="localePath({name: 'products-slug', params: {slug: key}}, $i18n.locale)" class="see_more_btn">
                      <span>{{ t.see_all }}</span>
                      <!--                  <img src="~images/arrow-right.svg" alt="">-->
                    </NuxtLink>
                  </div>
                </b-col>
              </b-row>
            </b-tab>
          </b-tabs>

        </b-card>
      </div>
    </div>
  </div>
</template>

<script>
import ProductItem from "./Product-item";
import {mapGetters} from "vuex";
export default {
  name: "popular-products",
  components: {ProductItem},
  props: {
    items: {
      type: Object
    }
  },
  computed: {
    ...mapGetters({
      t: "getTranslations"
    })
  }
}
</script>
