<template>
  <div class="right-infos-block">

    <CreditCalc :price="price" />

    <div class="right-info">
      <div class="right-info-top">
        <img src="~images/info-delivery.svg" alt="">
        <span class="right-info-title">{{t.delivery}}</span>
      </div>
      <p class="right-info-text">{{ t.delivery_text }}</p>
    </div>
    <div class="right-info">
      <div class="right-info-top">
        <img src="~images/odenis.svg" alt="">
        <span class="right-info-title">{{t._payment}}</span>
      </div>
      <p class="right-info-text">{{ t.pay_text }}</p>
    </div>
    <div class="right-info">
      <div class="right-info-top">
        <img src="~images/hisse-hisse.svg" alt="">
<!--        <span class="right-info-title">{{ t.credit_terms }}</span>-->
        <span class="right-info-title">{{t.pay_in_installments}}</span>
      </div>
      <p class="right-info-text">{{ t.credit_terms_text }}</p>
      <button id="show-btn" @click="$bvModal.show('bv-modal-example')" class="pay-credit">{{t.calculate_the_monthly_payment}}</button>
    </div>
    <div class="right-info">
      <div class="right-info-top">
        <img src="~images/return.svg" alt="">
        <span class="right-info-title">{{ t.Warranty_and_service }}</span>
      </div>
      <p class="right-info-text">{{ t.Warranty_and_service_text }}</p>
    </div>
  </div>
</template>

<script>

import {mapGetters} from "vuex";
import CreditCalc from "../modals/Credit-calc";

export default {
  name: "Product-right-info",
  props: {
    price: {
      type: Number
    }
  },
  components: {CreditCalc},
  computed: {
    ...mapGetters({
      t: 'getTranslations'
    })
  }
}
</script>
