<template>

    <b-form-checkbox-group
      :value="value"
      name="flavour-2"
    >
        <b-form-checkbox checked="checked" @change="takeFilterForSend(item.id)" :key="item.id" :value='item.id'>
          {{ item.name }} 
        </b-form-checkbox>
    </b-form-checkbox-group>
</template>




<script>
export default {
  name: "Product-filter-item",
  props: {
    item: {
      type: Object,
    },
    value: {
      type: Array
    }
  },
   data() {
    return {
      selected: [],
      checked: false
    }
   },
  methods: {
    takeFilterForSend: function (id) {
      if(this.checked === false) {
        this.checked = true
        this.$emit('input', [...this.value, id])
        // this.$store.dispatch('fetchFilteredProduct', {category: this.$route.params.category, id: id})
        // this.$store.commit('CHECKED_FILTER_IDS', id)
      } else {
        this.checked = false;
        this.$emit('input', this.value.filter(item => item !== id))
      }
    }
  },
}
</script>
