<template >
  <div class="accordion" role="tablist" v-if="filters.brands.length !== 0">
  <form @change="handleFormSubmit">
    <div class="filter-item">
        <b-button block variant="danger"
          v-b-toggle.accordion="`accordion-1`"
        >
          <p class="brand-title">{{ t.brand }}: </p>
        </b-button>
      
      <b-collapse id="accordion-1" visible role="tabpanel" @show="showCollapse(1)">
        <b-card-body>
          <b-form-group>
            <b-form-checkbox-group
              v-model="productFilters.brands"
              name="flavour-2">
                <b-form-checkbox v-for="i in filters.brands" :key="i.id" :value='i.id'>
                  {{i.name}}
                  ({{i.count}})
                </b-form-checkbox>
            </b-form-checkbox-group>
          </b-form-group>
        </b-card-body>
      </b-collapse>
     

    </div>
  
    <div class="product-range-filter" ref="rangeFilter">
         <b-button block variant="danger"
        v-b-toggle.accordion="`accordion-2`"
      >
            <p class="brand-title">{{ t.price }}:</p>
          </b-button>
       <b-collapse id="accordion-2" visible role="tabpanel" @show="showCollapse(2)">
        <b-card-body>
          <div class="range-filter">
            <div class="price-controls">
              <input class="min-price" @input="handleFormSubmit" v-model="priceSlider[0]"
                    type="number" :placeholder="filtersPrice.min !== 0 ? filtersPrice.min : 'min'" :min="filtersPrice.min">
              <span class="price-controls-text"> - </span>
              <input class="max-price" @input="handleFormSubmit" v-model="priceSlider[1]"
                    type="number" :placeholder="filtersPrice.max !== 0 ? filtersPrice.max : 'max'" :max="filtersPrice.max" :min="filtersPrice.min">
            </div>

          <client-only>
            <vue-slider
              :min="filtersPrice.min"
              :max="filtersPrice.max"
              tooltip="none"
              v-model="priceSlider"
              :enableCross="false"
              @drag-end="handleFormSubmit"
            />
          </client-only>

        </div>
        </b-card-body>
      </b-collapse>
        
    </div>


    <div class="filter-item" v-for="(filter_opt,index) in filters.opts"
          :key="'filter-' + index">
        <b-button block v-b-toggle.accordion="`accordion-${index+3}`" variant="danger">
          <p class="brand-title">{{ filter_opt.attribute.label }} </p>
        </b-button>
      <b-collapse :id="`accordion-${index+3}`"  role="tabpanel" @show="showCollapse(index+3)">
        <b-card-body>
          <b-form-group >
          <template v-if="filter_opt.attribute.options !== null">
            <ProductFilterItem
              v-for="items in filter_opt.attribute.options"
              :key="items.id"
              :item="items"
              v-model="productFilters.opts"
            />
          </template>


          <div v-if="filter_opt.attribute.type === 'bool'">
            <b-form-checkbox-group
              v-model="productFilters.opts"
              name="flavour-2"
            >
              <b-form-checkbox checked="checked" :value="filter_opt.attribute.id">
                {{ filter_opt.attribute.label }}
              </b-form-checkbox>
            </b-form-checkbox-group>
          </div>
        </b-form-group>
        </b-card-body>
      </b-collapse>
        
    </div>
  </form>
  </div>
</template>

<script>
import ProductFilterItem from "./Product-filter-item";
import { mapGetters } from "vuex";
export default {
  name: "Product-filters",
  components: {ProductFilterItem},
  props: {
    filters: {
      type: Object
    }
  },
  data() {
    return {
      productFilters: {
        brands: [],
        opts: [],
      },
      priceSlider: [0, 0],
      page: 1
    }
  },
  computed: {
    ...mapGetters({
      filtersPrice: 'getFiltersPrice',
      t: 'getTranslations',
      productsCat: 'getProductByCategory'
    }),
  },
  mounted() {
    this.priceSlider[0] = this.filtersPrice.min;
    this.priceSlider[1] = this.filtersPrice.max;

  },
  methods: {
    handleFormSubmit: function (){
      // this.test()
      // this.sendFilters()
      this.$emit("filters-change", {
        brands: this.productFilters.brands,
        opts: this.productFilters.opts,
        page: this.page,
        ...this.priceSlider,
      });

    },
    showCollapse(id) {
      for (let i = 1; i < (this.filters.opts.length + 3); i++) {
        let show = document.getElementById(`accordion-${i}`).classList.contains('show');
        if(i !== id && show) {
          this.$root.$emit('bv::toggle::collapse', `accordion-${i}`);
        }
      }
    }
  }
}
</script>
