<template>
  <div class="product-item">
     <div class="product-item-top">
       <NuxtLink class="product-item-thumb"
                 :to="localePath(`${item_list.url}`, $i18n.locale)">

         <div v-if="item_list.img.conversions.normal">
           <img :src="item_list.img.conversions.normal" alt="">
         </div>
         <div v-else>
           <img src="~/assets/images/noimage.jpg" alt="">
         </div>
       </NuxtLink>

       <div class="product-ticket" v-for="label in item_list.labels" :key="label.name">
         <img :src="item_list.labels && label.icon" :alt="item_list.labels && label.name">
       </div>

       <button class="btn-pr compare-btn" @click="handlerCompare(item_list.id, item_list.category_id)" v-if="!isInCompareCookie">
         <i class="icon-pislik"></i>
       </button>

       <button class="btn-pr compare-btn is-active" @click="removeFromCookieCompare(item_list.id)" v-else>
         <i class="icon-pislik"></i>
       </button>

       <template>
         <button v-if="!isInFavs" class="btn-pr wishlist-btn" @click="addToCookiesWishlist(item_list.id)">
           <i class="icon-heart-empty"></i>
         </button>

         <button v-else class="btn-pr wishlist-btn" :class="isInFavs ? 'wishlist-btn-active' : ''" @click="deleteToCookiesWishlist(item_list.id)">
           <i class="icon-heart"></i>
         </button>
       </template>

       <span v-show="item_list.has_discount" class="discount-percent">{{ item_list.discount_percent }} %</span>
     </div>
     <div class="product-item-bottom">
       <NuxtLink :to="localePath(`${item_list.url}`, $i18n.locale)">
         <p class="product-item-title">{{ item_list.name }}</p>
       </NuxtLink>
       <div class="product-item-bottom-box">
         <div class="is-left" v-if="item_list.price !== null">
           <p class="product-old-price" v-show="item_list.has_discount">
             {{ item_list.price }}
             <span class="d-none d-lg-block"> AZN</span>
             <span class="d-lg-none"><i class="icon-azn"></i></span>
           </p>
           <p class="product-price">
             {{ !item_list.has_discount ? item_list.price : item_list.discounted_price }}
             <span class="d-none d-lg-block ml-1">AZN</span>
             <span class="d-lg-none"><i class="icon-azn"></i></span>
           </p>
         </div>

         <div v-else style="font-size: 14px; font-weight: bold">{{t.Check_from_stores}}</div>

         <template v-if="item_list.stock_count !== 0 && item_list.stock_count <= 3">
           <b-button :disabled="true" v-b-tooltip.hover
                   :title="t.ask_from_store"
                   class="box-btn" @click="handler(item_list, item_list.id, $event);" v-if="!isInCart">
             <img src="~icons/boxgray.svg" alt="">
           </b-button>

           <button class="box-btn" @click="removeFromCart(item_list.id)" v-else>
             <img src="~images/box-active.svg" alt="">
           </button>
         </template>

         <template v-else-if="item_list.stock_count === 0">
           <b-button :disabled="true" v-b-tooltip.hover
                   :title="t.out_of_stock"
                   class="box-btn" @click="handler(item_list, item_list.id, $event);" v-if="!isInCart">
             <img src="~icons/boxgray.svg" alt="">
           </b-button>

           <button class="box-btn" @click="removeFromCart(item_list.id)" v-else>
             <img src="~images/box-active.svg" alt="">
           </button>
         </template>
          <template v-else>
           <b-button class="box-btn" @click="handler(item_list, item_list.id, $event);" v-if="!isInCart">
             <img src="~icons/boxgray.svg" alt="">
           </b-button>

           <button class="box-btn" @click="removeFromCart(item_list.id)" v-else>
             <img src="~images/box-active.svg" alt="">
           </button>
         </template>

       </div>
     </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { exampleMixin } from "../../mixin/productMixin";

export default {
  name: "product-item",
  mixins: [exampleMixin],
  props: {
    item_list: {
      type: Object
    }
  },
  computed: {
    ...mapGetters({
      cart_items: "getCartItems",
      wishlist_items: 'getWishlistItems',
      wishlist_login: 'getWishListAfterLogin',
      api_cart: 'getNewApiCart',
      compare: 'getCompare',
      compare_cookie: 'getCompareCookie',
      t: 'getTranslations'
    }),
  },
}
</script>
