<template>
  <div class="mobile-menu-sidebar" :class="menuActive ? 'active' : ''">
    <div class="mobile-logon" v-if="!$auth.loggedIn">
      <button class="form-btn" @click="openLoginDropdown()">
        {{t.login}}
      </button>
      <button class="form-btn" @click="openLoginDropdown()">
        {{t.register}}
      </button>
    </div>

    <div v-if="$auth.loggedIn" class="userName">
      <div v-b-toggle.collapse-1 variant="primary">
        <span class="userNameFirstLetter">{{getNameFirstLatter}}</span>
        <span class="">Şəxsi kabinet</span>
      </div>

      <b-collapse id="collapse-1" class="mt-2">
        <div class="userDropdown" style="opacity: 1; visibility: visible; position: static">
          <NuxtLink :to="localePath('account-orders', $i18n.locale)" class="userDropdown-item">{{t.orders}}</NuxtLink>
          <NuxtLink :to="localePath('account-wishlist', $i18n.locale)" class="userDropdown-item">{{t.wishlist}}</NuxtLink>
          <!--                      <NuxtLink to="account-looked" class="userDropdown-item">{{ t.looked }}</NuxtLink>-->
          <NuxtLink :to="localePath('account-info', $i18n.locale)" class="userDropdown-item">{{t.user_info}}</NuxtLink>
          <b-button @click="logout" class="userDropdown-item">{{t.logout}}</b-button>
        </div>
      </b-collapse>
    </div>

      <div class="mobile-menu-top">
        <div class="mobile-menu-category mobile-menu-top-item">
          <button @click="openMobCategory" class="mob-category-btn">
            <img src="~icons/grid.svg" alt="">
            {{t.categories}}
          </button>

          <MobileCategory @hideMobCategory="handleHideMobCategory" :mobCategoryActive="showMobCategory"/>
        </div>

        <NuxtLink :to="localePath('/wishlist', $i18n.locale)" class="mobile-menu-top-item" v-if="!$auth.loggedIn">
          <i class="icon-heart-empty is_icon"></i>
          <span class="header-top-r-list-text">
                {{ t.wishlist }}
                <span v-if="wishlist.length" class="is-count">
                  {{wishlist.length}}
                </span>
              </span>
        </NuxtLink>

        <NuxtLink :to="localePath('/account-wishlist', $i18n.locale)" class="mobile-menu-top-item" v-else>
          <i class="icon-heart-empty is_icon"></i>
          <span class="header-top-r-list-text">
                {{ t.my_favorites }}
                <span v-if="wishlist_list_after_login.length" class="is-count">
                  {{wishlist_list_after_login.length}}
                </span>
              </span>
        </NuxtLink>


        <NuxtLink :to="localePath('/compare', $i18n.locale)" class="mobile-menu-top-item">
          <img class="is_icon" src="~images/bar-chart-2.svg" alt="">
          <span class="header-top-r-list-text">
                {{ t.compares }}
                <span v-if="compare_cookie.length" class="is-count">
                  {{ compare_cookie.length }}
                </span>
              </span>
        </NuxtLink>
      </div>

      <div class="mobile-menu-bottom">
        <NuxtLink
          v-if="menu_list.is_external === false"
          v-for="menu_list in top_menu"
          class="mobile-menu-top-item"
          :key="menu_list.name"
          :to="localePath({name: 'page-slug', params: {slug: menu_list.url}})">
          {{menu_list.name}}
        </NuxtLink>
      </div>

    <div class="bg-layout" :class="bgLayout ? 'active' : ''" @click.self="hide">
      <LoginSidebar :sideBarLogin="sideBarLogin" />
    </div>
  </div>
</template>

<script>
import MobileCategory from "./Mobile-category";
import {mapGetters, mapState} from "vuex";
import LoginSidebar from "../auth/Login-register-sidebar";
export default {
  name: "Mobile-menu",
  components: {LoginSidebar, MobileCategory },
  props: {
    menuActive: {
      type: Boolean
    }
  },
  computed: {
    ...mapState({
      top_menu: state => state.top_menu,
    }),
    ...mapGetters({
      wishlist: 'getWishlistItems',
      wishlist_list_after_login: 'getWishListAfterLogin',
      compare_cookie: 'getCompareCookie',
      t: 'getTranslations'
    }),
    getNameFirstLatter(){
      return this.$auth.user.first_name.split('')[0];
    },
  },
  data(){
    return {
      showMobCategory: false,
      bgLayout: false,
      sideBarLogin: false
    }
  },
  methods: {
    logout(){
      this.$auth.logout()
      this.$cookies.removeAll
    },
    openMobCategory() {
      this.showMobCategory = true
    },
    handleHideMobCategory() {
      this.showMobCategory = false
    },
    openLoginDropdown () {
      this.bgLayout = true
      this.sideBarLogin = true
    },
    activeLoginSideBar(){
      const loginSideBar = document.querySelector('.login-register-sidebar');
      loginSideBar.classList.add('active')
    },
    hide(){
      this.bgLayout = false
      this.sideBarLogin = false
    }
  },
  mounted() {
    this.$root.$on('loggedIn', () => {
      this.bgLayout = false
      this.sideBarLogin = false
    })
  },
}
</script>
