<template>
  <div class="mobile-menu-category-tree" :class="mobCategoryActive ? 'active' : ''">
    <button @click="hideMobCategory" class="go_back">
      <i class="icon-down-open" style="transform: rotate(90deg); display: inline-block"></i>
      {{t.back_to_category}}
    </button>

    <div class="category-tree-block">
      <ul class="category-tree">
        <li
          class="category-tree-li"
          v-for="item in categories"
          :key="item.id"
        >
          <img class="category-tree-li-img" :src="item.icon">
          <span class="category-tree-li-text">{{ item.name }}</span>
          <span class="category-tree-li-arrow">
            <i class="icon-down-open" rotate="90"></i>
          </span>

          <ul class="sub-menu" v-if="item.child_tree.length !== 0">
            <li v-for="child_tree_list in item.child_tree" :key="child_tree_list.id">
              <NuxtLink :to="localePath({name: 'category', params: {category: child_tree_list.slug}}, $i18n.locale  )"
                        class="child-tree-link" v-if="child_tree_list.url">
                <span>
                  {{ child_tree_list.name }}
                </span>
              </NuxtLink>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapState} from "vuex";

export default {
  name: "Mobile-category",
  props: {
    mobCategoryActive: {
      type: Boolean
    }
  },
  data() {
    return {
      active: false,
      hovered_category: null
    }
  },
  computed: {
    ...mapState({
      categories: "categories"
    }),
    ...mapGetters({
      t: 'getTranslations'
    })
  },
  methods: {
    hideMobCategory() {
      this.$emit('hideMobCategory');
    },
  }
}
</script>
