<template>
  
  <div class="product-item compare-product-item">
    <div class="product-item-top">
      <NuxtLink class="product-item-thumb" to="">
        <!-- <img :src="item_list.img.conversions.normal" alt=""> -->
        <div v-if="item_list.img.conversions.normal">
           <img :src="item_list.img.conversions.normal" alt="">
         </div>
         <div v-else>
           <img src="~/assets/images/noimage.jpg" alt="">
         </div>
      </NuxtLink>

      <template>
        <button v-if="!isInFavs" class="btn-pr wishlist-btn" @click="addToCookiesWishlist(item_list.id)">
          <i class="icon-heart-empty"></i>
        </button>

        <button v-else class="btn-pr wishlist-btn"
                :class="isInFavs ? 'wishlist-btn-active' : ''"
                @click="deleteToCookiesWishlist(item_list.id)">
          <i class="icon-heart"></i>
        </button>
      </template>

      <button class="btn-pr compare-btn is-active" @click="handlerDeleteCompare(item_list.id, index, j)">
        <i class="icon-cancel"></i>
      </button>

      <span v-show="item_list.has_discount" class="discount-percent">{{ item_list.discount_percent }} %</span>
    </div>
    <div class="product-item-bottom">
      <NuxtLink to="" class="product-item-title">
        {{ item_list.name }}
      </NuxtLink>
      <div class="product-item-bottom-box" v-show="item_list.price !== null">
        <div class="is-left">
          <p class="product-old-price" v-show="!item_list.has_discount">
            {{ item_list.price }}
            <span class="d-none d-lg-block">AZN</span>
            <span class="d-lg-none"><i class="icon-azn"></i></span>
          </p>
          <p class="product-price">
            {{ !item_list.has_discount ? item_list.price : item_list.discounted_price }}
            <span class="d-none d-lg-block">AZN</span>
            <span class="d-lg-none"><i class="icon-azn"></i></span>
          </p>
        </div>

        <!-- <button class="box-btn" @click="handler(item_list, item_list.id, $event);" v-if="!isInCart">
          <img src="~icons/boxgray.svg" alt="">
        </button> -->
         <button :disabled="item_list.stock_count < 3" v-b-tooltip.hover
                   :title="item_list.stock_count < 3 ? 'Zəhmət olmasa mağaza ilə əlaqə saxlayın.' : ''"
                   class="box-btn" @click="handler(item_list, item_list.id, $event);" v-if="!isInCart">
             <img src="~icons/boxgray.svg" alt="">
           </button>

        <button class="box-btn" @click="removeFromCart(item_list.id)" v-else>
          <img src="~images/box-active.svg" alt="">
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import {exampleMixin} from "../mixin/productMixin";
import {mapGetters} from "vuex";

export default {
  name: "Compare-item",
  mixins: [exampleMixin],
  props: {
    index: {
      type: Number
    },
    item_list: {
      type: Object
    },
    j: {
      type: Number
    }
  },
  computed: {
    ...mapGetters({
      cart_items: "getCartItems",
      wishlist_items: 'getWishlistItems',
      wishlist_login: 'getWishListAfterLogin',
      api_cart: 'getNewApiCart',
      compare: 'getCompare',
      compare_cookie: 'getCompareCookie',
      compareData: 'getCompareData'
    }),
  },
}
</script>
