<template>
  <div>
    <div class="empty-page">
      <img src="~images/empty-page.svg" alt="">
      <p>{{t.product_wassnt_selected}}</p>
    </div>

    <PopularProducts :items="popular_products"/>

    <div class="container">
      <Partners />
    </div>
  </div>
</template>

<script>
import {mapGetters, mapState} from "vuex";
import PopularProducts from "../components/products/Popular-products";
import Partners from "../components/Partners";

export default {
  name: "Empty-page-products",
  components: { PopularProducts, Partners },
  mounted() {
    this.$store.dispatch('fetchHomeProductsData')
  },
  computed: {
    ...mapState({
      popular_products: state => state.home_products.popular_products
    }),
    ...mapGetters({
      t: 'getTranslations'
    })
  },
}
</script>
