<template>


  <div class="partners-wrap">
    <div class="">
      <div class="partners">
        <h2 class="section-title">{{ t.partners }}</h2>

        <!-- Swiper -->
        <div id="partnersSlider" v-swiper="swiperOption" :auto-destroy="false">
          <div class="loading text-center" v-show="loadingData"></div>
          <div class="swiper-wrapper" v-show="!loadingData"
               :auto-destroy="false">
            <div class="swiper-slide swiper-lazy" v-for="partner in partners">
              <NuxtLink :to="localePath({name: 'brand-slug', params: {slug: partner.slug}}, $i18n.locale)" class="partners-item">
                <img :src="partner.img" alt="">
                <div class="swiper-lazy-preloader"></div>
              </NuxtLink>
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination" slot="pagination"></div>
        </div>
        <!-- /Swiper -->


      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "partners",
  computed: {
    ...mapGetters({
      partners: 'getPartners',
      t: 'getTranslations'
    })
  },
  data() {
    return {
      loadingData: true,
      swiperOption: {
        autoplay: {
          delay: 1600,
          disableOnInteraction: false
        },
        // loop: this.partners && this.partners.length > 6,
        loop: true,
        preloadImages: false,
        lazy: true,
        spaceBetween: 30,
        breakpoints: {
          1200: {
            slidesPerView: 6
          },
          320: {
            slidesPerView: 2
          }
        },
      },
    }
  },
  mounted() {
    this.loadingData = false

    setTimeout(() => {
    }, 1500)
  }
}
</script>
