<template>
  <div class="search-bar">
    <b-input-group>
      <template #prepend>
        <b-dropdown text="Dropdown" variant="info" no-caret ref="foo" class="category-dropdown">
          <template #button-content>
            {{t.categories}}
            <i class="icon-down-open"></i>
          </template>

          <Category-tree class="d-none d-lg-flex" />
        </b-dropdown>
      </template>

        <b-form-input id="search" v-model="searchQuery" @input="searchMethod"
                      autocomplete="off"
                      class="header-search-input" :placeholder="t.home_product_search" />


      <SearchItem v-show="activeSearch && searchQuery.length" :searchQuery="searchQuery" />
    </b-input-group>
  </div>
</template>

<script>
import SearchItem from "./layout/Search-item";
import CategoryTree from "../components/layout/Category-tree";
import { debounce } from "debounce";
import {mapGetters} from "vuex";

export default {
  name: "Search-bar",
  components: {SearchItem, CategoryTree},
  data() {
    return {
      activeSearch: false,
      searchQuery: '',
    }
  },
  computed: {
    ...mapGetters({
      t: 'getTranslations'
    })
  },
  watch: {
    $route() {
      this.activeSearch = false;
      this.searchQuery = "";
      this.$refs.foo.hide()
    }
  },
  methods: {
    searchMethod: debounce(function () {
      this.$store.dispatch('searchResult', this.searchQuery)
        .then(() => {
          this.activeSearch = true;
        })
      this.$store.dispatch('fetchResult', this.searchQuery)
    }, 300)
  }
}
</script>
