<template>
  <div class="reset-pass">
    <div class="container">
      <form @submit.prevent="changePass" @keydown.enter="changePass" class="resetPasswordForm">
        <h1 class="reset-pass-title">reset password</h1>

        <!-- <div class="input-wrapper" :class="{ 'is-invalid': $v.form.password.$error }">
          <input type="password" id="repnewpass" v-model.trim="$v.form.password.$model">
          <label for="repnewpass">{{ $t('new_password_repeat') }}</label>
        </div> -->

        <b-form-input
          class="is-input"
          v-model.trim="$v.form.password.$model"
          placeholder="password"
          type="password"
          label="password"
          :class="{ 'is-invalid': $v.form.password.$error }"
        />

        <b-form-input
          class="is-input"
          v-model.trim="$v.form.password_confirm.$model"
          placeholder="password confirm"
          type="password"
          label="password confirm"
          :class="{ 'is-invalid': $v.form.password_confirm.$error }"
        />

        <b-button type="submit" class="form-btn"
          >sifreni berpa edin</b-button
        >

      </form>
    </div>
  </div>
</template>

<script>
import { required, minLength } from "vuelidate/lib/validators";

export default {
  name: "reset-password",
  data() {
    return {
      form: {
        password: "",
        password_confirm: "",
      },
    };
  },
  validations: {
    form: {
      password: {
        required,
        minLength: minLength(8),
      },
      password_confirm: {
        required,
        minLength: minLength(8),
      },
    },
  },
  methods: {
    async changePass() {
      this.$v.form.$touch();


      if (!this.$v.form.$invalid) {

        let string = this.$route.query.email
        let email = decodeURIComponent(string).match(/\w+@\w+\.\w+/g)[0];

        try {
          await this.$store.dispatch("resetPassword", {
            token: this.$route.query.token,
            email: email,
            password: this.form.password,
            password_confirmation: this.form.password_confirm,
          });

          this.$router.push('/')
        } catch (err) {
          this.$toast.error(err);
        }
      }
    },
  },
};
</script>
