@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?83960847');
  src: url('../font/fontello.eot?83960847#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?83960847') format('woff2'),
       url('../font/fontello.woff?83960847') format('woff'),
       url('../font/fontello.ttf?83960847') format('truetype'),
       url('../font/fontello.svg?83960847#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?83960847#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-box:before { content: '\e800'; } /* '' */
.icon-boxgray:before { content: '\e801'; } /* '' */
.icon-camera:before { content: '\e802'; } /* '' */
.icon-feathermonitor:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-icroundcomputer:before { content: '\e805'; } /* '' */
.icon-music:before { content: '\e806'; } /* '' */
.icon-printer1:before { content: '\e807'; } /* '' */
.icon-program:before { content: '\e808'; } /* '' */
.icon-rightarrow:before { content: '\e809'; } /* '' */
.icon-serveris1:before { content: '\e80a'; } /* '' */
.icon-serveris2:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-shebeke:before { content: '\e80d'; } /* '' */
.icon-acsesuar:before { content: '\e80e'; } /* '' */
.icon-pislik:before { content: '\e80f'; } /* '' */
.icon-batterycharging:before { content: '\e810'; } /* '' */
.icon-footericon-1:before { content: '\e811'; } /* '' */
.icon-footericon-2:before { content: '\e812'; } /* '' */
.icon-footericon-3:before { content: '\e813'; } /* '' */
.icon-info-chat:before { content: '\e814'; } /* '' */
.icon-info-delivery:before { content: '\e815'; } /* '' */
.icon-info-gift:before { content: '\e816'; } /* '' */
.icon-info-support:before { content: '\e817'; } /* '' */
.icon-mastercard:before { content: '\e818'; } /* '' */
.icon-promocode:before { content: '\e819'; } /* '' */
.icon-visa-pay-logo:before { content: '\e81a'; } /* '' */
.icon-heart-empty:before { content: '\e81b'; } /* '' */
.icon-call:before { content: '\e81c'; } /* '' */
.icon-x:before { content: '\e81d'; } /* '' */
.icon-down-open:before { content: '\e81e'; } /* '' */
.icon-azn:before { content: '\e81f'; } /* '' */
.icon-nav:before { content: '\e820'; } /* '' */
.icon-crt:before { content: '\e821'; } /* '' */
.icon-cash:before { content: '\e822'; } /* '' */
.icon-plus-1:before { content: '\e823'; } /* '' */
.icon-minus-1:before { content: '\e824'; } /* '' */
.icon-info:before { content: '\e825'; } /* '' */
.icon-orders-i:before { content: '\e826'; } /* '' */
.icon-logout:before { content: '\e827'; } /* '' */
.icon-cancel:before { content: '\e828'; } /* '' */
.icon-search:before { content: '\e829'; } /* '' */
.icon-phone:before { content: '\e82a'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
