
.icon-box:before { content: '\e800'; } /* '' */
.icon-boxgray:before { content: '\e801'; } /* '' */
.icon-camera:before { content: '\e802'; } /* '' */
.icon-feathermonitor:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-icroundcomputer:before { content: '\e805'; } /* '' */
.icon-music:before { content: '\e806'; } /* '' */
.icon-printer1:before { content: '\e807'; } /* '' */
.icon-program:before { content: '\e808'; } /* '' */
.icon-rightarrow:before { content: '\e809'; } /* '' */
.icon-serveris1:before { content: '\e80a'; } /* '' */
.icon-serveris2:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-shebeke:before { content: '\e80d'; } /* '' */
.icon-acsesuar:before { content: '\e80e'; } /* '' */
.icon-pislik:before { content: '\e80f'; } /* '' */
.icon-batterycharging:before { content: '\e810'; } /* '' */
.icon-footericon-1:before { content: '\e811'; } /* '' */
.icon-footericon-2:before { content: '\e812'; } /* '' */
.icon-footericon-3:before { content: '\e813'; } /* '' */
.icon-info-chat:before { content: '\e814'; } /* '' */
.icon-info-delivery:before { content: '\e815'; } /* '' */
.icon-info-gift:before { content: '\e816'; } /* '' */
.icon-info-support:before { content: '\e817'; } /* '' */
.icon-mastercard:before { content: '\e818'; } /* '' */
.icon-promocode:before { content: '\e819'; } /* '' */
.icon-visa-pay-logo:before { content: '\e81a'; } /* '' */
.icon-heart-empty:before { content: '\e81b'; } /* '' */
.icon-call:before { content: '\e81c'; } /* '' */
.icon-x:before { content: '\e81d'; } /* '' */
.icon-down-open:before { content: '\e81e'; } /* '' */
.icon-azn:before { content: '\e81f'; } /* '' */
.icon-nav:before { content: '\e820'; } /* '' */
.icon-crt:before { content: '\e821'; } /* '' */
.icon-cash:before { content: '\e822'; } /* '' */
.icon-plus-1:before { content: '\e823'; } /* '' */
.icon-minus-1:before { content: '\e824'; } /* '' */
.icon-info:before { content: '\e825'; } /* '' */
.icon-orders-i:before { content: '\e826'; } /* '' */
.icon-logout:before { content: '\e827'; } /* '' */
.icon-cancel:before { content: '\e828'; } /* '' */
.icon-search:before { content: '\e829'; } /* '' */
.icon-phone:before { content: '\e82a'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
