.mobile-menu-sidebar{
  overflow: scroll;
  background-color: #fff;
  position: absolute;
  z-index: 91;
  left: 0;
  width: 100%;
  top: 100%;
  padding: 16px;
  height: calc(100vh - 109px);
  transform: translateX(-100%);
  transition: transform .3s ease-in-out;
  border-top: 1px solid $border-color;
  &.active {
    transform: translateX(0);
  }
  .userName {
    padding: 15px 8px;
  }
}

.mobile-menu-category-tree {
  background-color: #fff;
  position: absolute;
  z-index: 92;
  padding: 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 109px);
  border-top: 1px solid $border-color;
  opacity: 0;
  visibility: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.mobile-menu-top {
  display: flex;
  flex-direction: column;
}

.mobile-menu-top-item {
  padding: 15px 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: $text-main;
  i, img {
    margin-right: 12px;
  }
  .mob-category-btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
    width: 100%;
    padding: 0;
    img {
      margin-right: 12px;
    }
  }
}

.mobile-logon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  .form-btn {
    width: 50%;
    height: 40px;
    border-radius: 8px;
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.mobile-menu-bottom {
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid $border-color;
}


.go_back {
  background-color: transparent;
  border: none;
  padding: 12px 10px;
}
