p {
  margin: 0;
}

.products-wrap {
  background-color: $content-bg;
  padding: 80px 0;
  @include desktop {
    padding: 32px 0;
  }
}

.product-item {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 24px;
  border: 1px solid transparent;
  min-height: 325px;

    @include desktop {
      min-height: 300px;
    }
    @include phone{
      min-height: auto;
    }

  .product-item-thumb {
    display: block;
    position: relative;
    height: 0;
    padding-bottom: 90%;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .product-item-top {
    padding: 16px;
    position: relative;
    .btn-pr {
      width: 32px;
      height: 32px;
      position: absolute;
      border: 1px solid $border-color;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      cursor: pointer;
      i {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.wishlist-btn {
        top: 16px;
        right: 16px;
        opacity: 1;
        &.wishlist-btn-active {
          border-color: $red;
        }
      }
      &.compare-btn {
        right: 60px;
        top: 16px;
        opacity: 1;
        &.is-active {
          border-color: $red;
          opacity: 1 !important;
          visibility: visible;
          svg {
            path {
              stroke: $red;
            }
          }
        }
      }
      &:hover{
        border-color: $red;
      }
    }
  }
  .product-item-bottom {
    padding: 16px;
    .product-item-title {
      font-family: 'Roboto-m', sans-serif;
      font-size: 14px;
      line-height: 18px;
      color: $text-main;
      height: 36px;
      display: inline-block;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      -ms-line-clamp: 2;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      display: -webkit-box;
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      box-orient: vertical;
    }
    .product-item-bottom-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;
      .box-btn {
        padding: 10px;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid $border-color;
        box-shadow: none;
        min-width: 44px;
        max-width: 44px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include desktop {
          min-width: 40px;
          max-width: 40px;
        }
      }
      .is-left {
        line-height: 1;
        .product-price{
          font-family: 'Roboto-b', sans-serif;
          font-size: 18px;
          color: $text-main;
          display: flex;
          @include desktop {
            font-size: 14px;
          }
        }
        .product-old-price{
          font-family: 'Roboto-b', sans-serif;
          font-size: 14px;
          display: flex;
          color: $text-light;
          text-decoration-line: line-through;
          line-height: 1;
          @include desktop {
            font-size: 11px;
          }
        }
      }
    }
  }

  &:hover {
    border-color: $red;
    .wishlist-btn, .compare-btn {
      opacity: 1 !important;
    }
  }
}

.comp-list-text {
  display: block;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 1;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

/* range filter */

.range-controls {
  position:relative;
  height:80px;
  margin-bottom:15px;
  padding:0 30px;
  border-radius:5px;
  overflow:hidden;
}
.scale {
  margin-top:39px;
  height:2px;
  background:#d7dcde;
}
.bar{
  height:2px;
  background:$red;
}
.toggle {
  position:absolute;
  top:30px;
  left:30px;
  width:24px;
  height:24px;
  border: 2px solid $red;
  background: white;
  cursor:pointer;
  border-radius:50%;
}
.min-toggle {
  left:70px;
}
.max-toggle {
  left:165px;
}
.price-controls input{
  width:55px;
  padding:8px 10px;
  margin-left:10px;
  border: 1px solid $border-color;
  background:white;
  font-size:16px;
  font-family: 'Roboto', sans-serif;
  text-align:center;
  border-radius:5px;
  color:#000000;
}


.discount-percent {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $red;
  color: $white;
  height: 30px;
  padding: 8px;
  border-radius: 4px;
  font-family: 'Roboto-b', sans-serif;
  font-size: 14px;
  position: absolute;
  bottom: -7px;
}
