.search-item {
  display: flex;
  background-color: #ffffff;
  position: absolute;
  flex-wrap: wrap;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid $border-color;
  .search-item-body-title {
    color: $text-light;
    font-family: 'Roboto-m', sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding-top: 4px;
    padding-left: 8px;
  }
  .search-item-top {
    padding: 16px 24px;
    width: 100%;
    border-bottom: 1px solid #E5E3E8;
  }
  .search-item-body {
    padding: 12px;
    width: 100%;
    .search-item-body-lists {
      display: flex;
      flex-wrap: wrap;
      .search-item-body-list {
        width: 100%;
        padding: 12px 10px;
        border-radius: 6px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .is_img {
          width: 48px;
          height: 48px;
          //background-color: $text-main;
          img {
            display: block;
            width: 100%;
          }
        }
        .is_content {
          margin-left: 12px;
          .is_content_title {
            margin-bottom: 8px;
            font-family: 'Roboto-m', sans-serif;
            font-size: 14px;
            line-height: 16px;
            color: $text-main;
          }
          .is_content_price {
            font-family: 'Roboto-b', sans-serif;
            font-size: 14px;
            line-height: 16px;
            color: $text-main;
          }
        }
        &:hover {
          background-color: $link-bg;
          text-decoration: none;
        }
      }
    }
  }
  .search-item-body-bottom {
    padding: 16px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #E5E3E8;
    a {
      font-family: 'Roboto-m', sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: $text-main;
    }
  }
}
