footer {
  background-color: $footer-bg;
}


.top-footer-block {
  padding-top: 60px;
  padding-bottom: 70px;
  color: white;
  .top-footer {
    .top-footer-logo {
      width: 100%;
      .footer-logo {
        margin-bottom: 40px;
        display: inline-block;
      }
      @include desktop {
        text-align: center;
      }
    }
  }
  @include desktop {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

.sub-footer-block {
  padding: 20px 0;
  box-shadow: inset 0px 1px 0px rgba(229, 227, 232, 0.2);
  .sub-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sub-footer-item {
      img {
        &:first-child {
          margin-right: 24px;
        }
      }
      @include desktop {
        width: 100%;
        &:nth-child(1), &:nth-child(3) {
          display: none;
        }
      }
    }
  }
}

.all-reserved {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255,255,255,0.5);
}

.sub-footer-link a{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255,255,255,0.8);
}


.footer-menus {
  display: flex;
  align-items: flex-start;
  
  li {
    i {
      color: $red;
      margin-right: 20px;
    }
  }
  .footer-ul:first-child {
    @include phone {
      padding-right: 0;
      width: 100%;
    }
  }
  @include desktop {
    flex-wrap: wrap;
  }
}


.footer-ul {
  padding-right: 120px;
  &:last-child {
    padding-right: 0;
  }
  li {
    color: white;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    //line-height: 18px;
    margin-bottom: 30px;
    img {
      margin-right: 20px;
      width: 20px;
    }
    a {
      color: white;
      white-space: normal;
    }
  }
  @include desktop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 0;
    margin-top: 30px;
    &:first-child {
      margin-top: 0;
    }
    li {
      width: 50%;
    }
    li {
      &:last-child {
        width: 100%;
      }
    }
  }
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  .footer-link {
    width: 33.3333%;
    @include desktop {
      width: 50%;
      padding-right: 10px;
    }
  }
}



.footer-addresses-list {
  display: flex;
  align-items: flex-start !important;
  .footer-addresses {
    display: flex;
    flex-wrap: wrap;
    span {
      display: block;
      margin-bottom: 5px;
      @include desktop {
        width: 100%;
      }
    }
  }
}
