header {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 92;
  .header {
    @include desktop {
      position: relative;
    }
  }
}

.bg-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 95;
  background-color: rgba(0,0,0,.25);
  opacity: 0;
  visibility: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.is-count {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  color: white;
  background-color: $red;
  display: inline-block;
  text-align: center;
  margin-left: 2px;
  font-size: 12px;
}

button:focus {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.logo {
  display: inline-block;
  img {
    display: block;
    width: 100%;
  }
  @include desktop {
    width: 80px;
    margin-left: 16px;
  }
}

.header-top-block {
  border-bottom: 1px solid $border-color;
  background-color: #fff;
  .header-top {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    .header-top-l {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @include desktop {
        display: none;
      }
      .header-top-l-link {
        display: inline-block;
        margin-right: 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: $text-main;
      }
    }
    .header-top-r {
      display: flex;
      align-items: center;
      @include desktop {
        width: 100%;
        justify-content: space-between;
      }
      .header-top-r-list {
        margin-left: 24px;
        display: flex;
        align-items: center;
        @include desktop {
          display: none;
          &:first-child {
            display: flex;
            margin-left: 0;
          }
        }
        .header-top-r-list-text {
          font-family: 'Roboto', sans-serif;
          font-size: 12px;
          color: $text-main;
        }
        i, .is_icon {
          color: $text-main;
          margin-right: 5px;
          width: 13px;
          font-size: 13px;
        }
      }
    }
  }
  @include desktop {
    background-color: $content-bg;
    border-color: transparent;
  }
}

.header-basket-link {
  margin-right: 30px;
  @include desktop {
    margin-right: 0;
  }
  .header-basket-link-icon {
    position: relative;
    .header-basket-link-icon-count {
      width: 17px;
      height: 17px;
      border-radius: 50%;
      position: absolute;
      top: -6px;
      right: -7px;
      background-color: $red;
      color: $white;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
    }
  }
  .header-basket-link-title {
    margin-left: 14px;
    font-family: 'Roboto-m', sans-serif;
    color: $text-main;
    font-size: 14px;
  }
}


.header-block {
  border-bottom: 1px solid $border-color;
  background-color: #fff;
  padding: 24px 0;
  height: 95px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search-bar {
      flex: 1;
      margin-left: 60px;
      .input-group-prepend {
        @include desktop {
          display: none;
        }
      }
      @include desktop {
        position: absolute;
        left: 48px;
        right: 48px;
        margin-left: 0;
      }
    }
    .header-right {
      display: flex;
      align-items: center;
      height: 100%;
      @include desktop {
        justify-content: flex-end;
      }
      .header-right-list {
        margin-left: 30px;
        display: flex;
        align-items: center;
        position: relative;
        white-space: nowrap;
        @include desktop {
          margin-left: 8px;
        }
        .basket-mini {
          position: absolute;
          top: 110%;
          opacity: 0;
          visibility: hidden;
          left: inherit;
          right: 0;
          transform: translateX(50%);
          background-color: $white;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: -35px;
            height: 35px;
            opacity: 0;
          }
        }
        &.header-basket-link:hover {
          .basket-mini {
            opacity: 1;
            visibility: visible;
            top: calc(100% + 20px);
          }
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-left: auto;
        }
      }
    }
  }
  @include desktop {
    padding: 14px 0;
    height: 68px;
    border-bottom: none;
  }
}


.basket-mini {
  border: 1px solid $border-color;
  border-radius: 8px;
  min-width: 380px;
  .basket-mini-top {
    padding: 16px;
    box-shadow: inset 0px -1px 0px #E5E3E8;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: $text-main;
  }
  .basket-mini-body {
    padding: 12px 16px;
    min-height: min-content;
    max-height: 308px;
    overflow: auto;
    .basket-mini-body-list {
      display: flex;
      margin-bottom: 22px;
      &:last-child {
        margin-bottom: 0;
      }
      .is_left {
        margin-right: 12px;
        img {
          width: 80px;
        }
      }
      .is_right {
        white-space: normal;
        width: 100%;
        .is_right_title {
          width: 100%;
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          line-height: 22px;
          color: $text-main;
        }
        .is_right_count {
          font-family: 'Roboto', sans-serif;
          font-size: 12px;
          line-height: 16px;
          color: $text-light;
        }
        .product-price {
          font-family: 'Roboto-b', sans-serif;
          color: $red;
          margin-left: 0;
          font-size: 16px;
          &.product-old-price {
            font-family: 'Roboto', sans-serif;
            color: $text-light !important;
          }
        }
        .product-old-price {
          text-decoration: line-through;
        }
      }
    }
  }
  .basket-mini-footer {
    padding: 12px 16px;
    box-shadow: inset 0px 1px 0px #E5E3E8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn {
      border: 1px solid $border-color;
      border-radius: 6px;
      padding: 10px;
      transition: all .3s ease-in-out;
      width: calc(50% - 8px);
      font-size: 14px;
      letter-spacing: 0.2px;
      color: $text-main;
      &:hover {
        background-color: $red;
        color: $white;
      }
    }
  }
}


.menu {
  .dropdown {
    background-color: transparent;
    .btn-secondary {
      background-color: transparent;
      border: none;
      color: #000000;
      padding: 0;
      padding-left: 24px;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
    }
    .dropdown-item {
      font-size: 12px;
      //padding: 0.25rem 1rem;
    }
    .dropdown-menu {
      text-transform: uppercase;
      min-width: auto;
    }
  }
}


.search-bar {
  .btn-info {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-color: $border-color;
    color: $text-main;
  }
  .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
    background-color: #F4F4F4 !important;
    border-color: transparent !important;
    color: #000000 !important;
  }
}

.header-search-input {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000000;
  height: 48px;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  &::placeholder {
    color: $text-light;
  }
  @include desktop {
    border-radius: 6px !important;
    height: 40px;
    padding-right: 40px;
  }
}


.header-login-buttons {
  position: relative;
  cursor: pointer;
  .header-login-buttons-title {
    font-family: 'Roboto-m', sans-serif;
    font-size: 14px;
    color: $text-main;
  }
  .logon-block {
    background-color: #fff;
    width: 200px;
    border-radius: 8px;
    padding: 12px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    z-index: 96;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    button {
      border: 1px solid $border-color;
      padding: 12px;
      height: 40px;
      width: 100%;
      display: flex;
      font-family: 'Roboto-m', sans-serif;
      font-size: 14px;
      color: $text-main;
      background-color: #fff;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover, &:active {
        background-color: $red;
        color: $white;
      }
    }
  }
  @include desktop {
    display: none !important;
  }
}


.login-register-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  padding: 55px;
  box-shadow: 1px 3px 5px rgba(0,0,0,.35);
  display: none;
  height: 100vh;
  width: 600px;
  max-width: 100%;
  overflow-y: auto;
  &.active {
    display: block;
  }
  &.active-res {
    display: block;
    z-index: 2;
  }
  @include tablet {
    padding: 24px;
    height: calc(100vh - 108px);
  }
  .inner-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 110px);
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .auth-title {
    font-family: 'Roboto-b', sans-serif;
    font-size: 28px;
    color: #000000;
  }
  .home-tabs {
    .card-header {
      margin-bottom: 40px;
      background-color: $dark-gray;
      border-radius: 6px;
      padding: 5px;
      .card-header-pills {
        li {
          width: 50%;
          min-width: 212px;
          @include tablet {
            min-width: auto;
          }
        }
      }
      .nav-pills {
        .nav-link {
          display: flex;
        }
      }
    }
    @include tablet {
      width: 100%;
    }
  }
  .login-with-soc {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .login-with-soc-item {
      background-color: transparent;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-family: 'Roboto', sans-serif;
      color: $text-main;
      font-size: 12px;
      line-height: 14px;
      padding: 16px 28px;
      border-radius: 6px;
      border: 1px solid $border-color;
      img {
        margin-right: 12px;
      }
      @include tablet {
        width: 48%;
      }
    }
    .login-with-soc-line {
      position: relative;
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 24px;
      .is_text {
        background-color: $white;
        padding: 0 10px;
        position: relative;
        z-index: 2;
      }
      .is_line {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        background-color: $border-color;
      }
    }
  }
}


.form-btn {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  background-color: $red;
  color: $white;
  border: none;
  height: 56px;
  &:hover, &:focus {
    background-color: $red-hover;
  }
}


.close-block {
  position: absolute;
  top: 48px;
  right: 48px;
  background-color: transparent;
  border: none;
  @include tablet {
    top: 20px;
    right: 20px;
    padding: 0;
  }
  &:hover {
    border: none;
    background-color: transparent;
  }
  i {
    color: #000000;
    font-size: 24px;
  }
}


.mobile-menu {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid $border-color;
  box-shadow: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.is-mobile-border {
  @include desktop {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid $border-color;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }
}


.userName {
  position: relative;
  .userDropdown {
    position: absolute;
    top: 100%;
    background-color: #fff;
    border-radius: 6px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    border: 1px solid #E5E3E8;
    left: inherit;
    right: 0;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: -35px;
      height: 35px;
      opacity: 0;
    }
    .userDropdown-item {
      background-color: transparent;
      border-radius: 4px;
      padding: 12px;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      color: $text-main;
      border: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      transition: background-color .3s ease-in-out;
      &:hover, &:focus {
        background-color: $border-color;
        text-decoration: none;
        border: none;
        box-shadow: none;
      }
    }
    @include desktop {
      padding: 0;
      border: none;
    }
  }
  &:hover {
    .userDropdown {
      opacity: 1;
      visibility: visible;
      top: calc(100% + 20px);
    }
  }
}

.userName {
  @include desktop {
    .collapse.show {
      border-bottom: 1px solid $border-color;
    }
  }
}

.forgotPass {
  margin-bottom: 32px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: $blue;
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: left;
  &:hover, &:focus, &:active {
    text-decoration: underline;
    background-color: transparent !important;
    color: $blue !important;
    border: none !important;
    box-shadow: none;
  }
}

.error-info {
  margin: 5px 0;
}

.register-top-inputs {
  display: flex;
  .is-input {
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
}


.reset-pass {
  padding: 60px 0;
  .reset-pass-title {
    font-family: 'Roboto-b', sans-serif;
    font-size: 28px;
    line-height: 32px;
    color: $text-main;
    margin-bottom: 35px;
  }
  .resetPasswordForm {
    width: 50%;
    margin: 0 auto;
  }
}


.beforeResetPass {
  height: 100%;
  .beforeResetPass-title {
    margin-bottom: 56px;
    font-family: 'Roboto-b', sans-serif;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
  }
  .beforeResetPass-subtitle {
    margin-bottom: 12px;
    color: $text-main;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 18px;
  }
  .beforeResetPass-goback {
    width: auto;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    color: $text-main;
    font-family: 'Roboto-m', sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin-top: 24px;
    border: none;
    padding: 0;
    &:focus, &:active {
      border: none;
      box-shadow: none;
    }
    i {
      margin-right: 2px;
      margin-bottom: 0;
    }
  }
}
