<template>
  <div class="searchResults">
    <div class="container">
      <div class="searchResultsTop">
        <p class="searchResultsTop-title">
           <span class="searchResultsTop-subtitle">{{productBySlug.title}}</span>
        </p>
      </div>

      <div class="searchResult-inner">

        <b-row>
          <b-col cols="5" lg="2" v-for="item in productBySlug.data" :key="item.id">
            <ProductItem :item_list="item"/>
          </b-col>
        </b-row>

        <b-pagination
          v-model="currentPage"
          :total-rows="product_pagination.total"
          :per-page="product_pagination.per_page"
          first-number
          last-number
          @change="paginationChange"
        ></b-pagination>

      </div>

      <Partners />
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import ProductItem from "/components/products/Product-item";
import Partners from "../../components/Partners";

export default {
  name: "search-result",
  computed: {
    ...mapGetters({
      productBySlug: 'getProductBySlug',
      product_pagination: 'getProductPagination',
      t: 'getTranslations'
    }),
    currentPage:{
      get () {
        return this.product_pagination.current_page;
      },
      set (value) {
        this.$store.commit('SET_CURRENT_PAGE', value);
      }
    },
  },
  components: {Partners, ProductItem},
  watch: {
    '$route.query'(query) {
      const params = this.$route.params;
      this.$store.dispatch("fetchProductBySlugPagination", { slug: params.slug, query })
    }
  },
  methods: {
    paginationChange(){
      this.$nextTick(() => {
        this.$router.push({
          query: {
            page: this.currentPage
          }
        }, () => {
          window.scrollTo({
            top: 0,
            left: 0,
            behavior: 'smooth'
          })
        });
      })
    }
  },
  async asyncData({ store, params, query }) {
    await store.dispatch("fetchProductBySlug", params.slug);
    await store.dispatch("fetchProductBySlugPagination", {slug: params.slug, query});
  },
}
</script>
