<template>
  <div class="account-page">
    <div class="container">
      <div class="account-orders-inner" style="padding-top: 0">

          <div class="accordion-title" block v-b-toggle="`accordion-${invoiceData.id}`" variant="info">
            <div class="account-orders-inner-list">
              <div class="account-orders-inner-list-left">
                <div class="orders-inner-images">
                  <template v-if="invoiceData.items.length > 3">
                    <div class="orders-inner-img" v-for="z in invoiceData.items.slice(0, 2)">
                      <img :src="z.img.conversions.normal" alt=""/>
                    </div>
                    <span class="orders-inner-img plus-img" v-if="invoiceData.items.length > 3"> +{{invoiceData.items.length}}</span>
                  </template>

                  <template v-else>
                    <div class="orders-inner-img" v-for="z in invoiceData.items">
                      <img :src="z.img.conversions.normal" alt=""/>
                    </div>
                  </template>
                </div>
              </div>

              <div class="orders-inner-info">
                <div class="is_code" style="align-items: center;">
                  <span class="is_code_title mr-2">{{t.order_code}}</span>
                  <span>{{invoiceData.order_number}}</span>
                </div>
                <div class="is_date">{{invoiceData.order_date}}</div>
              </div>

              <div class="account-orders-inner-list-center">
                <img src="~images/icons/icon-order-blue.svg" alt="" v-if="invoiceData.order_status_id === 1">
                <img src="~images/icons/icon-order-orange.svg" alt="" v-if="invoiceData.order_status_id === 2">
                <img src="~images/icons/icon-order-red.svg" alt="" v-if="invoiceData.order_status_id === 3">
                <img src="~images/icons/icon-order-green.svg" alt="" v-if="invoiceData.order_status_id === 4">
                <span class="orders-inner-status">{{invoiceData.status}}</span>
              </div>

              <div class="account-orders-inner-list-invoice">
<!--                <img src="~images/icons/invoys.svg" alt="">-->
                <div class="invoice-content">
<!--                  <div class="invoice-top">-->
<!--                    <span>{{t.invoice}}</span>-->
<!--                  </div>-->
<!--                  <div class="invoice-bottom">-->
<!--                    <button>{{t.donwload}}</button>-->
<!--                    <button>{{t.see}}</button>-->
<!--                  </div>-->
                </div>
              </div>

              <div class="account-orders-inner-list-price account-orders-inner-list-right">
                <div class="orders-inner-price text-right align-items-end">{{invoiceData.total_price}} AZN</div>
                <div class="order-pay-method text-right">{{invoiceData.payment_method}}</div>
              </div>
            </div>
          </div>

            <div class="order-product-lists" style="background: #f7f7f7">
              <div class="order-product-list" v-for="item in invoiceData.items" :key="item.name">
                <div class="order-product-list-left">
                  <div class="is-left-img">
                    <img :src="item.img.conversions.normal" alt="">
                  </div>
                  <div class="is-left-content">
                    <h3 class="is-left-title">{{item.name}}</h3>
                    <h4 class="is-left-price">{{item.price}} AZN</h4>
                  </div>
                </div>

                <div class="order-product-list-right">
                  <!-- <NuxtLink to="" class="order-product-list-right-btn">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M3.33301 12.5C3.33301 12.5 4.16634 11.6667 6.66634 11.6667C9.16634 11.6667 10.833 13.3333 13.333 13.3333C15.833 13.3333 16.6663 12.5 16.6663 12.5V2.49999C16.6663 2.49999 15.833 3.33332 13.333 3.33332C10.833 3.33332 9.16634 1.66666 6.66634 1.66666C4.16634 1.66666 3.33301 2.49999 3.33301 2.49999V12.5Z" stroke="#484848" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M3.33301 18.3333V12.5" stroke="#484848" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>{{t.report}}</span>
                  </NuxtLink> -->

                  <button @click="showModal(item.product_id)" class="order-product-list-right-btn">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M17.5 13.3333C17.5 13.7754 17.3244 14.1993 17.0118 14.5119C16.6993 14.8244 16.2754 15 15.8333 15H5.83333L2.5 18.3333V5.00001C2.5 4.55798 2.67559 4.13406 2.98816 3.8215C3.30072 3.50894 3.72464 3.33334 4.16667 3.33334H15.8333C16.2754 3.33334 16.6993 3.50894 17.0118 3.8215C17.3244 4.13406 17.5 4.55798 17.5 5.00001V13.3333Z" stroke="#484848" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>{{t.add_to_comment}}</span>
                  </button>
                </div>
              </div>
            </div>


      </div>

    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "invoice",
  async asyncData({ store, query }) {
    await store.dispatch('sendInvoiceToken', query.token)
  },
  computed: {
    ...mapGetters({
      invoiceData: 'getInvoiceData',
      t: 'getTranslations'
    })
  }
}
</script>
