@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1230px;
  }
}

body {
  letter-spacing: 0.2px;
}

.container {
  @include desktop {
    max-width: 100%;
  }
}

a:hover {
  text-decoration: none !important;
}

*:focus-visible, *:focus {
  outline: none !important;
}

button:disabled {
  img {
    opacity: 0.3;
  }
}

button, ul li a, input, .custom-control-input:focus ~ .custom-control-label::before {
  outline: none;
  box-shadow: none;
}

.not-stock-product {
  margin-right: 8px;
  border: 1px solid $border-color;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.2px;
  font-family: 'Roboto-m', sans-serif;
  color: $text-main;
  border-radius: 6px;
  height: 48px;
  max-width: 175px;
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
}

button:focus, .btn:focus {
  outline: none;
  box-shadow: none;
}

.main-section {
  padding-top: 136px;
  min-height: 70vh;
  @include desktop {
    padding-top: 109px;
  }
}

.userNameFirstLetter {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background-color: $border-color;
  margin-right: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto-b', sans-serif;
  font-size: 14px;
  color: $text-main;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
  @include desktop {
    & > [class^="col-"],
    & > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}


.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: $border-color;
}

input:focus {
  outline: none;
}

body {
  background-color: $content-bg;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.stn-btn {
  background-color: $red;
  color: $white;
  height: 48px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: none;
  transition: background-color .3s ease-in-out;
  &:hover {
    background-color: $red-hover;
  }
}

.section-title {
  font-family: 'Roboto-b', sans-serif;
  color: $text-main;
  margin-bottom: 40px;
  font-size: 28px;
  @include desktop {
    font-size: 20px;
    margin-bottom: 25px;
  }
}

.home-top-wrap {
  padding-top: 32px;
  padding-bottom: 80px;
  background-color: #fff;
  @include desktop {
    padding-top: 0;
    padding-bottom: 32px;
  }
}

.category-tree-block {
  width: 100%;
  height: 100%;
  .category-tree {
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    .category-tree-li {
      padding: 12px 10px;
      display: flex;
      cursor: pointer;
      justify-content: flex-start;
      align-items: center;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      &:first-child {
        .sub-menu {
          border-top-left-radius: 0;
        }
      }
      &:last-child {
        .sub-menu {
          border-bottom-left-radius: 0;
        }
      }
      //position: relative;
      .category-tree-li-img {
        width: 24px;
        height: 24px;
        object-fit: contain;
        display: inline-block;
      }
      .category-tree-li-text {
        font-family: 'Roboto', sans-serif;
        color: $text-main;
        font-size: 14px;
        margin-left: 8px;
        transition: color .3s ease-in;
      }
      .sub-menu {
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        background: #F4F4F4;
        opacity: 0;
        visibility: hidden;
        overflow-y: auto;
        z-index: 5;
        border-radius: 6px;
        min-width: 225px;
        height: 100%;
        padding: 8px;
        //transition: .3s ease-in-out;
        .child-tree-link {
          display: flex;
          padding: 13px 15px;
          height: 48px;
          align-items: center;
          justify-content: space-between;
          border-radius: 6px;
          transition: background-color .3s ease-in;
          span {
            color: $text-main;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
          }
          &:hover {
            background-color: #ffffff;
            text-decoration: none;
          }
        }
        @include desktop {
          left: 0;
          background-color: #fff;
          right: 0;
          width: 100%;
          height: 100%;
        }
      }
      &:hover {
        background: #F4F4F4;
        .sub-menu {
          opacity: 1;
          visibility: visible;
        }
      }
      //img:first-child {
      //  margin-right: 13px;
      //}
      .category-tree-li-arrow {
        margin-left: auto;
        margin-right: 0;
        transform: rotate(-90deg);
      }
    }
  }
}

.category-dropdown .dropdown-menu {
  width: max-content;
}

#homeSlider {
  .swiper-slide {
    border-radius: 6px;
    overflow: hidden;
    height: 531px;
    img {
      width: 100%;
      display: block;
      height: 100%;
      border-radius: 6px;
      object-fit: cover;
    }
    @include desktop {
      height: 240px;
    }
  }
}

.swiper-pagination, .swiper-pagination-bullets {
  width: auto !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  border-radius: 10px;
  height: 16px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  background: rgba(0,0,0,0.2) !important;
  .swiper-pagination-bullet {
    background: #fff;
    opacity: 1;
    cursor: pointer;
  }
  .swiper-pagination-bullet-active {
    background: $red;
  }
}


.promotion-block {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  .promotion-list {
    display: block;
    width: 100%;
    height: 166px;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 16px;
    &:first-child {
      margin-top: 0;
    }
    img {
      width: 100%;
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
}

.home-promotion-section {
  padding: 80px 0;
  background-color: $white;
  @include desktop {
    padding: 32px 0;
  }
}


@media screen and (min-width: 1200px){
  .home-promotion .swiper-pagination {
    opacity: 0;
    visibility: hidden;
  }
}

#homePromotionSlider {
  .swiper-slide {
    width: 33%;
    padding: 0 12px;
    a {
      height: 166px;
      border-radius: 6px;
      overflow: hidden;
      display: block;
      border: 1px solid $border-color;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }
}


.home-promotion {
  .swiper-slide {
      a {
        img {
          width: 100%;
          display: block;
          border-radius: 6px;
          height: 100%;
          object-fit: contain;
        }
      }
  }
}

.product-inner-info-title {
  font-family: 'Roboto-b', sans-serif;
  font-size: 28px;
  line-height: 32px;
  color: $text-main;
  margin-top: 10px;
  @include tablet {
    margin-top: 32px;
    font-size: 20px;
  }
}

.category-banner {
  position: relative;
  height: auto;
  overflow: hidden;
  border-radius: 6px;
  .category-banner-top {
    position: absolute;
    top: 24px;
    left: 40px;
    z-index: 88;
  }
  .category-banner-title {
    color: white;
    font-family: 'Roboto-b', sans-serif;
    font-size: 36px;
    line-height: 48px;
    margin-top: 16px;
    margin-bottom: 0;
  }
  .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
    .breadcrumb-item {
      a {
        color: #000000;
      }
    }
  }
  .swiper-slide {
    height: 240px;
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: 6px;
    }
    @include desktop {
      height: auto;
    }
  }
}


.partners-wrap {
  padding: 80px 0;
  @include desktop {
    padding: 32px 0;
  }
  #partnersSlider {
    text-align: center;
    .partners-item {
      background-color: #fff;
      padding: 11px 20px;
      border: 1px solid $border-color;
      border-radius: 6px;
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
    }
  }

}


.company-info-wrap {
  background-color: $content-bg;
  padding: 80px 0;
  @include desktop {
    padding: 32px 0;
  }
  .company-info {
    display: flex;
    background-color: #fff;
    border-radius: 6px;
    padding: 25px 0;
    .company-info-item {
      display: flex;
      width: 25%;
      padding: 0 30px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-right: 1px solid $border-color;
      @include desktop {
        flex-direction: row;
        border-radius: 6px;
        justify-content: flex-start;
        text-align: inherit;
        .company-info-item-left {
          width: 74px;
          text-align: center;
        }
        &:nth-child(1) img {
          height: 35px;
        }
        &:nth-child(2) img {
          height: 40px;
        }
        &:nth-child(3) img {
          height: 42px;
        }
        &:nth-child(4) img {
          height: 38px;
        }
        .company-info-item-left {
          margin-right: 16px;
        }
        .company-info-item-right {
          white-space: nowrap;
          .is-title {
            margin-top: 0;
          }
        }
      }
      &:last-child {
        border-right: none;
      }
      img {
        width: max-content;
      }
      .is-title {
        margin-top: 10px;
        font-family: 'Roboto-b', sans-serif;
        font-size: 18px;
        color: $text-main;
        margin-bottom: 5px;
        line-height: 22px;
      }
      .is-subtitle {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: $text-main;
        line-height: 18px;
      }
    }
    @include desktop {
      flex-wrap: wrap;
      background-color: transparent;
      .company-info-item {
        width: 50%;
        background-color: #fff;
        margin-bottom: 12px;
        padding: 24px 30px;
        border: none;
      }
    }
    @include tablet {
      flex-wrap: wrap;
      background-color: transparent;
      .company-info-item {
        width: 100%;
        background-color: #fff;
        margin-bottom: 12px;
        padding: 24px 30px;
        border: none;
      }
    }
  }
}


/* filter styles */
.filter-item {
  margin-bottom: 30px;
  .form-group {
    margin-bottom: 0;
  }
  .custom-control {
    cursor: pointer;
    display: block;
  }
  legend {
    margin-bottom: 16px;
    font-family: 'Roboto-b', sans-serif;
    font-size: 16px;
    line-height: 22px;
  }
  .custom-control-label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 18px;
  }
  .custom-control-label::before {
    border-color: $border-color;
    border-radius: 4px;
    top: 0;
  }
  .custom-control-label::after {
    top: 0;
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $red;
    color: white;
    border-color: transparent;
  }
  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
  }
  .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    background-color: #ffffff;
    border-color: transparent;
  }
}

/* basket */
.basket-wrap {
  padding-top: 60px;
  padding-bottom: 80px;
  min-height: 450px;
  .basket-title {
    font-family: 'Roboto-b', sans-serif;
    font-size: 28px;
    color: $text-main;
    margin-bottom: 32px;
    span {
      font-family: 'Roboto', sans-serif;
      color: $text-medium;
      font-size: 22px;
      display: inline-block;
      margin-left: 10px;
    }
  }
  @include tablet {
    padding: 32px 0;
    .basket-title {
      font-size: 20px;
    }
  }
}

.brand-title {
  font-family: 'Roboto-b', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 16px;
}


.basket-items {
  .basket-item {
    margin-bottom: 16px;
    background-color: #fff;
    padding: 24px 32px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    @include tablet {
      padding: 16px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .basket-img {
      min-width: 112px;
      max-width: 112px;
      height: 112px;
      margin-right: 27px;
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
      }
    }
    .basket-item-right {
      width: 100%;
      display: flex;
      align-items: center;
      .basket-item-content {
        .basket-item-content-title {
          font-family: 'Roboto-m', sans-serif;
          font-size: 16px;
          color: $text-main;
          margin-bottom: 5px;
          line-height: 22px;
        }
        .basket-item-content-code {
          margin-bottom: 8px;
          font-family: 'Roboto', sans-serif;
          color: $text-medium;
          font-size: 13px;
        }
        .basket-item-content-price {
          font-family: 'Roboto-b', sans-serif;
          font-size: 18px;
          color: $text-main;
          .old-price {
            font-family: 'Roboto-m', sans-serif;
            font-size: 16px;
            color: $text-light;
            display: inline-block;
            margin-left: 13px;
            text-decoration: line-through;
          }
        }
      }
      @include tablet {
        flex-wrap: wrap;
        .basket-item-content {
          .basket-item-content-price {
            display: flex;
            margin-bottom: 12px;
          }
          .basket-item-content-title {
            font-size: 14px;
            line-height: 18px;
          }
          .basket-item-content-code {
            font-size: 12px;
          }
        }
        .basket-item-count {
          margin: 0;
        }
      }
    }
  }
}

.basket-total-block {
  background-color: #fff;
  border-radius: 6px;
  padding: 32px;
  position: sticky;
  top: 136px;
  .basket-total-block-title {
    font-family: 'Roboto-b', sans-serif;
    font-size: 18px;
    color: #000000;
    margin-bottom: 5px;
  }
  .basket-total-block-cost {
    font-family: 'Roboto-b', sans-serif;
    font-size: 24px;
    color: $red;
    margin-bottom: 24px;
    letter-spacing: 0.2px;
  }
}

.cost-btn {
  width: 100%;
  height: 56px;
  padding: 18px;
  font-family: 'Roboto-m', sans-serif;
  font-size: 16px;
  color: white;
  background-color: $green;
  border-radius: 6px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  transition: background-color .3s ease-in-out;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: $green-hover;
  }
}

.promocode-btn {
  padding: 12px 24px;
  border-radius: 6px;
  background-color: rgb(236 49 55 / 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $red;
  border: none;
  font-family: 'Roboto-b', sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
  margin-right: 0;
  width: 100%;
  height: 56px;
  &:hover {
    background-color: rgb(236 49 55 / 10%);
    color: $red;
  }
  img {
    margin-right: 15px;
  }
}

.basket-total-block-ul {
  margin-bottom: 24px;
  border-bottom: 1px solid $border-color;
  .basket-total-block-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    span:first-child {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      color: $text-main;
    }
    span:last-child {
      font-family: 'Roboto-m', sans-serif;
      font-size: 14px;
      color: $footer-bg;
    }
  }
}

.basket-item-count {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  .output {
    border-left: 0 !important;
    border-right: 0 !important;
    width: 40px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .btn {
    width: 32px;
    height: 32px;
    border-radius: 4px !important;
    display: flex;
    align-items: center;
    background-color: $white;
    justify-content: center;
    border: 1px solid $border-color !important;
    color: $text-main;
  }
}

.close-item-btn {
  margin-left: 30px;
  background-color: transparent;
  color: $text-main;
  border: none;
  padding: 0;
}

/* home tabs */
.home-tabs {
  border: none;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: transparent;
  .card-header {
    background-color: transparent;
    border: none;
    padding: 0;
    .nav {
      //flex-wrap: nowrap;
      .nav-item {
        white-space: nowrap;
      }
    }
  }
  .card-body {
    padding: 0;
  }
  .card-header-pills {
    margin: 0;
  }
  .nav-pills .nav-link {
    font-family: 'Roboto-m', sans-serif;
    font-size: 16px;
    color: $text-main;
    height: 54px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include desktop {
      font-size: 12px;
      padding: 12px;
      height: 40px;
    }
  }
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: $white;
  }
}

.products-wrap {
  &.is-popular {
    .home-tabs {
      .card-header {
        margin-bottom: 40px;
        @include desktop {
          margin-bottom: 0;
          .nav {
            //overflow-y: auto;
          }
        }
      }
      .nav-pills {
        .nav-link {
          &.active {
            background-color: $red;
            color: $white;
          }
        }
      }
    }
  }
  .product-see-more {
    text-align: center;
    margin-top: 30px;
    @include tablet {
      margin-top: 20px;
    }
    .see_more_btn {
      font-family: 'Roboto', sans-serif;
      color: $text-main;
      font-size: 18px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 22px;
      border: 1px solid $border-color;
      height: 48px;
      padding: 0 25px;
      border-radius: 6px;
      transition: all .3s ease-in-out;
      img {
        margin-left: 13px;
        width: 26px;
      }
      &:hover {
        text-decoration: none;
        background-color: $red-hover;
        color: white;
      }
    }
  }
}

.goToLink {
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  color: $text-main;
  font-size: 16px;
  margin-top: 8px;
  display: inline-block;
  @include tablet {
    margin-bottom: 32px;
  }
}

.account-page {
  padding-top: 130px;
  padding-bottom: 60px;
  .home-tabs {
    margin: 0;
    .nav {
      .nav-item {
        .nav-link {
          i {
            margin-right: 8px;
          }
        }
      }
    }
    .tab-content {
      margin-left: 65px;
      @include tablet {
        margin-left: 0;
    }
    }
    .nav-link.active {
      color: $red;
      background-color: transparent;
    }
  }
  .account-title {
    font-family: 'Roboto-b', sans-serif;
    font-size: 28px;
    line-height: 36px;
    position: absolute;
    top: -80px;
    left: 0;
  }
  @include desktop {
    padding: 32px 0;
  }
}

.account-left {
  .account-left-list {
    //padding: 14px 16px;
    min-height: 50px;
    color: $text-main;
    a {
      color: $text-main;
      //margin-left: 10px;
      font-family: 'Roboto-m', sans-serif;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      i {
        color: $text-main;
        margin-right: 10px;
      }
      &.nuxt-link-active {
        color: $red;
        i {
          color: $red;
        }
      }
      &:hover {
        text-decoration: none;
        color: $red;
        i {
          color: $red;
        }
      }
    }
  }
}

.account-orders-inner {
  border-radius: 6px;
  padding: 40px 32px;
  background-color: $white;
  .acc-head {
    margin-bottom: 16px;
    overflow: hidden;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .account-orders-inner-list {
    margin-bottom: 24px;
    border-radius: 6px;
    padding: 24px;
    display: flex;
    align-items: center;
    .orders-inner-images {
      display: flex;
      //min-width: 85px;
      max-width: 85px;
      margin-right: 20px;
      .orders-inner-img {
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
        margin-right: 12px;
        border-radius: 50%;
        border: 1px solid $border-color;
        transform: translateX(-30px);
        &.plus-img {
          background-color: #fff;
          color: $red;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-family: 'Roboto-b', sans-serif;
          font-size: 14px;
          line-height: 16px;
        }
        &:first-child {
          transform: none;
        }
        &:nth-child(3) {
          transform: translateX(-60px);
        }
        img {
          width: 100%;
          border-radius: 50%;
          height: 100%;
          object-fit: contain;
          display: block;
        }
      }
    }
    .account-orders-inner-list-right{
      width: 100%;
      display: flex;
      align-items: center;
    }
    .account-orders-inner-list-center{
      width: 25%;
      padding: 0 15px;
    }
    .account-orders-inner-list-invoice {
      width: 25%;
      display: flex;
      align-items: center;
      img {
        margin-right: 12px;
        width: 24px;
        height: 24px;
      }
      .invoice-top {
        span {
          font-family: 'Roboto-b', sans-serif;
          font-size: 14px;
          line-height: 18px;
          color: $text-main;
        }
      }
      .invoice-link {
        font-size: 13px;
        line-height: 16px;
        padding: 0;
        text-decoration: underline;
        color: $text-medium;
        &:first-child {
          margin-right: 5px;
        }
      }
    }
    .account-orders-inner-list-price {
      display: flex;
      justify-content: flex-end;
      width: 25%;
      flex-wrap: wrap;

      .orders-inner-price {
        margin-left: auto;
        font-family: 'Roboto-b', sans-serif;
        font-size: 14px;
        color: $text-main;
        width: 100%;
        text-align: right;
      }
      .order-pay-method {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        text-align: right;
        line-height: 16px;
        color: $text-medium;
      }
    }
    .orders-inner-info {
      width: 25%;
      .is_title {
        font-family: 'Roboto-m', sans-serif;
        color: $text-main;
        font-size: 14px;
        margin-bottom: 6px;
        line-height: 18px;
      }
      .is_code {
        font-family: 'Roboto-b', sans-serif;
        font-size: 16px;
        color: $text-main;
        margin-bottom: 2px;
        line-height: 22px;
        margin-right: 4px;
        display: flex;
        align-items: center;
        .is_code_title {
          font-family: 'Roboto', sans-serif;
          color: $text-medium;
          font-size: 14px;
          line-height: 18px;
        }
      }
      .is_date {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: $text-medium;
        line-height: 15px;
      }
    }
    .orders-inner-status {
      font-family: 'Roboto-b', sans-serif;
      font-size: 14px;
      color: $text-main;
    }
    &:last-child {
      margin-bottom: 0;
    }
    @include desktop {
      padding: 16px;
      flex-wrap: wrap;
      .account-orders-inner-list-left {
        width: 100%;
      }
      .account-orders-inner-list-right {
        flex-wrap: wrap;
      }
      .account-orders-inner-list-center {
        padding: 0;
        width: 100%;
        margin-top: 20px;
      }
      .account-orders-inner-list-invoice {
        display: none;
        width: 50%;
      }
      .account-orders-inner-list-price {
        justify-content: flex-start;
        width: 50%;
        display: none;
        .orders-inner-price, .order-pay-method {
          text-align: left;
        }
      }
      .orders-inner-info {
        flex: 1;
      }
    }
  }
  @include desktop {
    padding: 0;
    background-color: transparent;
  }
}

.not-collapsed {
  @include desktop {
    .account-orders-inner-list-invoice, .account-orders-inner-list-price {
      display: flex !important;
    }
  }
}

.account-info {
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
  padding: 32px 40px;
  border-radius: 6px;
  .stn-btn {
    margin-top: 16px;
    width: 100%;
  }
  .account-info-title {
    color: $text-main;
    margin-bottom: 24px;
    font-family: 'Roboto-b', sans-serif;
    font-size: 20px;
  }
  @include desktop {
    padding: 16px;
  }
}

.swiper-pagination:empty {
  display: none;
}

.error-page {
  background-color: $white;
  border-radius: 6px;
  min-height: 480px;
  margin-top: 80px;
  margin-bottom: 140px;
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.input-wrapper {
  position:relative;
  line-height:14px;
  display:inline-block;
  width: 100%;
  margin-bottom: 18px;
  label {
    font-family: 'Roboto', sans-serif;
    color:$text-medium;
    font-size:12px;
    position:absolute;
    z-index:2;
    left:20px;
    top:17px;
    padding:0 4px;
    pointer-events:none;
    background:white;
    transition:transform 100ms ease;
    transform:translateY(-23px);
    margin-bottom: 0;
  }
  input {
    color:$text-medium;
    outline:none;
    position:relative;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    width: 100%;
    border-radius: 6px;
    height: 48px;
    background-color: $white;
    padding: 16px;
    border: 1px solid $border-color;

    &:invalid + label {
      transform:translateY(0);
    }

    &:focus {
      border-color:$text-medium;
      & + label {
        color:$text-medium;
        transform:translateY(-23px);
      }

    }

  }
}

.wishlist-btn-active {
  color: $red;
  opacity: 1 !important;
  visibility: visible !important;
}

.searchResults {
  padding: 60px 0;
  .searchResultsTop-title {
    font-family: 'Roboto-b', sans-serif;
    color: $text-main;
    font-size: 28px;
    margin-bottom: 36px;
    .searchResultsTop-subtitle {
      font-family: 'Roboto-m', sans-serif;
      font-size: 24px;
      text-transform: capitalize;
    }
  }
  @include desktop {
    padding: 32px 0;
  }
}

.swiper-button-prev, .swiper-button-next {
  color: #000000 !important;
}



/* Compare */

.compare-page {
  padding: 60px 0;
  .compare-title {
    margin-bottom: 32px;
    font-family: 'Roboto-b', sans-serif;
    color: $text-main;
    font-size: 28px;
  }
  .close-tab {
    background-color: $border-color;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-flex;
    border: none;
    box-shadow: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    i {
      color: $text-main;
      font-size: 11px;
    }
  }
  .nav-tabs .nav-link {
    margin-bottom: 0;
  }
  .tabs {
    .nav {
      border: none;
      .nav-item {
        display: flex;
        .nav-link {
          background-color: transparent;
          color: $text-main;
          font-family: 'Roboto-b', sans-serif;
          font-size: 16px;
          //height: 60px;
          border: none;
          border-bottom: 2px solid transparent;
          padding: 17px 24px;
          &.active {
            border-color: $red;
          }
          @include desktop {
            height: auto;
          }
        }
      }
      @include desktop {
        flex-wrap: nowrap;
        overflow-x: auto;
        .nav-item {
          a {
            display: flex;
            white-space: nowrap;
            min-width: max-content;
          }
        }
      }
    }
    .tab-content {
      margin-top: 22px !important;
    }
  }
  @include desktop {
    padding: 32px 0;
  }
}

.product-item.compare-product-item {
  border-color: $border-color;
  margin-top: 0;
  height: 326px;
  .product-item-thumb {
    padding: 0;
    height: 176px;
  }
  .wishlist-btn {
    right: 60px !important;
  }
  .compare-btn {
    right: 16px !important;
  }
}

.compare-body {
  .compare-lists {
    border-radius: 6px;
    background-color: $white;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 23px;
    padding-right: 18px;
    flex: auto;
    @include desktop {
      padding: 16px;
      width: 50%;
      overflow-y: auto;
      padding-left: 8px;
    }
  }
  .compare-left {
    border-radius: 6px;
    padding: 32px;
    background-color: $white;
    .compare-params {
      background-color: $content-bg;
      border-radius: 6px;
      padding: 32px 24px;
      margin-bottom: 108px;
      min-width: 204px;
      min-height: 196px;
      .custom-control-label {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
      }
      .custom-control-input:focus {
        box-shadow: none;
        outline: none;
        border-color: transparent;
      }
      .custom-control-label::before {
        width: 16px;
        height: 16px;
      }
      .custom-control-input:checked ~ .custom-control-label::before {
        color: $red;
        background-color: $red;
        border-color: $red;
      }
    }
    .compare-params-lists {
      .compare-params-list-li {
        font-family: 'Roboto', sans-serif;
        color: $text-main;
        font-size: 16px;
        &.is_title {
          font-family: 'Roboto-b', sans-serif;
          color: $red;
          margin-bottom: 32px;
        }
      }
    }
    @include desktop {
      padding: 16px;
      width: auto;
      padding-right: 8px;
      .compare-params {
        min-width: auto;
        padding: 16px;
      }
    }
  }
}


.compare-body {
  &.is_top {
    .compare-left, .compare-lists {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &.is_bottom {
    .compare-left, .compare-lists {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}


// .diff {
//   color: $red;
// }


.compare-lists {
  display: flex;
  .compare-list {
    width: 33.3333%;
    max-width: 262px;
    min-width: 200px;
    margin: 0 17px;
    // last child compare list
    @include desktop {
      width: 100%;
      margin: 0 5px;
    }
    &:last-child {
      padding-right: 0;
      .compare-product-infos {
        margin-right: 0;
        .compare-product-info {
          padding-right: 0;
        }
      }
    }
  }
}

.compare-list-product {
  margin-bottom: 32px;
  padding: 0 18px;
  height: 326px;
  border: 1px solid $border-color;
  border-radius: 8px;
  position: relative;
  .close-compare-product-btn {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $border-color;
    i {
      color: #000;
    }
  }
}

.compare-product-infos {
  padding-top: 42px;
  padding-bottom: 42px;
  margin-right: -32px;
  border-bottom: 1px solid $border-color;
  .compare-product-info {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 24px;
    padding-right: 32px;
    color: $text-main;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &:first-of-type {
    padding-top: 0;
  }
}


.range-filter {
  .price-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      width: 100%;
      margin-left: 0;
    }
  }
  .price-controls-text {
    padding: 0 12px;
    color: #CBCBCB;
  }
  .vue-slider {
    margin-top: 18px;
    .vue-slider-rail {
      .vue-slider-process{
        background-color: $red;
      }
      .vue-slider-dot-handle {
        border: 1px solid $red;
      }
    }
  }
}

.empty-page {
  text-align: center;
  margin-top: 40px;
  p {
    margin-top: 48px;
  }
}


.compare-table {
  width: 100%;
  display: table;
  background-color: #fff;
  .compare-table-title {
    font-family: 'Roboto-b', sans-serif;
    font-size: 16px;
    color: $red;
    margin-bottom: 32px;
  }
  .compare-teble-opt-title {
    margin-right: 70px;
  }
}

/* service center */

.service-center-page {
  padding: 60px 0;
  .service-center {
    .service-center-title {
      margin-bottom: 40px;
      font-family: 'Roboto-b', sans-serif;
      font-size: 28px;
      color: $text-main;
    }
  }
  .service-center-body-title {
    color: $text-main;
    font-size: 24px;
    font-family: 'Roboto-b', sans-serif;
    margin-bottom: 40px;
  }
  .service-center-body {
    display: flex;
    .service-center-left {
      width: 50%;
      background-color: $white;
      padding: 48px;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      .service-center-body-content {
        margin-top: 24px;
        color: $text-main;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 32px;
      }
      @include desktop {
        width: 100%;
      }
    }
    .service-center-right {
      width: 50%;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      @include desktop {
        display: none;
      }
      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.service-center-input {
  height: 52px;
  border: 1px solid $border-color;
  padding: 0 16px;
  display: flex;
  margin-bottom: 24px;
  border-radius: 6px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  &::placeholder {
    color: #7f7f7f;
  }
}

.service-center-textare {
  width: 100%;
  resize: none;
  padding: 16px;
  border: 1px solid $border-color;
  min-height: 160px;
  border-radius: 6px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-bottom: 32px;
  &::placeholder {
    color: #7f7f7f;
  }
  &.is-invalid {
    border-color: $red;
  }
}

#homePromotionTopSlider {
  height: 144px;
  margin-top: 16px;
  .promotion-list {
    height: 100%;
    img {
      display: block;
      border-radius: 6px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .swiper-slide {
    //padding: 0 12px;
    //&:first-child {
    //  padding-left: 0;
    //}
  }
}


.v-select {
  margin-bottom: 18px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    width: 10px;
    height: 10px;
    border-right: 2px solid $border-color;
    border-top: 2px solid $border-color;
    transform: translateY(-50%) rotate(132deg);
    background-color: transparent;
    transition: all .3s ease-in-out;
  }
  &.vs--open {
    &:after {
      transform: rotate(-45deg) translateY(-50%);
    }
  }
  .vs__dropdown-toggle {
    border-color: $border-color;
    height: 48px;
    padding: 0 16px;
    .vs__selected-options {
      align-items: center;
      .vs__selected {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: $text-medium;
        margin: 0;
        padding: 0;
      }
    }
    .vs__actions {
      display: none;
    }
  }
  &.is-invalid {
    .vs__dropdown-toggle {
      border-color: $red;
    }
  }
}

.loginSelectedBlock {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  .loginSelectedBlock-item {
    width: calc(25% - 16px);
    margin: 0 8px;
    margin-bottom: 16px;
  }
}


.order-wrap {
  .cost-btn {
    margin-bottom: 0;
  }
  @include tablet {
    background-color: #fff;
    .orderInfoWrap {
      .orderInfoWrap-bottom {
        padding: 0;
      }
    }
  }
}

.orderInfoWrap {
  background-color: $white;
  .orderInfoWrap-top {
    padding: 32px;
    border-bottom:  1px solid $border-color;
    position: -webkit-sticky;
    position: sticky;
    top: 136px;
    background-color: $white;
    display: flex;
    z-index: 22;
    align-items: center;
    justify-content: flex-start;
    .orderInfoWrap-top-list {
      color: #CBCBCB;
      margin-right: 24px;
      font-family: 'Roboto-b', sans-serif;
      font-size: 14px;
      display: flex;
      align-items: center;
      span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        text-align: center;
        background-color: #CBCBCB;
        color: white;
        margin-right: 12px;
      }
      hr {
        width: 64px;
        margin-left: 28px;
        background-color: $border-color;
      }
      &.active {
        color: #000000;
        span {
          background-color: $red;
          color: $white;
        }
      }
    }
    @include desktop {
      top: 99px;
    }
  }
  .orderInfoWrap-bottom {
    padding: 24px 32px;
    .order-title {
      margin-bottom: 27px;
      font-family: 'Roboto-b', sans-serif;
      color: $text-main;
      font-size: 23px;
      line-height: 26px;
      margin-top: 40px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.pay-type-list {
  .pay-type {
    margin-bottom: 16px;
    label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      border-radius: 6px;
      border: 1px solid $border-color;
      margin-bottom: 16px;
      padding: 12px 16px;
      position: relative;
      transition: .3s ease-in-out;
      .pay-type-icon {
        margin-right: 12px;
      }
      .pay-type-content {
        .pay-type-content-title {
          font-family: 'Roboto-m', sans-serif;
          font-size: 14px;
          line-height: 18px;
          color: $text-main;
          margin-bottom: 2px;
        }
        .pay-type-content-subtitle {
          color: #858585;
          font-size: 11px;
          line-height: 12px;
          padding-right: 18px;
        }
      }
      &:before {
        content: '';
        position: absolute;
        border-color: #009933;
        border-style: solid;
        border-width: 0 0.3em 0.25em 0;
        height: 1em;
        top: 50%;
        right: 25px;
        transform: rotate(45deg) translateY(-50%);
        width: 0.5em;
        opacity: 0;
      }
    }
    input[type=radio] {
     display: none;
    }
    input[type=radio]:checked + label {
      border-color: #858585;
      &:before {
        opacity: 1;
      }
    }
  }
}

.verify_email {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  font-family: 'Roboto', sans-serif;
  color: $red;
  font-size: 14px;
  padding: 0 10px;
  background-color: transparent;
  a {
    text-decoration: underline;
    color: blue;
    margin-left: 3px;
    font-size: 14px;
  }
}

.product-inner {
  background-color: #fff;
  .thumb-example {
    display: flex;
    justify-content: flex-start;
    .swiper-wrapper {
      justify-content: flex-start;
    }
    .swiper {
      .swiper-slide {
        background-size: cover;
        background-position: center;
      }

      .swiper-container-vertical {
        .swiper-wrapper {
          justify-content: flex-start;
          transform: translate3d(0,0,0) !important;
        }
      }

      &.gallery-top {
        order: 2;
        .gallery-top-img {
          width: 400px;
          max-height: 376px;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
          }
        }
      }
      &.gallery-thumbs {
        box-sizing: border-box;
        order: 1;
        max-height: 375px;
        overflow-y: hidden;
        .swiper-button-next {
          position: absolute;
          bottom: 0;
          top: inherit;
          transform: rotateX(90deg);
        }
      }
      &.gallery-thumbs .swiper-slide {
        width: 56px;
        height: 56px !important;
        cursor: pointer;
        img {
          display: block;
          width: 100%;
        }
      }
      &.gallery-thumbs .active-index {
        border: 1px solid $red;
        border-radius: 4px;
        padding: 2px;
      }
    }
  }

  .product-inner-body {
    padding: 40px 0;
    @include tablet {
      padding: 0;
    }
  }

  .breadcrumb-block {
    border-bottom: 1px solid $border-color;
    .breadcrumb {
      background-color: transparent;
      margin: 0;
      .breadcrumb-item{
        a {
          font-family: 'Roboto', sans-serif;
          color: $text-main;
          font-size: 12px;
          line-height: 16px;
        }
        &:last-child {
          content: none;
          a {
            color: rgba(0,0,0,.25);
          }
          &:hover {
            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.product-range-filter {
  margin-bottom: 30px;
}


.partners-block {
  &.is-bg-white {
    background-color: #fff;
  }
}

.product-tabs {
  border-color: $border-color;
  padding: 40px;
  margin-top: 43px;
  margin-bottom: 60px;
  .card-header {
    background-color: transparent;
    border-bottom: 0;
    padding: 0;
    .nav {
      //border-bottom: 2px solid $border-color;
      display: flex;
      box-shadow: inset 0px -2px 0px #E5E3E8;
      overflow-y: auto;
      flex-wrap: nowrap;
    }
    .nav-pills .nav-link {
      font-family: 'Roboto-m', sans-serif;
      color: $text-light;
      position: relative;
      white-space: nowrap;
      &:focus {
        outline: none;
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: #fff;
      }
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      background-color: transparent;
      color: #000000;
      &:after {
        background-color: $red;
      }
    }
  }
  .card-body {
    padding: 40px 0 0 0;
  }
  .tab-content {
    //min-height: 450px;
  }
  .params-lists {
    .params-list {
      height: 48px;
      border-radius: 6px;
      align-items: center;
    }
    li {
      &:nth-child(odd) {
        .params-list {
          background-color: $content-bg;
        }
      }
    }
  }
  @include tablet {
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 32px;
  }
}


.comments-wrap {
  .comments-wrap-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .comments-wrap-top-left {
      .is-rating-body {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        span {
          display: inline-flex;
          align-items: center;
          font-family: 'Roboto-b', sans-serif;
          font-size: 28px;
          line-height: 32px;
          color: $text-main;
          margin-right: 20px;
        }
      }
    }
  }
  .comments-wrap-top-right {
    .add-comment {
      height: 50px;
      color: #ffffff;
      background-color: $red;
      border-radius: 6px;
      padding: 16px;
    }
  }
}

.vue-star-rating {
  margin-left: 5px;
  span {
    display: inline-flex !important;
    align-items: center;
  }
}

.comment-wrap-body {
  margin-top: 24px;
  .comment-lists {
    .comment {
      display: flex;
      width: 100%;
      border-top: 1px solid $border-color;
      padding: 24px 0;
      &:first-child {
        border-top: none;
      }
      .comment-img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 12px;
        background-color: $border-color;
        color: #ffffff;
        text-align: center;
        line-height: 48px;
        font-family: 'Roboto-b', sans-serif;
        font-size: 28px;
      }
      .comment-right {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .comment-right-top {
          width: 100%;
          display: flex;
          .user-name {
            font-family: 'Roboto-b', sans-serif;
            color: $text-main;
            font-size: 16px;
            line-height: 22px;
            margin-right: 12px;
            padding-right: 12px;
            border-right: 1px solid $text-light;
          }
          .comment-info {
            display: flex;
            align-items: center;
          }
        }
        .comment-right-bottom {
          width: 100%;
          margin-top: 8px;
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          line-height: 18px;
          color: $text-main;
        }
      }
    }
  }
}

.comment-list-btns {
  text-align: center;
  margin-top: 16px;
  width: 100%;
  .see_more_btn {
    padding: 16px;
    height: 50px;
    background-color: transparent;
    border: 1px solid $border-color;
    color: #000000;
    border-radius: 6px;
    box-shadow: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto-m', sans-serif;
    font-size: 14px;
  }
}



input {
  &.is-invalid {
    border-color: $red;
  }
}


.category-dropdown {
  .dropdown-menu {
    border: none;
    .category-tree-block {
      min-width: 200px;
    }
    .category-tree {
      padding: 10px 0;
      .category-tree-li {
        .sub-menu {
          bottom: inherit;
        }
      }
    }
  }
}


.stores-wrap {
  padding: 60px 0;
  .stores {
    .stores-title {
      margin-bottom: 40px;
      font-family: 'Roboto', sans-serif;
    }
    .stores-body {
      background-color: #fff;
      padding: 40px;
      display: flex;
      border-radius: 6px;
      .left {
        .left-list {
          border: 1px solid $border-color;
          border-radius: 6px;
          margin-bottom: 24px;
          padding: 32px;
          &:last-child {
            margin-bottom: 0;
          }
          .item-title {
            font-family: 'Roboto-b', sans-serif;
            margin-bottom: 17px;
            color: $text-main;
            font-size: 20px;
            line-height: 24px;
          }
          .item-address {
            font-family: 'Roboto-m', sans-serif;
            font-size: 14px;
            line-height: 18px;
            color: $text-main;
            margin-bottom: 16px;
          }
          .stores-phones {
            .item-phone {
              margin-bottom: 11px;
              color: $text-main;
              font-family: 'Roboto-m', sans-serif;
              font-size: 13px;
              line-height: 18px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      .right {
        padding-left: 32px;
        iframe {
          width: 100%;
          border-radius: 6px;
        }
      }
    }
  }
}


.animated-thumb {
  position: fixed;
  top: -9999px;
  left: -9999px;
  z-index: 999;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $border-color;
}
.animated-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}


.product-inner-body-right {
  .product-inner-title {
    font-family: 'Roboto-b', sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: $text-main;
    margin-bottom: 12px;
  }
  .product-inner-code {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: $text-main;
    margin-bottom: 12px;
  }
  .product-top-rating {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    .vue-star-rating-star {
      svg {
        width: 15px;
        height: 15px;
        margin-top: -5px;
      }
    }
    .product-top-rating-left-count{
      margin-right: 7px;
      font-family: 'Roboto-m', sans-serif;
      font-size: 16px;
      line-height: 22px;
      display: inline-flex;
      align-items: center;
    }
    .product-top-rating-right-count{
      text-decoration: underline;
      margin-left: 12px;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      line-height: 16px;
      display: inline-flex;
      align-items: center;
    }
  }
  .gifts {
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .gifts-title {
      margin-bottom: 12px;
      width: 100%;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: $text-main;
    }
    .gifts-item {
      width: 104px;
      height: 84px;
      // padding-bottom: 20%;
      margin-right: 8px;
      border-radius: 6px;
      border: 1px solid $border-color;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        position: absolute;
        // top: 10px;
        // left: 10px;
        // bottom: 10px;
        // right: 10px;
        display: block;
        object-fit: contain;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .is-left {
    line-height: 1;
    display: flex;
    align-items: center;
    .product-price{
      font-family: 'Roboto-b', sans-serif;
      font-size: 24px;
      line-height: 32px;
      color: $red;
      display: flex;
      @include desktop {
        font-size: 14px;
      }
    }
    .product-old-price{
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      display: flex;
      color: $text-light;
      margin-right: 12px;
      text-decoration-line: line-through;
      line-height: 32px;
      @include desktop {
        font-size: 11px;
      }
    }
  }
  @include desktop {
    border: 1px solid $border-color;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 12px;
    margin-top: 24px;
    .is-left {
      .product-price, .product-old-price  {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

.similar-products {
  background-color: $content-bg;
  padding: 60px 0;
}


.wishlist-not-login {
  padding: 60px 0;
  .wishlist-title {
    margin-bottom: 32px;
    font-family: "Roboto-b", sans-serif;
    color: #484848;
    font-size: 28px;
  }
}

.map {
  .card {
    border: none;
    padding: 20px;
    @include desktop {
      .tabs {
        .col-auto {
          width: 100%;
        }
      }
    }
  }
  .tab-pane {
    height: 100%;
    .card-text {
      height: 100%;
      iframe {
        width: 100%;
        height: 100%;
      }

    }
  }
  iframe {
    width: 100%;
    height: 100%;
  }
  .nav-pills {
    background-color: #ffffff;
    .nav-item {
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
      .nav-link {
        border: 1px solid $border-color;
        border-radius: 6px;
        margin-bottom: 24px;
        padding: 32px;
        &:last-child {
          margin-bottom: 0;
        }
        &.active {
          background-color: transparent;
          border-color: $red;
        }
        .item-title {
          font-family: 'Roboto-b', sans-serif;
          margin-bottom: 17px;
          color: $text-main;
          font-size: 20px;
          line-height: 24px;
        }
        .item-address {
          font-family: 'Roboto-m', sans-serif;
          font-size: 14px;
          line-height: 18px;
          color: $text-main;
          margin-bottom: 16px;
        }
        .stores-phones {
          .item-phone {
            margin-bottom: 11px;
            color: $text-main;
            font-family: 'Roboto-m', sans-serif;
            font-size: 13px;
            line-height: 18px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.about-us-page {
  padding: 60px 0;
  .about-us {
    .about-us-title {
      margin-bottom: 60px;
      color: $text-main;
      font-family: 'Roboto-b', sans-serif;
      font-size: 28px;
      line-height: 32px;
    }
    .about-us-list {
      display: flex;
      margin-bottom: 80px;
      &:last-child {
        margin-bottom: 0;
      }
      .about-us-list-img {
        img {
          width: 100%;
          display: block;
          border-radius: 6px;
        }
      }
      .about-us-list-content {
        .about-us-list-content-text {
          h2 {
            font-family: 'Roboto-b', sans-serif;
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 27px;
          }
          p {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            line-height: 36px;
          }
        }
      }
      .is-left-img {
        margin-right: 16px;
      }
      .is-right-img {
        margin-left: 16px;
      }
    }
  }
}

.product-item-top {
  .product-ticket {
    position: absolute;
    top: 16px;
    left: 16px;
    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
      display: block;
    }
    &:nth-of-type(2) {
      top: 70px;
    }
    &:nth-of-type(3) {
      top: 125px;
    }
  }
}

.isLoading {
  background-color: gray;
}

.afterPayWrap {
  padding: 80px 0;
  .afterPay {
    background-color: #fff;
    border-radius: 6px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 60px;
    }
    .afterPay-title {
      margin-top: 45px;
      font-family: 'Roboto-b', sans-serif;
      color: $text-main;
      font-size: 36px;
      line-height: 48px;
    }
    .afterPay-text {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      line-height: 24px;
      color: $text-main;
      margin-top: 45px;
      width: 50%;
      text-align: center;
    }
    .afterPay-link {
      width: auto;
      border-radius: 6px;
      background-color: $red;
      color: white;
      padding: 15px 90px;
      margin-top: 45px;
      font-family: 'Roboto-m', sans-serif;
      font-size: 14px;
      line-height: 18px;
      &:hover {
        text-decoration: none;
        background-color: $red-hover;
      }
    }
  }
  @include desktop {
    padding: 32px 0;
    .afterPay {
      padding: 40px 16px;
      text-align: center;
      .afterPay-title {
        font-size: 20px;
        line-height: 23px;
        width: 100%;
      }
      .afterPay-text {
        width: 100%;
        font-size: 16px;
        line-height: 22px;
        margin-top: 35px;
      }
    }
  }
}

.faq-title {
  margin-bottom: 43px;
  font-family: 'Roboto-b', sans-serif;
  font-size: 28px;
  line-height: 32px;
}

.faq-wrap {
  padding: 60px 0;
  .card {
    border: none;
    .card-body {
      padding: 0;
      margin-left: 89px;
    }
    background-color: transparent;
    .nav-pills {
      background-color: transparent;
      padding: 0;
      li {
        margin-bottom: 32px;
      }
    }
    .nav-pills .nav-link {
      font-family: 'Roboto-m', sans-serif;
      font-size: 18px;
      line-height: 22px;
      padding: 0;
      color: $text-main;
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      background-color: transparent;
      color: $red;
    }
  }
  .faq-body {
    .acc-head {
      background-color: #fff;
      border: 1px solid $border-color !important;
      border-radius: 6px;
      padding: 29px 32px;
      margin-bottom: 16px !important;
      @include desktop {
        padding: 16px;
      }
    }
    .accordion-title {
      background-color: transparent;
      border: none;
      color: #000000;
      font-family: 'Roboto-m', sans-serif;
      font-size: 16px;
      line-height: 22px;
      text-align: left;
      padding: 0;
      &:focus, &:active {
        background-color: transparent !important;
        box-shadow: none !important;
        border: none !important;
        outline: none !important;
      }
      @include desktop {
        font-size: 14px;
      }
    }
    .account-content {
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      margin-top: 20px;
      @include desktop {
        font-size: 13px;
      }
    }

    @include desktop {
      .card {
        .card-body {
          margin-left: 0;
        }
        .tabs {
          .col-auto {
            width: 100%;
            .nav {
              overflow-y: auto;
              flex-direction: row !important;
            }
          }
        }
        .nav-pills li {
          margin-right: 20px;
        }
      }
    }

  }
}


.campagin-wrap {
  .campagin {
    padding: 60px 0;
    .campagin-top {
      position: relative;
      img {
        width: 100%;
      }
      .compagin-title {
        font-family: 'Roboto-b', sans-serif;
        font-size: 36px;
        line-height: 48px;
        color: #ffffff;
        z-index: 11;
        position: absolute;
        bottom: 24px;
        left: 44px;
        right: 44px;
        @include desktop {
          position: static;
          color: $text-main;
          margin-top: 24px;
          font-size: 20px;
          line-height: 23px;
        }
      }
    }
    .campagin-text {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      line-height: 36px;
      color: $text-main;
      margin-top: 32px;
      @include desktop {
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
}

.right-infos-block {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
  border: 1px solid $border-color;
  border-radius: 6px;
  .right-info {
    width: 100%;
    padding: 16px 8px;
    border-bottom: 1px solid $border-color;
    &:last-child {
      border-bottom: none;
    }
    .right-info-top {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      img {
        width: 22px;
      }
      .right-info-title {
        margin-left: 8px;
        font-family: 'Roboto-b', sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: $text-main;
      }
    }
    .right-info-text {
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      line-height: 14px;
      color: $text-main;
    }
  }
}

.breadcrumb > li + li:before {
  color: $red !important;
  content: "> " !important;
  padding: 0 5px;
  padding-left: 0 !important;
}


.product-actions {
  margin-top: 16px;
  display: flex;
  align-items: center;
  .form-btn {
    width: auto;
    min-width: 170px;
    margin-right: 8px;
    border-radius: 6px;
    height: 48px;
    padding: 0 24px;
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    color: $text-main;
    border: 1px solid $red !important;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: $red;
      color: white;
    }
    &.remove-from-cart-inner-page {
      background-color: $red;
      color: white;
    }
    &:last-child {
      margin-right: 0;
    }

    

  }
  .form-btn.disabled{
    background: #eee;
    color: #000;
    border: none !important;
    pointer-events: none;
  }
  
  .product-inner-wishlist-btn, .product-inner-compare-btn {
    background-color: transparent;
    width: 48px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border-color;
    border-radius: 6px;
    margin-right: 12px;
    color: $text-main;
    transition: .3s ease-in-out;
    &:hover, &.wishlist-btn-active, &.is-active {
      border-color: $red;
      i {
        color: $red;
      }
      svg {
        color: $red;
        fill: $red;
        path {
          color: $red;
        }
      }
    }
  }
  .product-inner-compare-btn:last-child {
    margin-right: 0;
  }
  .add-to-cart-inner-page:not(:disabled) {
    svg {
      transition: all .3s ease-in-out;
    }
    &:hover {
      svg {
        path {
          stroke: white;
        }

        ellipse {
          fill: white;

        }
      }
    }
  }

  @include tablet {
    flex-wrap: wrap;
    .not-stock-product, button {
      margin-bottom: 8px;
    }
  }
}

.actions-by-credit {
  &:hover {
    svg {
      path {
        fill: white;
      }
    }
  }
}

.go_to_admin {
  height: 48px;
  background-color: $red;
  color: white;
  border-radius: 6px;
  margin-bottom: 12px;
  padding: 14px 36px;
  font-family: 'Roboto-m', sans-serif;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $red-hover;
  }
}

.deleteCompareBtn {
  height: 48px;
  border-radius: 6px;
  border: 1px solid $border-color;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto-m', sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: $text-main;
  background-color: #ffffff;
  transition: all .3s ease-in-out;
  &:hover {
    background-color: $red;
    border-color: $red;
    color: white;
  }
}

.cheaper-btn {
  flex: 1;
  font-family: 'Roboto-m', sans-serif;
  font-size: 12px;
  line-height: 14px;
  border: 1px solid $red !important;
  color: $text-main;
  letter-spacing: 0.2px;
  padding: 0 14px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 6px;
  margin-right: 8px;
  &:hover, &:focus {
    background-color: $red-hover;
    border-color: $red-hover;
    color: white;
  }
}


#shareModal {
  .modal-body {
    padding: 1.5rem 1rem;
  }
  .modal-dialog {
    min-width: 20%;
    .social-share-title {
      font-family: 'Roboto-m', sans-serif;
      font-size: 22px;
      line-height: 26px;
      color: $text-main;
      margin-bottom: 24px;
    }
    .social-share-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        border: 1px solid $border-color;
        padding: 5px;
        border-radius: 6px;
        margin: 0 8px;
        transition: all .3s ease-in-out;
        i {
          color: #000000;
        }
        &:hover {
          background-color: $red;
          border-color: $red;
          i {
            color: white;
          }
        }
      }
    }
  }
}



.into-comp {
  .inc-product {
    .inc-product-img {
      border: 1px solid $border-color;
      border-radius: 8px;
      height: 248px;
      margin-bottom: 24px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: contain;
      }
    }
    .inc-product-title {
      font-family: 'Roboto-m', sans-serif;
      font-size: 14px;
      line-height: 18px;
      color: $text-main;
      text-align: center;
    }
  }
}


.pagination {
  margin-top: 30px;
  justify-content: flex-end;
  .page-item {
    .page-link {
      width: 40px;
      height: 40px;
      background-color: transparent;
      color: #000000;
      border-radius: 6px;
      border: none;
      &:focus {
        border: none;
        box-shadow: none;
      }
    }
    &.active {
      .page-link {
        background-color: $red;
        color: #ffffff;
      }
    }
  }
}


/* === PROGRESS ANIMATION === */
.progress {
  display: inline-block;
}

.progress div {
  display: inline-block;
  margin: 2px;
  width: 4px;
  height: 4px;
  background: currentColor !important;
  border-radius: 100%;
  animation: ball-pulse 1s ease infinite;
}

.progress div:nth-child(1) {
  animation-delay: -200ms;
}

.progress div:nth-child(2) {
  animation-delay: -100ms;
}

@keyframes ball-pulse {
  0%,
  60%,
  100% {
    opacity: 1;
    transform: scale(1);
  }

  30% {
    opacity: .1;
    transform: scale(.01);
  }
}
/* === PROGRESS ANIMATION END === */


#findCheaper {
  .modal-body {
    padding: 32px;
  }
  .input-wrapper {
    margin-bottom: 24px;
  }
  .findCheaper-wrap {
    .service-center-textare {
      margin-bottom: 0;
      &:focus , &:active {
        box-shadow: none;
        outline: none;
      }
    }
    .findCheaper-top {
      .findCheaper-title {
        font-family: 'Roboto-b', sans-serif;
        font-size: 28px;
        line-height: 32px;
        color: $text-main;
        margin-bottom: 32px;
      }
      .close {
        position: absolute;
        top: 22px;
        right: 22px;
      }
    }
    .findCheaper-btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .findCheaper-btn {
        width: 50%;
        height: 56px;
        border: 1px solid $border-color;
        font-family: 'Roboto-m', sans-serif;
        font-size: 16px;
        line-height: 22px;
        color: $text-main;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.2px;
        transition: all .3s ease-in-out;
        background-color: transparent;
        &:first-child {
          margin-right: 16px;
        }
        &:hover, &:active, &:focus {
          background-color: $red-hover;
          border-color: $red-hover;
          color: white;
        }
      }
    }
  }
}

.account-page {
  .order-product-lists {
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f7f7f7;
    .order-product-list {
      display: flex;
      width: 100%;
      padding: 20px;
      background-color: #fff;
      border-radius: 6px;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      .order-product-list-left {
        display: flex;
        width: 50%;
        .is-left-img {
          width: 64px;
          height: 64px;
          margin-right: 24px;
          img {
            width: 100%;
          }
        }
        .is-left-content {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          .is-left-title {
            margin-bottom: 8px;
            font-family: 'Roboto-m', sans-serif;
            font-size: 13px;
            line-height: 18px;
            color: $text-main;
            letter-spacing: 0.2px;
            width: 100%;
          }
          .is-left-price {
            font-family: 'Roboto-b', sans-serif;
            font-size: 18px;
            line-height: 22px;
            color: $text-main;
            width: 100%;
            margin-bottom: 0;
          }
        }
      }
      .order-product-list-right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .order-product-list-right-btn {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          padding: 10px 24px;
          border: 1px solid $border-color;
          border-radius: 6px;
          background-color: transparent;
          transition: all .3s ease-in-out;
          span {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            line-height: 18px;
            color: $text-main;
            margin-left: 10px;
            display: inline-flex;
            transition: all .3s ease-in-out;
          }
          svg {
            transition: all .3s ease-in-out;
          }
          &:first-child {
            margin-right: 12px;
          }
          &:hover {
            text-decoration: none;
            border-color: $red;
            background-color: $red;
            span {
              color: white;
            }
            svg {
              fill: white;
              path {
                fill: white;
                stroke: rgb(255, 255, 255);
              }
            }
          }
        }
      }
    }
    @include desktop {
      background-color: #fff;
      padding: 16px;
      .order-product-list {
        padding: 0;
        flex-wrap: wrap;
        .order-product-list-left{
          width: 100%;
          .is-left-img {
            width: 40px;
            height: 40px;
          }
          .is-left-content {
            .is-left-title {
              font-size: 12px;
              margin-bottom: 2px;
            }
            .is-left-price {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
        .order-product-list-right {
          width: 100%;
          margin-top: 16px;
          justify-content: space-between;
          .order-product-list-right-btn {
            width: 48%;
          }
      }
      }
    }
  }
  .accordion-title.not-collapsed {
    background-color: #f7f7f7;
    @include desktop {
      background-color: #fff;
    }
  }
}

#addCommentId {
  .modal-body {
    padding: 32px;
  }
  .title {
    font-family: 'Roboto-b', sans-serif;
    color: $text-main;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 34px;
  }
  .service-center-textare {
    margin-bottom: 0;
  }
  .sendCommentTop {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    span {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: $text-medium;
      margin-right: 12px;
      margin-top: 2px;
    }
  }
}

.in-mobile-mt-20 {
  @include desktop {
    margin-top: 24px;
  }
}


.cookieAccepted {
  background-color: #d1ecf1;
  border: 1px solid #d1ecf1;
  padding: 0.75rem 1rem;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    font-size: 14px;
    outline: none;
    border: none;
    &:focus, &:hover {
      outline: none;
      border: none;
    }
  }
  @include desktop {
    flex-wrap: wrap;
  }
}

.pay-credit {
  font-family: 'Roboto-m', sans-serif;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  display: inline-flex;
  align-items: center;
  margin-top: 8px;
  font-size: 11px;
  line-height: 14px;
  padding: 0;
}


.calcPriceModal {
  &__info {
    background-color: $content-bg;
    border-radius: 6px;
    padding: 24px 16px;
    margin: 24px 0;
    &-top {
      padding-bottom: 24px;
      border-bottom: 1px solid #E5E3E8;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-title {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 22px;
        color: $text-main;
      }
      &-price {
        font-family: 'Roboto-m', sans-serif;
        font-size: 16px;
        line-height: 22px;
        color: $text-main;
      }
    }
    &-bottom {
      padding-top: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-title, &-price {
        font-family: 'Roboto-b', sans-serif;
        font-size: 18px;
        line-height: 22px;
        color: $text-main;
      }
    }
  }
  &__title {
    font-family: 'Roboto-b', sans-serif;
    color: $text-main;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 38px;
  }
  &__text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: $text-main;
    margin-bottom: 40px;
  }
}

#bv-modal-example {
  .modal-body {
    padding: 32px;
  }
  .modal-dialog {
    max-width: 400px;
  }
  .custom-select:focus {
    outline: none;
    box-shadow: none;
  }
}

.non-margin {
  margin: 0;
}


.accordion {
    .collapse {
    background-color: #fff;
  }
  .brand-title {
    margin: 0;
    color: #fff;
    font-weight: 700;
  }
  .btn.btn-danger{
    border: none;
  }
  
}