.category-page-wrap {
  padding-top: 40px;
  padding-bottom: 80px;
  .filter-item .custom-control {
    margin: 0;
    margin-bottom: 10px;
  }
  .custom-control-label {
    display: inline-block;
  }
}


.category-page-top {
  position: relative;
  overflow: hidden;
  height: 240px;
  .category-page-top-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
  }
  .category-page-top-content {
    position: relative;
  }
}

.category-page-body {
  padding-top: 40px;
  .product-item {
    margin-top: 0;
    margin-bottom: 24px;
    min-height: 325px;

    @include desktop {
      min-height: 300px;
    }
    @include phone{
      min-height: auto;
    }
  }
  
}
