<template>
  <div>
    <AppHeader />
    <div class="main-section">
      <Nuxt />
    </div>
    <AppFooter />

    <AnimateThumb v-show="animationStarted" />
  </div>
</template>
<script>

import AppHeader from "../components/layout/App-Header";
import AppFooter from "../components/layout/App-Footer";
import AnimateThumb from "../components/layout/Animate-thumb";
import Loading from "../components/Loading";

export default {
  components: {Loading, AnimateThumb, AppFooter, AppHeader},
  data(){
    return {
      loading: true,
      animationStarted: false,
      animationStart: {
        left: 0,
        top: 0
      }
    }
  },
  created() {
    // animation for product add
    this.$root.$on("add-to-cart", (coords) => {
      this.animationStart = {...coords};

      const basket = document.querySelector('#cartAnimate');
      const {left, top} = basket.getBoundingClientRect();
      this.animationStarted = true;

      this.$anime({
        targets: ".animated-thumb",
        top: [this.animationStart.top, top],
        left: [this.animationStart.left, left],
        easing: "easeInOutCubic",
        duration: 1200,
        complete: () => {
          this.animationStarted = false;
          this.$store.commit('SET_ANIMATED_PRODUCT', {})
        }
      })
    });
  },
  mounted() {
    this.loading = false
  }
}
</script>
