<template>
  <div class="about-us-page">
    <div class="container">
      <div class="about-us">

        <h1 class="about-us-title">Haqqımızda</h1>

        <div class="about-us-list row">
          <b-col cols="10" lg="5">
            <div class="about-us-list-img">
              <img src="~images/service.png" alt="">
            </div>
          </b-col>

          <b-col cols="10" lg="5">
            <div class="about-us-list-content">
              <h2 class="about-us-list-content-title">biz kimik</h2>
              <p class="about-us-list-content-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam aut corporis exercitationem iure minus quidem voluptate. Alias consequatur eos ex fugiat hic libero, nisi veniam? Adipisci aliquam animi cum cupiditate ducimus fugit labore mollitia, pariatur quo, sequi, sit voluptatibus.
              </p>
            </div>
          </b-col>
        </div>

        <div class="about-us-list row">
          <b-col cols="10" lg="5" order="2">
            <div class="about-us-list-img">
              <img src="~images/service.png" alt="">
            </div>
          </b-col>

          <b-col cols="10" lg="5" order="1">
            <div class="about-us-list-content">
              <h2 class="about-us-list-content-title">biz kimik</h2>
              <p class="about-us-list-content-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam aut corporis exercitationem iure minus quidem voluptate. Alias consequatur eos ex fugiat hic libero, nisi veniam? Adipisci aliquam animi cum cupiditate ducimus fugit labore mollitia, pariatur quo, sequi, sit voluptatibus.
              </p>
            </div>
          </b-col>
        </div>


      </div>

      <Partners />
    </div>
  </div>
</template>

<script>
import Partners from "../components/Partners";
export default {
  name: "about-us",
  components: {Partners}
}
</script>
