<template>
  <div class="account-page">
    <div class="container">
      <b-row>
        <b-col cols="10" lg="2" class="d-none d-lg-flex d-xl-flex">
          <div class="account-left">
            <div class="account-left-list">
              <NuxtLink :to="localePath('/account-orders', $i18n.locale)">
                <i class="icon-orders-i"></i>
                <span>{{ t.my_orders }}</span>
              </NuxtLink>
            </div>

            <div class="account-left-list">
              <NuxtLink :to="localePath('/account-wishlist', $i18n.locale)">
                <i class="icon-heart-empty"></i>
                <span>{{ t.wishlist }}</span>
              </NuxtLink>
            </div>

<!--            <div class="account-left-list">-->
<!--              <NuxtLink to="/account-looked">-->
<!--                <i class="icon-info"></i>-->
<!--                {{ $t("looked") }}-->
<!--              </NuxtLink>-->
<!--            </div>-->

            <div class="account-left-list">
              <NuxtLink :to="localePath('/account-info', $i18n.locale)">
                <i class="icon-info"></i>
                <span>{{ t.personal_info }}</span>
              </NuxtLink>
            </div>
          </div>
        </b-col>

        <b-col cols="10" lg="8">
          <div class="account-right">
            <p class="account-title">{{ t.personal_info }}</p>

            <form @submit.prevent="updateUserInfo" @keydown.enter="updateUserInfo" class="account-info">
              <b-col cols="10" lg="5">
                <p class="account-info-title">{{ t.contact_info }}</p>
                <div class="input-wrapper">
                  <input
                    type="text"
                    id="name"
                    v-model.trim="$v.form.first_name.$model"
                    :class="{ 'is-invalid': $v.form.first_name.$error }"
                  />
                  <label for="name">{{ t.name }}</label>
                </div>

                <div class="input-wrapper">
                  <input
                    type="text"
                    id="surname"
                    v-model.trim="$v.form.last_name.$model"
                    :class="{ 'is-invalid': $v.form.last_name.$error }"
                  />
                  <label for="surname">{{ t.surname }}</label>
                </div>

                <div class="input-wrapper">
                  <input
                    type="tel"
                    v-mask="'+994#########'"
                    id="number"
                    v-model.trim="$v.form.phone.$model"
                    :class="{ 'is-invalid': $v.form.phone.$error }"
                  />
                  <label for="number">{{ t.phone }}</label>
                </div>

                <div class="input-wrapper">
                  <input
                    type="email"
                    id="email"
                    v-model.trim="$v.form.email.$model"
                    :class="{ 'is-invalid': $v.form.email.$error }"
                  />
                  <label for="email">{{ t.email }}</label>

                  <span @click="verifyEmail" v-if="!this.$auth.user.is_verified" class="verify_email">
                    {{t.email_wasnt_confirmed_text}}
                    <a href="javascript:void(0)">
                      {{t.email_wasnt_confirmed_link}}
                    </a>
                  </span>
                </div>

                <div class="input-wrapper">
                  <input
                    type="password"
                    id="oldpass"
                    v-model.trim="$v.form.old_password.$model"
                    :class="{ 'is-invalid': $v.form.old_password.$error }"
                  />
                  <label for="oldpass">{{ t.old_password }}</label>
                </div>

                <div class="input-wrapper">
                  <input type="password" id="newpass" v-model.trim="$v.form.new_password.$model"
                         :class="{ 'is-invalid': $v.form.new_password.$error }"/>
                  <label for="newpass">{{ t.new_password }}</label>
                </div>

                <div class="input-wrapper">
                  <input type="password" id="repnewpass" v-model.trim="$v.form.password_confirmation.$model"
                         :class="{ 'is-invalid': $v.form.password_confirmation.$error }"/>
                  <label for="repnewpass">{{ t.new_password_repeat }}</label>
                </div>

                <b-button type="submit" class="stn-btn">{{ t.save_changes }}</b-button>
              </b-col>

              <b-col cols="10" lg="5">
                <p class="account-info-title in-mobile-mt-20">{{ t.adress }}</p>

                <!--              <div class="input-wrapper">-->
                <!--                <input type="text" id="selectCity" required />-->
                <!--                <label for="streetNumber">seher</label>-->
                <!--              </div>-->

                <!--              <div class="input-wrapper">-->
                <!--                <input type="text" id="selectStreet" required />-->
                <!--                <label for="streetNumber">rayon</label>-->
                <!--              </div>-->

                <div class="input-wrapper">
                  <input type="text" id="streetNumber" v-model.trim="$v.form.address_line.$model"
                         :class="{ 'is-invalid': $v.form.address_line.$error }"/>
                  <label for="streetNumber">{{ t.street_number }}</label>
                </div>

                <v-select v-model="form.city_id" label="name"
                          :clearable="false" :options="cities" :reduce="data => data.id"></v-select>

                <div class="input-wrapper">
                  <input type="text" id="homeNumber" v-model.trim="$v.form.additional_address_line.$model"
                         :class="{ 'is-invalid': $v.form.additional_address_line.$error }"/>
                  <label for="homeNumber">{{
                      t.block_apartment_other
                    }}</label>
                </div>

                <!--              <div class="input-wrapper">-->
                <!--                <input type="text" id="mailIndex" required />-->
                <!--                <label for="mailIndex">{{ $t("postal_code") }}</label>-->
                <!--              </div>-->
              </b-col>
            </form>
          </div>
        </b-col>
      </b-row>

      <Partners />

    </div>
  </div>
</template>

<script>
import { mask } from "vue-the-mask";
import { mapGetters } from "vuex";
import { required, minLength } from "vuelidate/lib/validators";
import error from "./error";
import Partners from "../components/Partners";
import success from "./success";

export default {
  name: "account-info",
  components: {Partners},
  middleware: "auth",
  directives: { mask },
  hexTokens: {
    F: {
      pattern: /[0-9a-fA-F]/,
      transform: (v) => v.toLocaleUpperCase(),
    },
  },
  data(){
    return {
      form: {
        first_name: '',
        last_name: '',
        phone: '',
        email: '',
        old_password: '',
        new_password: '',
        password_confirmation: '',
        address_line: '',
        additional_address_line: '',
        city_id: 1,
      }
    }
  },
  validations: {
    form: {
      first_name: {
        required
      },
      last_name: {
        required
      },
      email: {
        required
      },
      phone: {
        required
      },
      address_line: {
        required
      },
      additional_address_line: {
        required
      },
      old_password: {
        minLength: minLength(8),
        required: false
      },
      new_password: {
        minLength: minLength(8),
        required: false
      },
      password_confirmation: {
        minLength: minLength(8),
        required: false
      },
    },
  },
  computed: {
    ...mapGetters({
      userInfo: "getUserInfo",
      cities: 'getCities',
      t: 'getTranslations'
    }),
  },
  mounted() {

    this.$store.dispatch("showUserInfo");

    if (this.$auth.user.address) {
      this.form.city_id = this.$auth.user.address.city_id
    }
    this.form.first_name = this.$auth.user.first_name
    this.form.last_name = this.$auth.user.last_name
    this.form.email = this.$auth.user.email


    if (this.form.new_password || this.form.password_confirmation || this.form.old_password === null) {
      this.form.new_password = null
      this.form.password_confirmation = null
      this.form.old_password = null
    }

    if (this.form.phone !== null) {
      this.form.phone = this.$auth.user.phone
    } else {
      this.form.phone = ''
    }

    if (this.$auth.user.address) {
      if (this.form.address_line !== null) {
        this.form.address_line = this.userInfo.address.address_line
      } else {
        this.form.address_line = ''
      }

      if (this.form.additional_address_line !== null) {
        this.form.additional_address_line = this.userInfo.address.additional_address_line
      } else {
        this.form.additional_address_line = ''
      }


    }
  },
  methods: {
    async verifyEmail(){
      try {
        const resendEmailVerify = await this.$store.dispatch('resendEmailVerify')
        this.$toast.success(resendEmailVerify)
      } catch (error) {

      }
    },
    async updateUserInfo() {
      this.$v.form.$touch();

      if (!this.$v.form.$invalid) {
        try {
          await this.$store.dispatch("updateUserInfo", {
            first_name: this.form.first_name,
            last_name: this.form.last_name,
            email: this.form.email,
            phone: this.form.phone,
            address_line: this.form.address_line,
            additional_address_line: this.form.additional_address_line,
            old_password: this.form.old_password,
            password: this.form.new_password,
            password_confirmation: this.form.password_confirmation,
            city_id: this.form.city_id
          });

        this.$toast.success(this.t.changes_success)
        } catch (err) {
          this.$toast.error(err);

          // when update info verify email
          if (err.response.data) {
            const { error } = err.response.data;
            // this.$toast.error(error);
          }

        }
      }
    },
  },
  async asyncData({ store }) {
    await store.dispatch("wishlistProductAfterLogin");
    // await store.dispatch("showUserInfo");
  },
};
</script>

<style>
@keyframes in {
  0% {
    opacity: 0;
    left: 100%
  }

  100% {
    opacity: 1;
    left: 0
  }
}

.some-class{
  animation: in 300ms;
}
</style>
