<template>
  <div class="account-page">
    <div class="container">
      <b-row>
        <b-col cols="10" lg="2">
          <div class="account-left">
            <div class="account-left-list">
              <i class="icon-orders-i"></i>
              <NuxtLink to="/account-orders">{{ $t("my_orders") }}</NuxtLink>
            </div>
            <p class="account-title">{{ $t("my_orders") }}</p>

            <div class="account-left-list">
              <i class="icon-heart-empty"></i>
              <NuxtLink to="/account-wishlist">{{ $t("selected") }}</NuxtLink>
            </div>

<!--            <div class="account-left-list">-->
<!--              <i class="icon-info"></i>-->
<!--              <NuxtLink to="/account-looked">{{ $t("looked") }}</NuxtLink>-->
<!--            </div>-->

            <div class="account-left-list">
              <i class="icon-info"></i>
              <NuxtLink to="/account-info">{{ $t("personal_info") }}</NuxtLink>
            </div>
          </div>
        </b-col>

        <b-col cols="10" lg="8">
          <div class="account-right">
            looked
          </div>
        </b-col>
      </b-row>

      <Partners />
    </div>
  </div>
</template>

<script>
import Partners from "../components/Partners";
export default {
  name: "account-looked",
  components: {Partners},
  middleware: 'auth',
  async asyncData({ store }) {
    await store.dispatch('wishlistProductAfterLogin');
    await store.dispatch('showUserInfo');

  }
}
</script>
