<template>
  <div class="account-page">

    <!-- add comment modal -->
    <b-modal id="addCommentId" ref="my-modal" centered hide-header hide-footer title="Using Component Methods">
      <div class="d-block">
        <h3 class="title">{{t.add_comment}}</h3>

        <form @submit.prevent="sendComment">
          <div class="sendCommentTop">
            <span>{{t.rating}}: </span>
            <client-only>
              <star-rating v-model.trim="$v.form.rating.$model"
                           active-color="#F69F29" v-bind:star-size="20"
                           :show-rating=false
                           :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]">
              </star-rating>
            </client-only>
          </div>


          <div class="input-wrapper">
            <input type="text" id="name" v-model.trim="$v.form.customer_name.$model" :class="{ 'is-invalid': $v.form.customer_name.$error }">
            <label for="name">{{ t.name }}</label>
          </div>



          <div class="input-wrapper">
              <textarea class="service-center-textare"
                        v-model.trim="$v.form.comment.$model"
                        id="textarea"
                        :class="{ 'is-invalid': $v.form.comment.$error }">

          </textarea>
            <label for="textarea">{{ t.apply_text }}</label>
          </div>

          <button type="submit" class="form-btn">{{t.send_comment}}</button>
        </form>
      </div>
      <!--      <b-button class="mt-3" variant="outline-danger" block @click="hideModal">Close Me</b-button>-->
    </b-modal>
    <!-- / add comment modal -->

    <div class="container">
      <b-row>
        <b-col cols="10" lg="2" class="d-none d-lg-flex d-xl-flex">
          <div class="account-left">
            <div class="account-left-list">
              <NuxtLink :to="localePath('/account-orders', $i18n.locale)">
                <i class="icon-orders-i"></i>
                <span>{{ t.my_orders }}</span>
              </NuxtLink>
            </div>

            <div class="account-left-list">
              <NuxtLink :to="localePath('/account-wishlist', $i18n.locale)">
                <i class="icon-heart-empty"></i>
                <span>{{ t.wishlist }}</span>
              </NuxtLink>
            </div>

<!--            <div class="account-left-list">-->
<!--              <i class="icon-info"></i>-->
<!--              <NuxtLink to="/account-looked">{{ $t("looked") }}</NuxtLink>-->
<!--            </div>-->

            <div class="account-left-list">
              <NuxtLink :to="localePath('/account-info', $i18n.locale)">
                <i class="icon-info"></i>
                <span>{{ t.personal_info }}</span>
              </NuxtLink>
            </div>
          </div>
        </b-col>

        <b-col cols="10" lg="8">
          <div class="account-right">
            <p class="account-title">{{ t.my_orders }}</p>

            <div class="account-orders-inner">
              <div v-if="userOrderData.length === 0">{{t.no_order_is_found}}</div>

                <b-card no-body class="acc-head" v-for="i in userOrderData" :key="i.id">
                  <div class="accordion-title" block v-b-toggle="`accordion-${i.id}`" variant="info">
                    <div class="account-orders-inner-list">
                      <div class="orders-inner-images">
                        <template v-if="i.items.length > 3">
                          <div class="orders-inner-img" v-for="z in i.items.slice(0, 2)">
                            <img :src="z.img.conversions.normal" alt=""/>
                          </div>
                          <span class="orders-inner-img plus-img" v-if="i.items.length > 3"> +{{i.items.length}}</span>
                        </template>

                        <template v-else>
                          <div class="orders-inner-img" v-for="z in i.items">
                            <img :src="z.img.conversions.normal" alt=""/>
                          </div>
                        </template>
                      </div>

                        <div class="orders-inner-info">
                          <div class="is_code d-none d-lg-inline-flex">
                            <span class="is_code_title">{{t.order_code}} </span>
                            <span style="margin-left: 5px"> {{i.order_number}}</span>
                          </div>
                          <div class="is_date d-none d-lg-inline-flex">{{i.order_date}}</div>

                          <div class="orders-inner-price d-lg-none">{{i.total_price}} AZN</div>
                          <div class="order-pay-method d-lg-none">{{i.payment_method}}</div>
                        </div>

                        <div class="account-orders-inner-list-center">
                          <img src="~images/icons/icon-order-blue.svg" alt="" v-if="i.order_status_id === 1">
                          <img src="~images/icons/icon-order-orange.svg" alt="" v-if="i.order_status_id === 2">
                          <img src="~images/icons/icon-order-red.svg" alt="" v-if="i.order_status_id === 3">
                          <img src="~images/icons/icon-order-green.svg" alt="" v-if="i.order_status_id === 4">
                          <span class="orders-inner-status">{{i.status}}</span>
                        </div>

                        <div class="account-orders-inner-list-invoice">
                          <img src="~images/icons/invoys.svg" alt="">
                          <div class="invoice-content">
                              <div class="invoice-top">
                                {{t.invoice}}
                              </div>
                              <div class="invoice-bottom">
                                <a class="invoice-link" :href="i.invoice.download">{{t.donwload}}</a>
                                <a class="invoice-link" :href="i.invoice.show" target="_blank">{{t.see}}</a>
                              </div>
                          </div>
                        </div>

                        <div class="account-orders-inner-list-price">
                          <div class="orders-inner-price d-none d-lg-block text-right align-items-end">{{i.total_price}} AZN</div>
                          <div class="order-pay-method d-none d-lg-block text-right">{{i.payment_method}}</div>
                        </div>

                    </div>
                  </div>
                  <b-collapse :id="`accordion-${i.id}`" visible accordion="my-accordion" role="tabpanel">
                    <div class="order-product-lists">
                      <div class="order-product-list" v-for="item in i.items" :key="item.name">
                        <div class="order-product-list-left">
                          <div class="is-left-img">
                            <img :src="item.img.conversions.normal" alt="">
                          </div>
                          <div class="is-left-content">
                            <h3 class="is-left-title">{{item.name}}</h3>
                            <h4 class="is-left-price">{{item.price}} AZN</h4>
                          </div>
                        </div>

                        <div class="order-product-list-right">
<!--                          <NuxtLink to="" class="order-product-list-right-btn">-->
<!--                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                              <path d="M3.33301 12.5C3.33301 12.5 4.16634 11.6667 6.66634 11.6667C9.16634 11.6667 10.833 13.3333 13.333 13.3333C15.833 13.3333 16.6663 12.5 16.6663 12.5V2.49999C16.6663 2.49999 15.833 3.33332 13.333 3.33332C10.833 3.33332 9.16634 1.66666 6.66634 1.66666C4.16634 1.66666 3.33301 2.49999 3.33301 2.49999V12.5Z" stroke="#484848" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--                              <path d="M3.33301 18.3333V12.5" stroke="#484848" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--                            </svg>-->
<!--                            <span>{{t.report}}</span>-->
<!--                          </NuxtLink>-->

                          <button @click="showModal(item.product_id)" class="order-product-list-right-btn">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M17.5 13.3333C17.5 13.7754 17.3244 14.1993 17.0118 14.5119C16.6993 14.8244 16.2754 15 15.8333 15H5.83333L2.5 18.3333V5.00001C2.5 4.55798 2.67559 4.13406 2.98816 3.8215C3.30072 3.50894 3.72464 3.33334 4.16667 3.33334H15.8333C16.2754 3.33334 16.6993 3.50894 17.0118 3.8215C17.3244 4.13406 17.5 4.55798 17.5 5.00001V13.3333Z" stroke="#484848" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <span>{{t.add_to_comment}}</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </b-collapse>
                </b-card>


            </div>
          </div>
        </b-col>
      </b-row>

      <Partners />
    </div>
  </div>
</template>


<script>
import {mapGetters} from "vuex";
import Partners from "../components/Partners";
import {minLength, required} from "vuelidate/lib/validators";

export default {
  name: "account-orders",
  components: {Partners},
  middleware: 'auth',
  data(){
    return {
      form: {
        customer_name: this.customer_name,
        rating: this.rating,
        comment: this.comment,
        product_id: null
      },
    }
  },
  methods: {
    sendComment() {
      this.$v.form.$touch();

      if (!this.$v.form.$invalid) {
        this.$store.dispatch('sendComment', this.form)
      }

      this.hideModal()
      this.form.customer_name = ''
      this.form.comment = ''
      this.form.rating = ''
      this.$v.form.$reset()
    },
    showModal(product_id) {
      this.$refs['my-modal'].show()
      this.form.product_id = product_id
    },
    hideModal() {
      this.$refs['my-modal'].hide()
    },
  },
  validations: {
    form: {
      customer_name: {
        required,
        minLength: minLength(6)
      },
      rating: {
        required
      },
      comment: {
        required,
        minLength: minLength(10)
      }
    }
  },
  computed: {
    ...mapGetters({
      userOrderData: 'getUserOrdersData',
      t: 'getTranslations'
    })
  },
  async asyncData({store}){
    await store.dispatch('fetchUserOrders')
  },
};
</script>
