<template>
  <div class="account-page">
    <div class="container">
      <b-row>
        <b-col cols="10" lg="2" class="d-none d-lg-flex d-xl-flex">
          <div class="account-left">
            <div class="account-left-list">
              <NuxtLink :to="localePath('/account-orders', $i18n.locale)">
                <i class="icon-orders-i"></i>
                <span>{{ t.my_orders }}</span>
              </NuxtLink>
            </div>


            <div class="account-left-list">
              <NuxtLink :to="localePath('/account-wishlist', $i18n.locale)">
                <i class="icon-heart-empty"></i>
                <span>{{ t.wishlist }}</span>
              </NuxtLink>
            </div>

<!--            <div class="account-left-list">-->
<!--              <i class="icon-info"></i>-->
<!--              <NuxtLink to="/account-looked">{{ $t("looked") }}</NuxtLink>-->
<!--            </div>-->

            <div class="account-left-list">
              <NuxtLink :to="localePath('/account-info', $i18n.locale)">
                <i class="icon-info"></i>
                <span>{{ t.personal_info }}</span>
              </NuxtLink>
            </div>
          </div>
        </b-col>

        <b-col cols="10" lg="8">
          <div class="account-right">
            <p class="account-title">{{ t.wishlist }}</p>

            <div v-if="wishlist_list.length === 0">{{t.no_favorite_product}}</div>

            <b-row v-if="wishlist_list" cols-lg="4" cols-sm="3">
              <b-col col v-for="wishlist_list_item in wishlist_list"
                     :key="wishlist_list_item.id">
                <ProductItem
                  class="loginSelectedBlock-item"
                  :item_list="wishlist_list_item"
                />
              </b-col>
            </b-row>
          </div>
        </b-col>
      </b-row>

      <Partners />
    </div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";
import ProductItem from "../components/products/Product-item";

export default {
  name: "account-wishlist",
  middleware: 'auth',
  components: {ProductItem },
  computed: {
    ...mapGetters({
      wishlist_list: "getWishListAfterLogin",
      t: 'getTranslations'
    }),
  },
  async asyncData({ store }) {
    await store.dispatch('wishlistProductAfterLogin');
    await store.dispatch('showUserInfo');

  }
};
</script>
