<template>

    <div class="basket-item">
      <NuxtLink :to="localePath(item.url)" class="basket-img">
        <img :src="item.img.conversions.normal" alt="">
      </NuxtLink>
      <div class="basket-item-right">
        <div class="basket-item-content">
          <NuxtLink :to="localePath(item.url)" class="basket-item-content-title">{{item.name}}</NuxtLink>
          <p class="basket-item-content-code">Məhsulun kodu: {{item.code}}</p>
          <p class="basket-item-content-price">
            {{ !item.has_discount ? item.price : item.discounted_price }} AZN
            <span
              v-if="item.has_discount"
              class="old-price">
              {{item.price}} AZN
            </span>
          </p>
        </div>

        <div class="basket-item-count">
          <b-button class="btn" @click="decrement(item.product_id, item.quantity)" :disabled="item.quantity <= 1"> <i class="icon-minus-1"></i> </b-button>
          <span class="output">{{item.quantity}}</span>
          <b-button class="btn" @click="increment(item.product_id, item.quantity)"> <i class="icon-plus-1"></i> </b-button>
        </div>

        <b-button class="close-item-btn" @click="deleteEvent(item.product_id)">
          <i class="icon-cancel"></i>
        </b-button>
      </div>
    </div>

</template>

<script>

import error from "./error";

export default {
  name: "basket-item",
  props: {
    item: {
      type: Object
    }
  },
  methods: {
    deleteEvent(product_id) {
      this.$store.dispatch("deleteProductWithPost", product_id);
    },
    increment (product_id, quantity) {
      if (quantity < this.item.stock_count) {
        this.$store
          .dispatch('incrementProductRequest', {product_id, quantity})
          .then(success => {

          })
          .catch(error => {
            this.$toast.error('Server Error :/')
          })
      }

    },
    decrement (product_id, quantity) {
      this.$store
        .dispatch("decrementProductRequest", {product_id, quantity})
        .then(success => {

        })
        .catch(error => {
          this.$toast.error('Server Error :/')
        })
    }
  }
}
</script>
