<template>
  <div class="basket-wrap">
    <b-container class="container">
      <h1 class="basket-title">{{t.basket}} <span>{{ api_product.items.length > 0 ? api_product.items.length : '0' }} {{t._product}}</span></h1>

      <div v-if="!api_product.items.length">
        <EmptyPageProducts :title="t.basket" />
      </div>


      <b-row>
        <b-col col lg="7">
          <div class="basket-items">
            <basket-item
                    v-for="basket_item in api_product.items"
                    :item="basket_item"
                    :key="basket_item.product_id" />

            <NuxtLink class="goToLink" v-if="api_product.items.length > 0" :to="localePath('index', $i18n.locale)">
              {{t.continue_shop}}
            </NuxtLink>
          </div>
        </b-col>
        <b-col col lg="3" v-if="api_product.items.length > 0">
          <div class="basket-total-block">
            <p class="basket-total-block-title">{{t.paid_amount}}</p>
            <div class="basket-total-block-cost">{{ total }} AZN</div>
            <NuxtLink :to="localePath('/order', $i18n.locale)" class="cost-btn">{{t.order_clearance}}</NuxtLink>

            <ul class="basket-total-block-ul">
              <li class="basket-total-block-li">
                <span>{{ api_product.items.length > 0 ? api_product.items.length : '0' }} {{t._product}}</span>
                <span>{{ total_pay }} AZN</span>
              </li>
              <li class="basket-total-block-li">
                <span>{{t.discounts}}</span>
                <span>{{ getTotalWithDiscount }} AZN</span>
              </li>
<!--              <li class="basket-total-block-li">-->
<!--                <span>catdirilma</span>-->
<!--                <span>10 AZN</span>-->
<!--              </li>-->
            </ul>

<!--            <b-button class="promocode-btn">-->
<!--              <img src="~images/promocode.svg" alt="">-->
<!--              Promo kod istifadə et-->
<!--            </b-button>-->
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import BasketItem from "./basket-item";
import {mapGetters} from 'vuex';
import EmptyPageProducts from "../components/Empty-page-products";
export default {
  name: "basket",
  components: {EmptyPageProducts, BasketItem},
  computed: {
    ...mapGetters({
      products: 'getProducts',
      products_count: 'getTotalPrice',
      api_product: 'getNewApiCart',
      getTotalWithDiscount: 'getTotalWithDiscount',
      total: 'getTotalPrice',
      total_pay: 'getTotalPricePay',
      t: 'getTranslations'
    })
  },
  mounted() {
    this.$store.dispatch('fetchCartDetails')
  },
   updated() {
    window.scrollTo({
      top: 0,
      left: 0,
    })
  }
  // async asyncData({store}) {
  //   await store.dispatch('fetchCartDetails');
  // }
}
</script>
