<template>

  <div class="compare-page">
    <div class="container">
      <div class="compare">
        <h1 class="compare-title">{{ t.compares }}</h1>

        <b-tabs v-if="compareData.length > 0" v-model="activeTab" content-class="mt-3">
         
          <template v-for="(compareDataItem, j) in compareData" >
            <b-tab v-if="compareDataItem" :title="compareDataItem.name" :key="compareDataItem.category_id" @click.prevent="fetchProducts(compareDataItem.product_ids)">
              <template #title>
                <p>
                  {{ compareDataItem.name }}
                  ({{ compareDataItem.items  ? compareDataItem.items.length : compareDataItem.count   }})
                  <button class="close-tab" @click.prevent="removeCompareTab(j)">
                    <i class="icon-cancel"></i>
                  </button>
                </p>
              </template>

              <div class="compare-body is_top d-flex">

                <div class="compare-left">
                    <div class="compare-params">
                    <!-- not API -->
                    <b-form-group label="" v-slot="{ ariaDescribedby }">
                      <b-form-radio v-model="selected" :aria-describedby="ariaDescribedby"
                                    :name="`radios_${compareDataItem.category_id}`" value="selectAll">{{t.all_parametrs}}</b-form-radio>
                      <b-form-radio v-model="selected" :aria-describedby="ariaDescribedby"
                                    :name="`radios_${compareDataItem.category_id}`" value="selectDiff"  >{{t.only_differece}}</b-form-radio>
                    </b-form-group>
​
                    <b-button class="deleteCompareBtn" @click="removeCompareTab(j)">{{t.delete_compare}}</b-button>
                  </div>
                </div>

                <div class="compare-lists">
                  <div class="compare-list" v-for="(item_list, index) in compareDataItem.items" :key="item_list.id">
                    <CompareItem :item_list="item_list" :index="index" :j="j"/>
                  </div>

                </div>
              </div>

              <div class="compare-body is_bottom d-flex">

                <!-- <div class="compare-left d-flex flex-column justify-content-between">
                  <div v-for="(item,index) in compareDataItem.attributes" style="min-width: 204px; margin-bottom: 24px; min-height: 24px; white-space: nowrap" :key="index">
                     {{item.label}}
                  </div>
                </div> -->

                 <div class="compare-left d-flex flex-column"  v-if="selected === 'selectAll'">
                  <div v-for="(item,index) in compareDataItem.attributes" style="min-width: 204px; margin-bottom: 24px; min-height: 24px; white-space: nowrap" :key="index">
                     {{item.label}}
                  </div>
                </div>
              
               <div class="compare-left d-flex flex-column"  v-if="selected === 'selectDiff'">
                  <div v-for="(item,index) in getDiffAttributes(compareDataItem)" style="min-width: 204px; margin-bottom: 24px; min-height: 24px; white-space: nowrap" :key="index">
                     {{item.label}}
                  </div>
                </div>

                <div class="compare-lists">

                  <div class="compare-list d-flex flex-column" v-for="(i,index) in compareDataItem.items" :key="index">
                    <template v-if="selected === 'selectAll'">
                      <div class="comp-list" 
                          v-for="(dif,index) in i.attributes"
                          :key="index"
                          style="min-height: 24px; margin-bottom: 24px"
                          :class="dif.difference ? 'diff' : ''">
                        <span class="comp-list-text" v-if="dif.option_id !== null || dif.option_name !== null">
                          {{dif.option_name}}
                        </span>

                        <span v-else>
                          -
                        </span>
                      </div>
                    </template>
                       <template v-if="selected === 'selectDiff'">
                      <div class="comp-list" 
                          v-for="(dif,index) in getDiffAttributes(i)"
                          :key="index"
                          style="min-height: 24px; margin-bottom: 24px"
                          :class="dif.difference ? 'diff' : ''">
                        <span class="comp-list-text" v-if="dif.option_id !== null || dif.option_name !== null">
                          {{dif.option_name}}
                        </span>

                        <span v-else>
                          -
                        </span>
                      </div>
                    </template>
                     <template v-else>
                      <div class="comp-list"
                          style="min-height: 24px; margin-bottom: 24px" >
                        <span v-for="(zz,index) in i.attributes" :key="index">
  <!--                        <span v-if="zz.difference === true">-->
  <!--                          {{zz.option_name}}-->
  <!--                        </span>-->
                        </span>

                      </div>
                    </template>
                  </div>
                </div>

              </div>
            </b-tab>
          </template>
        </b-tabs>

        <div v-else>
          <EmptyPageProducts />
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import { mapGetters } from "vuex";
import ProductItem from "../components/products/Product-item";
import { exampleMixin } from "../mixin/productMixin";
import CompareItem from "../components/Compare-item";
import EmptyPageProducts from "../components/Empty-page-products";

export default {
  name: "compare",
  components: {EmptyPageProducts, CompareItem, ProductItem},
  data() {
    return {
      activeTab: 0,
      selected: 'selectAll'
    }
  },
  computed: {
    ...mapGetters({
      cart_items: "getCartItems",
      wishlist_items: 'getWishlistItems',
      wishlist_login: 'getWishListAfterLogin',
      api_cart: 'getNewApiCart',
      compare: 'getCompare',
      compare_cookie: 'getCompareCookie',
      compareData: 'getCompareData',
      t: 'getTranslations'
    }),
  },
  watch: {
    'compareData.length'() {
      let productIds = this.compareData[this.activeTab]?.product_ids;
      this.$store.dispatch('fetchCompareProducts', productIds);
    }
  },
  methods: {
     getDiffAttributes(item){
       let a = item.attributes.filter(i => i.difference)
       console.log(a)
       if(item.attributes)
      return item.attributes.filter(i => i.difference)
    },
    async removeCompareTab(j){
      this.$store.commit('DELETE_COMPARE_TAB', j)


       if(this.getRouteBaseName() === 'compare' && this.compareData[0]?.product_ids.length > 0){
        let productIds = this.compareData[0]?.product_ids;
        await this.$store.dispatch('fetchCompareProducts', productIds);
      }
    },
    async fetchProducts(productIds){
      await this.$store.dispatch('fetchCompareProducts', productIds);
    }
  },
  async asyncData({ store }) {
    await store.dispatch('fetchCompare');
    let productIds = store.state.compare_data[0]?.product_ids;
    if (productIds) {
      await store.dispatch('fetchCompareProducts', productIds);
    }
  },
}
</script>
