<template>
    <div class="service-center-page">
      <div class="container">
        <div class="service-center">

          <div class="service-center-body">
            <div class="service-center-left">
              <h2 class="service-center-body-title">{{t.contact_us_title}}</h2>

              <b-form @submit.prevent="contactUs" class="service-center-body-content">
                <b-form-group>
                  <b-row>
                    <b-col cols lg="5">
                      <b-form-input class="service-center-input" type="text"
                                    v-model.trim="$v.form.first_name.$model" :placeholder="t.first_name"
                                    :class="{ 'is-invalid': $v.form.first_name.$error }"/>
                    </b-col>
                    <b-col cols lg="5">
                      <b-form-input class="service-center-input" v-model.trim="$v.form.last_name.$model"
                                    type="text" :placeholder="t.surname"
                                    :class="{ 'is-invalid': $v.form.last_name.$error }"/>
                    </b-col>
                  </b-row>

                  <b-form-input class="is-input service-center-input"
                                v-model.trim="$v.form.email.$model" :placeholder="t.email"
                                type="text" label="email"
                                :class="{ 'is-invalid': $v.form.email.$error }"/>

                  <b-form-input class="service-center-input" v-model.trim="$v.form.subject.$model"
                                type="text" :placeholder="t.apply_subject"
                                :class="{ 'is-invalid': $v.form.subject.$error }"/>

                  <textarea :placeholder="t.apply_text" v-model.trim="$v.form.message.$model"
                            :class="{ 'is-invalid': $v.form.message.$error }"
                            class="service-center-textare"></textarea>

                  <span class="text-danger error-info" v-if="$v.form.message.$error" style="display: block">{{t.contact_min_length}}</span>

                  <b-button type="submit" class="form-btn">{{t.send_apply}}</b-button>
                </b-form-group>
              </b-form>
            </div>

            <div class="service-center-right">
              <img src="~images/contact-us.png" alt="">
            </div>
          </div>

        </div>

        <Partners />
      </div>
    </div>
</template>

<script>
import {required, email, minLength} from 'vuelidate/lib/validators';
import Partners from "../components/Partners";
import {mapGetters} from "vuex";
import success from "./success";

export default {
  name: "contact-us",
  components: {Partners},
  data() {
    return {
      form: {
        first_name: '',
        last_name: '',
        email: '',
        subject: '',
        message: ''
      }
    }
  },
  validations: {
    form: {
      first_name: {
        required,
      },
      last_name: {
        required,
      },
      email: {
        required,
        email
      },
      subject: {
        required
      },
      message: {
        required,
        minLength: minLength(10)
      }
    }
  },
  computed: {
    ...mapGetters({
      t: 'getTranslations'
    })
  },
  methods: {
    async contactUs() {
      this.$v.form.$touch();

      if (!this.$v.form.$invalid) {
        try {
          const contact_us = await this.$store.dispatch('contactUs', this.form);
          await this.$router.push(this.localeRoute('index'))
          this.$toast.success(contact_us)
        } catch (err) {
          this.$toast.error(err)
        }
      } else {
        this.$nextTick(() => {
          const el = document.querySelector(".is-invalid:first-of-type");
          el.scrollIntoView({behavior: "smooth", block: "center"});
        });
      }
    },
  }
}
</script>
