<template>
  <div class="afterPayWrap">
    <div class="container">
      <div class="afterPay">
        <img src="~images/error-img.svg" alt="">
        <p class="afterPay-title">404 Error</p>
        <p class="afterPay-text">Üzr istəyirik, təəssüf ki, axtardığınız səhifə tapılmadı</p>
        <NuxtLink :to="localePath('index', $i18n.locale )" class="afterPay-link">Ana sehifeye qayit</NuxtLink>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "error"
}
</script>
