<template>
  <main>

    <div class="home-top-wrap">
      <div class="container">
        <!-- mobile da row-a 'no-gutters' elave et-->
        <div class="row">
          <div class="col-xl-2">
            <Category-tree class="d-none d-xl-flex h-100" />
          </div>
          <div class="col-xl-6">
            <!-- Swiper -->
            <div id="homeSlider" class="swiper" v-swiper="swiperOption">
              <div class="swiper-wrapper">
                <div v-if="loading" class="loading-page">
                  <div class="loading"></div>
                </div>

                <div class="swiper-slide" v-else v-for="main_slide in banners.main" :key="main_slide.id">
                  <a :href="main_slide.url" target="_blank">
                    <img :src="main_slide.img" alt="">
                  </a>
                </div>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination" slot="pagination"></div>
            </div>
            <!-- /Swiper -->
          </div>
          <div class="col-xl-2">
            <!-- for desktop -->
            <div class="promotion-block d-none d-xl-block">
              <div class="promotion-list" v-for="right_banner in banners.right" :key="right_banner.id">
                <a :href="right_banner.url" target="_blank">
                  <img :src="right_banner.img" alt="">
                </a>
              </div>
            </div>

            <!-- Swiper for mobile -->
            <div id="homePromotionTopSlider" v-swiper="swiperTopProm" class="d-xl-none">
              <div class="swiper-wrapper">
                <div class="swiper-slide no-swipe" v-for="right_banner in banners.right" :key="right_banner.id">
                    <a :href="right_banner.url" target="_blank" class="promotion-list">
                      <img :src="right_banner.img" alt="">
                    </a>
                </div>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination" slot="pagination"></div>
            </div>
            <!-- /Swiper -->
          </div>
        </div>
      </div>
    </div>

    <PopularProducts :items="popular_products"/>

    <div class="home-promotion-section" v-if="banners.page.length">
      <div class="container">
        <div class="home-promotion">
          <HomePromotion :banners="banners.page" />
        </div>
      </div>
    </div>

    <BestSellingProducts :items="best_seller_products" />

    <div class="partners-block is-bg-white">
      <div class="container">
        <Partners/>
      </div>
    </div>


    <div class="company-info-wrap">
      <div class="container">
        <div class="company-info">
          <div class="company-info-item">
            <div class="company-info-item-left">
              <img class="is-img" src="~images/info-delivery.svg" alt="">
            </div>
            <div class="company-info-item-right">
              <p class="is-title">{{ t.delivery }}</p>
              <p class="is-subtitle">{{ t.delivery_sub }}</p>
            </div>
          </div>
          <div class="company-info-item">
            <div class="company-info-item-left">
              <img class="is-img" src="~images/info-gift.svg" alt="">
            </div>
            <div class="company-info-item-right">
              <p class="is-title">{{ t.gifts }}</p>
              <p class="is-subtitle">{{ t.gifts_sub }}</p>
            </div>
          </div>
          <div class="company-info-item">
            <div class="company-info-item-left">
              <img class="is-img" src="~images/info-support.svg" alt="">
            </div>
            <div class="company-info-item-right">
              <p class="is-title">{{ t.support }}</p>
              <a href="tel:012 498 18 98" class="is-subtitle">012 498 18 98</a>
            </div>
          </div>
          <div class="company-info-item">
            <div class="company-info-item-left">
              <img class="is-img" src="~images/info-chat.svg" alt="">
            </div>
            <div class="company-info-item-right">
              <p class="is-title">{{ t.online_chat }}</p>
              <p class="is-subtitle">{{ t.online_chat_sub }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
</template>

<script>
import CategoryTree from "../components/layout/Category-tree";
import PopularProducts from "../components/products/Popular-products";
import HomePromotion from "../components/products/Home-promotion";
import BestSellingProducts from "../components/products/Best-selling-products";
import Partners from "../components/Partners";
import {mapGetters, mapState} from "vuex";
export default {
  components: {Partners, BestSellingProducts, HomePromotion, PopularProducts, CategoryTree},
  computed: {
    ...mapState({
      popular_products: state => state.home_products.popular_products,
      best_seller_products: state => state.home_products.best_seller_products
    }),
    ...mapGetters({
      banners: 'getBanners',
      t: 'getTranslations'
    }),
  },
  data() {
    return {
      loading: true,
      productPriceStatus: true,
      swiperOption: {
        pagination: {
          el: '.swiper-pagination',
        },
        loop: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false
        },
      },
      swiperTopProm: {
        breakpoints: {
          1200: {
            noSwipingClass: 'no-swipe',
            slidesPerView: 3
          },
          320: {
            noSwipingClass: 'no-swipe',
            slidesPerView: 2,
            spaceBetween: 16
          },
        }
      },
      promotion: [
        {src: ''},
        {src: ''},
      ]
    }
  },
  mounted() {
    this.loading = false
  },
  async asyncData({ store, $auth, route }) {
    await store.dispatch('fetchHomeProductsData');
    await store.dispatch('fetchCompare');

    if(route.query.access_token) {
      const userToken = route.query.access_token
      await store.dispatch('showUserInfo' ,userToken)

      await $auth.setUserToken(`Bearer ${userToken}`)
    }
  },
}
</script>

<style>
.loading-page {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: 4px solid rgba(9, 133, 81, 0.705);
  border-radius: 50%;
  border-top-color: #158876;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
</style>
