<template>
  <form @submit.prevent="orderPay" @keydown.enter="orderPay" class="basket-wrap order-wrap">
    <b-container class="container">
      <h1 class="basket-title">{{t.order_clearance}}</h1>
      <b-row>
        <b-col cols="10" lg="7">
          <div class="basket-items">
<!--            <h1 v-if="!api_product.items.length">Sebetde mehsul yoxdur</h1>-->
<!--            <basket-item-->
<!--              v-for="basket_item in api_product.items"-->
<!--              :item="basket_item"-->
<!--              :key="basket_item.product_id" />-->

          <div class="orderInfoWrap">

            <div class="orderInfoWrap-top d-none d-lg-flex">
              <div :class="!$v.form.contact_info.$invalid && 'active'" class="orderInfoWrap-top-list">
                <span>1</span>
                {{t.contact_information}}
                <hr>
              </div>
              <div :class="!$v.form.delivery_info.$invalid && 'active'" class="orderInfoWrap-top-list">
                <span>2</span>
                {{t.delivery}}
                <hr>
              </div>
              <div :class="!$v.form.payment_info.$invalid && 'active'" class="orderInfoWrap-top-list">
                <span>3</span>
                {{t._payment}}
              </div>
            </div>

            <div class="orderInfoWrap-bottom">
              <b-col cols="10" lg="5">

                <h2 class="order-title">{{t.contact_information}}</h2>

                <div class="input-wrapper">
                  <input v-model.trim="$v.form.contact_info.first_name.$model"
                         type="text" id="name" :class="{ 'is-invalid': $v.form.contact_info.first_name.$error }">
                  <label for="name">{{ t.first_name }}</label>
                </div>

                <div class="input-wrapper">
                  <input type="text" id="surname" v-model.trim="$v.form.contact_info.last_name.$model"
                         :class="{ 'is-invalid': $v.form.contact_info.last_name.$error }">
                  <label for="surname">{{ t.surname }}</label>
                </div>

                <div class="input-wrapper">
                  <input
                    type="email"
                    id="email"
                    v-model.trim="$v.form.contact_info.email.$model"
                    :class="{ 'is-invalid': $v.form.contact_info.email.$error }"
                  />
                  <label for="email">{{ t.email }}</label>
                </div>

                <div class="input-wrapper" v-if="!$auth.loggedIn">
                  <input type="password" id="password" v-model.trim="$v.form.contact_info.password.$model"
                         :class="{ 'is-invalid': $v.form.contact_info.password.$error }"/>
                  <label for="password">{{ t._password }}</label>
                </div>

                <div class="input-wrapper" v-if="!$auth.loggedIn">
                  <input type="password" id="password_confirmation" v-model.trim="$v.form.contact_info.password_confirmation.$model"
                         :class="{ 'is-invalid': $v.form.contact_info.password_confirmation.$error }"/>
                  <label for="password_confirmation">{{ t._password_confrimation }}</label>
                </div>

                <div class="input-wrapper">
                  <input type="tel" v-model.trim="$v.form.contact_info.phone.$model"
                         v-mask="'+994#########'" id="number" :class="{ 'is-invalid': $v.form.contact_info.phone.$error }">
                  <label for="number">{{ t.phone }}</label>
                </div>

                <div class="input-wrapper">
                  <input type="text" id="note"
                         v-model="form.contact_info.note">
                  <label for="note">{{t.note}}</label>
                </div>

                <h2 class="order-title">{{t.delivery_info}}</h2>

                <v-select v-model.trim="form.delivery_info.city_id" label="name"
                          :class="{ 'is-invalid': $v.form.delivery_info.city_id.$error }"
                          :clearable="false" :options="cities" :reduce="data => data.id"></v-select>

                <div class="input-wrapper">
                  <input type="text" id="streetNumber"
                         v-model.trim="form.delivery_info.address_line"
                         :class="{ 'is-invalid': $v.form.delivery_info.address_line.$error }"/>
                  <label for="streetNumber">{{ t.street_number }}</label>
                </div>

                <div class="input-wrapper">
                  <input type="text" id="homeNumber" v-model.trim="form.delivery_info.additional_address_line"
                         :class="{ 'is-invalid': $v.form.delivery_info.additional_address_line.$error }"/>
                  <label for="homeNumber">{{t.block_apartment_other}}</label>
                </div>


                <h2 class="order-title">{{t.payment_info}}</h2>

                <div class="pay-type-list">
                  <div class="pay-type" v-for="payment in paymentMethods" :key="payment.id">
                    <input type="radio" v-model.trim="$v.form.payment_info.payment_type_id.$model"
                           :id="payment.id" :value="payment.id" name="selectPaymentMethodRadio">
                    <label :for="payment.id">
                      <div class="pay-type-icon">
                        <img :src="payment.icon" alt="">
                      </div>

                      <div class="pay-type-content">
                        <p class="pay-type-content-title">{{payment.name}}</p>
                        <p class="pay-type-content-subtitle" v-if="payment.desc !== null">{{payment.desc}}</p>
                      </div>
                    </label>
                  </div>
                </div>


              </b-col>
              <b-col cols="10" lg="5"></b-col>
            </div>
          </div>
          </div>
        </b-col>
        <b-col cols="10" lg="3" v-if="api_product.items.length > 0">
          <div class="basket-total-block">

            <ul class="basket-total-block-ul">
              <li class="basket-total-block-li">
                <span>{{ api_product.items.length > 0 ? api_product.items.length : '0' }} {{t._product}}</span>
                <span>{{ products_count }} AZN</span>
              </li>
              <li class="basket-total-block-li">
                <span>{{t.discounts}}</span>
                <span>{{ api_product.items.length > 0 ? api_product.discount : '0' }} AZN</span>
              </li>
            </ul>

            <p class="basket-total-block-title">{{t.paid_amount}}</p>
            <div class="basket-total-block-cost">{{ products_count ? products_count : '0' }} AZN</div>

            <b-button class="cost-btn d-flex" type="submit">{{t.order_complete}}</b-button>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </form>
</template>

<script>
import { mask } from 'vue-the-mask';
import {mapGetters} from "vuex";
import { required, requiredIf, sameAs } from 'vuelidate/lib/validators';

export default {
  name: "order",
  directives: { mask },
  hexTokens: {
    F: {
      pattern: /[0-9a-fA-F]/,
      transform: v => v.toLocaleUpperCase()
    }
  },
  data() {
    return {
      form: {
        contact_info: {
          email: '',
          first_name: '',
          last_name: '',
          phone: '',
          note: '',
          password: '',
          password_confirmation: ''
        },
        delivery_info: {
          city_id: 1,
          address_line: '',
          additional_address_line: '',
        },
        payment_info: {
          payment_type_id: [],
        }
      }
    }
  },
  validations: {
    form: {
      contact_info: {
        email: {
          required
        },
        first_name: {
          required
        },
        last_name: {
          required
        },
        phone: {
          required
        },
        password: {
          required: requiredIf(function () {
            return !this.$auth.loggedIn
          })
        },
        password_confirmation: {
          required: requiredIf(function () {
            return !this.$auth.loggedIn
          }),
          sameAs: sameAs('password')
        }
      },
      delivery_info: {
        city_id: {
          required
        },
        address_line: {
          required
        },
        additional_address_line: {
          required
        },
      },
      payment_info: {
        payment_type_id: {
          required
        }
      }
    },
  },
  methods: {
    async orderPay() {
      this.$v.form.$touch();

      if (!this.$v.form.$invalid) {
        try {
          await this.$store.dispatch("pay", {
            email: this.form.contact_info.email,
            first_name: this.form.contact_info.first_name,
            last_name: this.form.contact_info.last_name,
            password: this.form.contact_info.password,
            password_confirmation: this.form.contact_info.password_confirmation,
            phone: this.form.contact_info.phone,
            city_id: this.form.delivery_info.city_id,
            address_line: this.form.delivery_info.address_line,
            additional_address_line: this.form.delivery_info.additional_address_line,
            payment_type_id: this.form.payment_info.payment_type_id,
            note: this.form.contact_info.note
          });

          this.$toast.success(this.t.success_order)
        } catch (err) {
          this.$toast.error(err);
        }
      } else {
        this.$nextTick(() => {
          const el = document.querySelector(".is-invalid:first-of-type");
          el.scrollIntoView({behavior: "smooth", block: "center"});
        });
      }
    },
  },
  computed: {
    ...mapGetters({
      products: 'getProducts',
      products_count: 'getTotalPrice',
      api_product: 'getNewApiCart',
      userInfo: "getUserInfo",
      getTotalWithDiscount: 'getTotalWithDiscount',
      paymentMethods: 'getPaymentMethods',
      cities: 'getCities',
      t: 'getTranslations'
    })
  },
  mounted() {
    this.$nextTick(() => {
      if (this.$auth.user) {
        this.form.contact_info = { ...this.$auth.user };
        this.form.delivery_info = { ...this.form.delivery_info, ...this.$auth.user };
      }
    })
    this.$store.dispatch('paymentMethods');
    this.$store.dispatch('fetchCartDetails');
  },
  async asyncData({store}) {
    // await store.dispatch('fetchCartDetails');
    await store.dispatch("showUserInfo");
  }
}
</script>
