<template>
  <div class="afterPayWrap">
    <div class="container">
      <div class="afterPay">
        <img src="~images/loading-pay.gif" alt="" style="width: 270px;">
        <p class="afterPay-title" style="margin-top: 25px">{{t.order_pending}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "payment",
  mounted() {
    let checkPayKey = this.$route.query.payment_key
    this.$store.dispatch('checkPay', checkPayKey)
    checkPayKey = ''
  },
  computed: {
    ...mapGetters({
      t: 'getTranslations'
    })
  }
}
</script>
