<template>
 <div class="searchResults">
   <div class="container">
     <div class="searchResultsTop">
       <p class="searchResultsTop-title">
         {{t.search_result}}
         <span class="searchResultsTop-subtitle">{{this.$route.query.search}}</span>
       </p>
     </div>

     <div class="searchResult-inner">
       <b-row>
         <b-col cols="12" lg="2"  v-for="item in allSearchResults.data" :key="item.id">
           <ProductItem :item_list="item"/>
         </b-col>
       </b-row>
     </div>
   </div>
 </div>
</template>

<script>
import {mapGetters} from "vuex";
import ProductItem from "../components/products/Product-item";

export default {
  name: "search-result",
  components: {ProductItem},
  computed: {
    ...mapGetters({
      allSearchResults: 'getAllResults',
      t: 'getTranslations'
    })
  }
}
</script>
