<template>
  <div class="service-center-page">
    <div class="container">
      <div class="service-center">
        <h1 class="service-center-title">Servis xidməti</h1>

        <div class="service-center-body">
          <div class="service-center-left">
            <h2 class="service-center-body-title">Servis mərkəzinin göstərdiyi xidmətlər</h2>

            <p class="service-center-body-content">
              Bestel - Servis mərkəzi təcrübəli mutəxəssislər komandasıdır ki, hər bir texniki problemdə sizə köməklik göstərməyə hazırdılar. Sizə aşağıdakı servis xidmətlərini təqdim edirik:
              - Noutbukların, kompüterlərin, planşetlərin, printerlərin və şəbəkə avadanlıqlarının diaqnostikası və təmiri
              - Mürəkkəbliyindən asılı olmayaraq, İT sahədə movcud istənilən digər problemlərin həlli istiqamətində konsultasiya və məsləhətləşmələr
              - Şirkətlərdə, ofislərdə, idarə və təşkilatlarda İT servis-dəstəyinin yerində təşkili, idarə olunması və təminatı
              Servis xidməti peşəkar sertifikatlaşmış tеxniki mühəndislər tərəfindən həyata keçirilməsi və müştəri məmnunluğunun təmin olunması ilə yanaşı, eyni zamanda sərfəli qiymət balansının qorunması, firmamızın başlıca strategiyasıdır.
              Zəmanət və keyfiyyətimizlə hər zaman öndəyik!
            </p>
          </div>

          <div class="service-center-right">
            <img src="~images/service.png" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "service-center"
}
</script>
