<template>
<!--  <div class="stores-wrap">-->
<!--    <div class="container">-->
<!--      <div class="stores">-->
<!--        <h1 class="stores-title">-->
<!--          {{stores.title}}-->
<!--        </h1>-->


<!--        <div class="map">-->
<!--          <b-card no-body>-->
<!--            <b-tabs pills card vertical>-->
<!--              <b-tab title="Tab 1" v-for="item in stores.stores" :key="item.id">-->
<!--                <template #title>-->
<!--                  <h2 class="item-title">{{item.name}}</h2>-->
<!--                  <p class="item-address">{{item.address}}</p>-->

<!--                  <div class="stores-phones">-->
<!--                    <p class="item-phone" v-for="phone in item.phones" :key="phone.id">-->
<!--                      {{phone.phone}}-->
<!--                    </p>-->
<!--                  </div>-->
<!--                </template>-->
<!--                <b-card-text>-->
<!--                  <iframe :src="item.map_link" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->
<!--                </b-card-text>-->
<!--              </b-tab>-->
<!--            </b-tabs>-->
<!--          </b-card>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "store",
}
</script>
