<template>
  <div class="afterPayWrap">
    <div class="container">
      <div class="afterPay">
        <img src="~images/success-img.svg" alt="">
        <p class="afterPay-title">{{t.accepted_order}}</p>
        <p class="afterPay-text">{{t.congrts_accepted_order}}</p>
        <NuxtLink :to="localePath('index', $i18n.locale )" class="afterPay-link">{{t.return_to_home_page}}</NuxtLink>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "success",
  computed: {
    ...mapGetters({
      t: 'getTranslations'
    })
  }
}
</script>
