<template>
  <h2>
    waiting please verify email address ...
  </h2>
</template>

<script>
export default {
  name: "verify-email",
  mounted() {
    const url = this.$route.query.url + '&signature=' + this.$route.query.signature
    this.$store.dispatch('sendEmailVerify', url)
  },
  // async asyncData({ store, route }) {
  //
  //   // const url = route.fullPath.split('url=')[1];
  //
  //   const url = route.query.url + '&signature=' + route.query.signature
  //   await store.dispatch('sendEmailVerify', url)
  // },
}
</script>
