<template>
  <div class="wishlist-not-login">
    <b-container>
      <h1 class="wishlist-title">{{t.wishlist}}</h1>
      <b-row v-if="getWishlistNotLoginData.length !== 0">

          <b-col cols="5" lg="2" v-for="item in getWishlistNotLoginData" :key="item.id">
            <ProductItem :item_list="item" />
          </b-col>

      </b-row>

      <EmptyPageProducts v-else/>
    </b-container>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import ProductItem from "../components/products/Product-item";
import EmptyPageProducts from "../components/Empty-page-products";

export default {
  name: "selected",
  components: {EmptyPageProducts, ProductItem},
  computed: {
    ...mapGetters({
      getWishlistNotLoginData: 'getWishlistNotLoginData',
      t: 'getTranslations'
    })
  },
  updated() {
    window.scrollTo({
      top: 0,
      left: 0,
      behavior: 'smooth'
    })
  },
  async asyncData({store}) {
    await store.dispatch('wishlistDataWithoutLogin');
  }
}
</script>
