<template>
  <div class="beforeResetPass">
    <p class="beforeResetPass-title">{{t.restore_password}}</p>
    <p class="beforeResetPass-subtitle">{{t.add_confirm_email}}</p>

    <form @submit.prevent="sendChangePass">
      <b-form-input
        class="is-input"
        v-model.trim="$v.form.email.$model" :placeholder="t.email"
        type="text" label="email"
        :class="{ 'is-invalid': $v.form.email.$error }"
      />
      <b-button type="submit" class="form-btn">{{t.restore_password}}</b-button>
    </form>
  </div>
</template>

<script>
import {email, required} from "vuelidate/lib/validators";
import {mapGetters} from "vuex";

export default {
  name: "Before-reset-password",
  props: {
    activeResetPass: Boolean
  },
  data(){
    return {
      form: {
        email: ''
      },
    }
  },
  validations: {
    form: {
      email: {
        required,
        email
      }
    }
  },
  computed: {
    ...mapGetters({
      t: 'getTranslations'
    })
  },
  methods: {
    async sendChangePass() {
      this.$v.form.$touch();
      const userMail = this.form.email

      if (!this.$v.form.$invalid) {
        try {
          await this.$store.dispatch('beforeResetPass', userMail);
          this.$toast.success(this.t.success_reset_password)
          this.$emit('closeSideBarReset')
        } catch (err) {
          this.$toast.error(err.errors.email)
        }
      }
    },
  }
}
</script>
