<template>
  <!-- @keydown.enter="userLogin" -->
  <form @submit.prevent="userLogin">
    <b-form-input
      class="is-input"
      v-model.trim="$v.form.email.$model" :placeholder="t.email"
      type="text" label="email"
      :class="{ 'is-invalid': $v.form.email.$error }"
    />

    <b-form-input
      class="is-input"
      v-model.trim="$v.form.password.$model" :placeholder="t._password"
      type="password" aria-label="password"
      :class="{ 'is-invalid': $v.form.password.$error }"
    />
    <span class="text-danger error-info" v-if="!$v.form.password.minLength">{{ t.password_min_length }}</span>

    <!-- open reset password -->
    <b-button class="forgotPass" @click="openResetPassModal">{{ t.forgot_password }}</b-button>

    <!-- submit form -->
    <b-button type="submit" class="form-btn">{{t.login}}</b-button>
  </form>
</template>

<script>
import { required, email, minLength } from 'vuelidate/lib/validators';
import BeforeResetPassword from "./Before-reset-password";
import {mapGetters} from "vuex";

export default {
  name: "Login",
  components: {BeforeResetPassword},
  data() {
    return {
      form: {
        email: '',
        password: ''
      }
    }
  },
  validations: {
    form: {
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(8)
      }
    }
  },
  computed: {
    ...mapGetters({
      t: 'getTranslations'
    })
  },
  methods: {
    openResetPassModal(){
      this.$root.$emit('open-reset-modal')
    },
    closeLoginSideBar() {
      this.$root.$emit('loggedIn')
    },
    async userLogin() {
      this.$v.form.$touch();

      if (!this.$v.form.$invalid) {
        try {
          await this.$auth.loginWith('local', { data: this.form })
          await this.$store.dispatch('syncCart');
          this.closeLoginSideBar()
        } catch (err) {
          const static_error = 'Şifrə və ya Email səhfdir'
          this.$toast.error(static_error)
        }
      }
    },
  }
}
</script>
