<template>
  <div>
    <!-- reset pass component -->
    <div class="login-register-sidebar" :class="activeResetPass ? 'active-res' : ''">
      <b-button @click="closeResetPass" class="close-block">
        <i class="icon-cancel"></i>
      </b-button>

      <BeforeResetPassword v-show="activeResetPass" :activeResetPass="activeResetPass" @closeSideBarReset="() => !activeResetPass"/>
    </div>

    <div class="login-register-sidebar" :class="sideBarLogin ? 'active' : ''">

      <div class="inner-side">
        <b-button @click="closeLoginSideBar" class="close-block">
          <i class="icon-cancel"></i>
        </b-button>

        <h2 class="auth-title">{{ t.auth_title }}</h2>


        <b-card class="home-tabs" no-body>
          <b-tabs pills card v-model="activeTab">
            <b-tab :title="t.login">
              <div class="row">
                <b-col col cols="10" lg="10">
                  <Login />
                </b-col>
              </div>
            </b-tab>
            <b-tab :title="t.register">
              <div class="row">
                <b-col col cols="10" lg="10">
                  <Register/>
                </b-col>
              </div>
            </b-tab>
          </b-tabs>
        </b-card>

        <div class="login-with-soc">
          <div class="login-with-soc-line">
            <span class="is_text">{{t._or}}</span>
            <span class="is_line"></span>
          </div>
          <a href="https://bestel.bestcreative.az/api/auth/login/facebook"  class="login-with-soc-item">
            <img src="~images/fb.svg" alt="">
            {{ t.login_via_facebook }}
          </a>
          <a href="https://bestel.bestcreative.az/api/auth/login/google" class="login-with-soc-item">
            <img src="~images/google.svg" alt="">
            {{ t.login_via_google }}
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Login from "./Login";
import Register from "./Register";
import BeforeResetPassword from "./Before-reset-password";
import {mapGetters} from "vuex";
export default {
  name: "Login-sidebar",
  components: {BeforeResetPassword, Register, Login},
  props: {
    sideBarLogin: {
      type: Boolean
    }
  },
  data() {
    return {
      activeResetPass: false,
      activeTab: 0,
    }
  },
  computed: {
    ...mapGetters({
      t: 'getTranslations'
    })
  },
  methods: {
    closeLoginSideBar() {
      this.$root.$emit('loggedIn')
    },
    closeResetPass(){
      this.activeResetPass = false
    },
    registerWithFB(){
      this.$store.dispatch('registerWithFB')
    },
  },
  mounted() {
    this.$root.$on('open-reset-modal', () => {
      this.activeResetPass = true
    })
    this.$root.$on('registered',() => {
     this.activeTab = 0
    })
  }
}
</script>
