<template>
  <form @submit.prevent="userRegister">
    <div class="register-top-inputs">
        <b-form-input
          class="is-input"
          v-model="form.first_name"
          :class="{ 'is-invalid': $v.form.first_name.$error }"
          type="text" :placeholder="t.name"/>

        <b-form-input
          class="is-input"
          v-model="form.last_name"
          :class="{ 'is-invalid': $v.form.last_name.$error }"
          type="text" :placeholder="t.surname"/>
    </div>


    <b-form-input
      class="is-input"
      v-model="form.email"
      :class="{ 'is-invalid': $v.form.email.$error }"
      :placeholder="t.email" type="email" label="email" />

    <b-form-input
      class="is-input"
      :class="{ 'is-invalid': $v.form.password.$error }"
      v-model="form.password" :placeholder="t._password"
      type="password" aria-label="password"/>

    <span class="text-danger error-info" v-if="!$v.form.password.minLength">{{t.password_min_length}}</span>

    <b-form-input
      class="is-input"
      :class="{ 'is-invalid': $v.form.password_confirmation.$error }"
      v-model="form.password_confirmation" :placeholder="t._password_confrimation"
      type="password" aria-label="password"/>

    <span class="text-danger error-info" v-if="!$v.form.password_confirmation.minLength">{{t.password_min_length}}</span>

    <b-button type="submit" class="form-btn">{{t.register}}</b-button>
  </form>
</template>

<script>
import { required, email, minLength } from 'vuelidate/lib/validators';
import {mapGetters} from "vuex";

export default {
  name: "Register",
  data () {
    return {
      form: {
        first_name: '',
        last_name: '',
        email: '',
        password: '',
        password_confirmation: ''
      }
    }
  },
  validations: {
    form: {
      first_name: {
        required
      },
      last_name: {
        required
      },
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(8)
      },
      password_confirmation: {
        required,
        minLength: minLength(8)
      }
    }
  },
  computed: {
    ...mapGetters({
      t: 'getTranslations'
    })
  },
  methods: {
    closeLoginSideBar() {
      this.$root.$emit('loggedIn')
    },
    async userRegister() {
      this.$v.form.$touch();

      if (!this.$v.$invalid) {
        try {
          await this.$store.dispatch('register', this.form);
          this.$root.$emit('registered')
          this.$toast.success(this.t.success_registration);
          this.closeLoginSideBar()
        } catch (err) {
          this.$toast.error(err.errors.email)
          this.$toast.error(err.errors.password)
          this.$toast.error(err.errors.password_confirmation)
        }
      }
    }
  }
}
</script>
