<template>
  <b-modal class="calcPriceModal" id="bv-modal-example" hide-footer hide-header>
    <div class="d-block">
      <h3 class="calcPriceModal__title">{{t.pay_in_installments}}</h3>
      <b-form-select v-model="selected" @change="calculateMethod" :options="options"></b-form-select>
      <div class="calcPriceModal__info">
        <div class="calcPriceModal__info-top">
          <span class="calcPriceModal__info-top-title">{{t.the_value_of_the_product}}</span>
          <span class="calcPriceModal__info-top-price">{{price}} AZN</span>
        </div>
        <div class="calcPriceModal__info-bottom">
          <span class="calcPriceModal__info-bottom-title">{{t.monthly_payment}}</span>
          <span class="calcPriceModal__info-bottom-price">{{this.calcPrice}} AZN</span>
        </div>
      </div>

      <p class="calcPriceModal__text">{{t.take_product_by_credit}}</p>
      <b-button class="calcPriceModal__btn form-btn" block @click="$bvModal.hide('bv-modal-example')">{{t.close_btn}}</b-button>
    </div>
  </b-modal>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "Credit-calc",
  props: {
    price: {
      type: Number
    }
  },
  computed: {
    ...mapGetters({
      t: 'getTranslations'
    })
  },
  data(){
    return {
      selected: null,
      options: [
        {value: null, text: `${this.$store.getters.getTranslations.title_credit}`},
        {value: 3, text: 3},
        {value: 6, text: 6},
        {value: 9, text: 9},
        {value: 12, text: 12},
      ],
      calcPrice: 0
    }
  },
  methods: {
    calculateMethod() {
      console.log(this.price)
      if (this.selected !== null) {
        this.calcPrice = (this.price / this.selected).toFixed(2)
      } else {
        this.calcPrice = 0
      }
    }
  }
}
</script>

<style scoped>

</style>
