  <template>
  <div class="product-inner">
    <!-- share product modal -->
    <b-modal id="shareModal" ref="share-modal" centered hide-footer hide-header class="shareModal">
<!--      <button class="close">-->
<!--        <i class="icon-cancel"></i>-->
<!--      </button>-->
      <div class="d-block text-center social-share">
        <p class="social-share-title">{{t.share_product_in_social}}</p>
        <div class="social-share-buttons">
          <a :href="`https://www.facebook.com/sharer/sharer.php?u=https://bestel.bestcreative.az${item_list.url}`" target="_blank"><i class="icon-facebook"></i></a>
          <a :href="`https://www.twitter.com/share?url=https://bestel.bestcreative.az${item_list.url}`" target="_blank"><i class="icon-twitter"></i></a>
          <a :href="`https://t.me/share/url?url=https://bestel.bestcreative.az${item_list.url}`" target="_blank"><i class="icon-telegram"></i></a>
          <a :href="`https://wa.me/?text=https://bestel.bestcreative.az${item_list.url}`" target="_blank"><i class="icon-whatsapp"></i></a>
        </div>
      </div>
      <!--      <b-button class="mt-3" variant="outline-danger" block @click="hideModal">Close Me</b-button>-->
    </b-modal>
    <!-- / share product modal -->


    <!-- Find cheaper product modal -->
    <b-modal id="findCheaper" ref="findCheaper-modal" centered hide-footer hide-header class="findCheaper">
        <div class="findCheaper-wrap">
          <div class="findCheaper-top">
            <h2 class="findCheaper-title">{{t.did_you_find_cheaper}}</h2>

            <button class="close" @click="hideModal('findCheaper')">
              <i class="icon-cancel"></i>
            </button>
          </div>

          <form @submit.prevent="sendFindCheaperProduct('findCheaper')" class="findCheaper-body">
            <div class="input-wrapper">
              <input type="text" id="email" v-model="modal_form.email"
                     :class="{ 'is-invalid': $v.modal_form.email.$error }">
              <label for="email">{{ t.email }}</label>
            </div>

            <div class="input-wrapper">
              <input type="text" id="first_name" v-model="modal_form.name"
                     :class="{ 'is-invalid': $v.modal_form.name.$error }">
              <label for="first_name">{{ t.first_name }}</label>
            </div>

            <div class="input-wrapper">
              <input type="text" id="link" v-model="modal_form.link"
                     :class="{ 'is-invalid': $v.modal_form.link.$error }">
              <label for="link">{{ t.link }}</label>
            </div>

            <div class="input-wrapper">
              <textarea type="text" id="textarea" v-model="modal_form.message"
                        class="service-center-textare"
                        :class="{ 'is-invalid': $v.modal_form.message.$error }"></textarea>
              <label for="textarea">{{ t.apply_text }}</label>
            </div>

            <div class="findCheaper-btns">
              <b-button class="findCheaper-btn" variant="outline-danger" block @click="hideModal('findCheaper')">{{t._reject}}</b-button>
              <b-button type="submit" class="findCheaper-btn">
                <span v-if="dataLoading" class="spinner-border spinner-border-sm" role="status">
                  <span class="sr-only">Loading...</span>
                </span>
                <span v-else>{{t.continue}}</span>
              </b-button>
            </div>
          </form>
        </div>
    </b-modal>
    <!-- / Find cheaper product modal -->


    <div class="breadcrumb-block">
      <div class="container">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" v-for="(breadcrumb,index) in breadcrumbs" :key="'breadcrumb' + index">
              <NuxtLink :to="localePath(`${breadcrumb.url}`, $i18n.locale)">{{breadcrumb.name}}</NuxtLink>
            </li>
          </ol>
      </div>
    </div>

    <div class="product-inner-body">
      <b-container>
        <div class="row">
          <b-col cols="12" lg="4" v-if="item_list.images.conversions && item_list.images.conversions.length">
            <div class="thumb-example d-none d-lg-flex">
              <!-- swiper1 -->
              <swiper class="swiper gallery-top" :options="swiperOptionTop" ref="swiperTop">
                <div class="gallery-top-img" >
                  <img :src="item_list.images.conversions[currentIndex]['web-inner']" alt="">
                </div>
              </swiper>

              <!-- swiper2 Thumbs -->
              <swiper class="swiper gallery-thumbs" :options="swiperOptionThumbs" ref="swiperThumbs">
                <swiper-slide
                  class="swiper-slide"
                  v-for="(images, index) in item_list.images.conversions"
                  :key="index"
                  :class="{ 'active-index': index === currentIndex }"
                >
                  <img :src="images.thumb" alt="" @click="setIndex(index)">
                </swiper-slide>
<!--                <div class="swiper-button-prev">-->
<!--                  <i class="iconfont icon-arrow-down"></i>-->
<!--                </div>-->
<!--                <div class="swiper-button-next">-->
<!--                  <i class="iconfont icon-arrow-up"></i>-->
<!--                </div>-->
              </swiper>
            </div>

            <!-- slider for mobile version -->
            <swiper class="swiper d-lg-none" :options="swiperOptionMobile">
              <swiper-slide class="swiper-slide" v-for="(images, index) in item_list.images.conversions" :key="index">
                <img :src="images.lg" alt="" style="width: 100%">
              </swiper-slide>
              <div class="swiper-pagination" slot="pagination"></div>
              <div class="swiper-button-prev" slot="button-prev"></div>
              <div class="swiper-button-next" slot="button-next"></div>
            </swiper>
          </b-col>
       
         <b-col cols="12" lg="4" v-else>
            <div class="thumb-example d-none d-lg-flex">
              <!-- swiper1 -->
              <swiper class="swiper gallery-top" :options="swiperOptionTop" ref="swiperTop">
                <div class="gallery-top-img" >
                  <img src="~/assets/images/noimage.jpg" alt="Bestel.az">
                </div>
              </swiper>

              <!-- swiper2 Thumbs -->
              <swiper class="swiper gallery-thumbs" :options="swiperOptionThumbs" ref="swiperThumbs" v-if="item_list.images.conversions && item_list.images.conversions.length">
                <swiper-slide
                  class="swiper-slide"
                  v-for="(images, index) in item_list.images.conversions"
                  :key="index"
                  :class="{ 'active-index': index === currentIndex }"
                >
                  <img :src="images.thumb" alt="" @click="setIndex(index)">
                </swiper-slide>
<!--                <div class="swiper-button-prev">-->
<!--                  <i class="iconfont icon-arrow-down"></i>-->
<!--                </div>-->
<!--                <div class="swiper-button-next">-->
<!--                  <i class="iconfont icon-arrow-up"></i>-->
<!--                </div>-->
              </swiper>
            </div>

            <!-- slider for mobile version -->
            <swiper class="swiper d-lg-none" :options="swiperOptionMobile" v-if="item_list.images.conversions && item_list.images.conversions.length">
              <swiper-slide class="swiper-slide" v-for="(images, index) in item_list.images.conversions" :key="index">
                <img :src="images.lg" alt="" style="width: 100%">
              </swiper-slide>
              <div class="swiper-pagination" slot="pagination"></div>
              <div class="swiper-button-prev" slot="button-prev"></div>
              <div class="swiper-button-next" slot="button-next"></div>
            </swiper>
             <swiper class="swiper d-lg-none" :options="swiperOptionMobile" v-else>
              <swiper-slide class="swiper-slide">
                <img src="~/assets/images/noimage.jpg" alt="" style="width: 100%">
              </swiper-slide>
              <div class="swiper-pagination" slot="pagination"></div>
              <div class="swiper-button-prev" slot="button-prev"></div>
              <div class="swiper-button-next" slot="button-next"></div>
            </swiper>
          </b-col>

          <b-col cols="10" lg="4">
            <div class="product-inner-body-right">
              <h1 class="product-inner-title">{{item_list.name}}</h1>
              <p class="product-inner-code">[{{item_list.code}}]</p>

              <div class="product-top-rating">
                    <span class="product-top-rating-left-count" v-if="item_list.review.rating">
                      {{item_list.review.rating}}
                    </span>

                <client-only>
                  <star-rating v-model="item_list.review.star_rating"
                               active-color="#F69F29" v-bind:star-size="20"
                               :show-rating=false
                               :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]"
                               read-only>
                  </star-rating>
                </client-only>

                <span class="product-top-rating-right-count">{{t.feedback_and_review}}: {{item_list.review.count}}</span>
              </div>
            
              <div class="is-left justify-content-between" v-if="item_list.price !== null">
                <div class="d-flex">
                  <p class="product-old-price" v-show="item_list.has_discount">
                    {{ item_list.price }}
                    <span class="d-none d-lg-block">&nbsp;AZN</span>
                    <span class="d-lg-none"><i class="icon-azn"></i></span>
                  </p>
                  <p class="product-price">
                    {{ !item_list.has_discount ? item_list.price : item_list.discounted_price }}
                    <span class="d-none d-lg-block">&nbsp;AZN</span>
                    <span class="d-lg-none"><i class="icon-azn"></i></span>
                  </p>
                </div>
                <div class="product-actions">
                  <!-- add to wishlist buttons -->
                  <button v-if="!isInFavs" class="product-inner-wishlist-btn" @click="addToCookiesWishlist(item_list.id)">
                    <i class="icon-heart-empty"></i>
                  </button>

                  <button v-else class="product-inner-wishlist-btn" :class="isInFavs ? 'wishlist-btn-active' : ''" @click="deleteToCookiesWishlist(item_list.id)">
                    <i class="icon-heart"></i>
                  </button>

                  <!-- add to compare buttons -->
                  <button class="product-inner-compare-btn" @click="handlerCompare(item_list.id)" v-if="!isInCompareCookie">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15 16.6667V8.33337" stroke="#484848" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10 16.6667V3.33337" stroke="#484848" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M5 16.6666V11.6666" stroke="#484848" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>

                  <button class="btn-pr compare-btn is-active product-inner-compare-btn" @click="removeFromCookieCompare(item_list.id, index)" v-else>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M15 16.6667V8.33337" stroke="#484848" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10 16.6667V3.33337" stroke="#484848" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M5 16.6666V11.6666" stroke="#484848" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>

                  <!-- share button -->
                  <button class="btn-pr compare-btn product-inner-compare-btn"
                          @click="shareProduct">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M18.5078 15.2656C17.2344 15.2656 16.1029 15.8845 15.3978 16.837L9.32763 13.7349C9.42946 13.3889 9.48438 13.023 9.48438 12.6445C9.48438 12.1319 9.38387 11.6423 9.2019 11.1942L15.5639 7.37179C16.2737 8.20496 17.33 8.73438 18.5078 8.73438C20.6402 8.73438 22.375 6.99955 22.375 4.86719C22.375 2.73482 20.6402 1 18.5078 1C16.3754 1 14.6406 2.73482 14.6406 4.86719C14.6406 5.36004 14.7335 5.83154 14.9023 6.26539L8.52445 10.0973C7.81512 9.28876 6.77481 8.77734 5.61719 8.77734C3.48482 8.77734 1.75 10.5122 1.75 12.6445C1.75 14.7769 3.48482 16.5117 5.61719 16.5117C6.91149 16.5117 8.05919 15.8725 8.76151 14.8933L14.8141 17.9864C14.7014 18.3488 14.6406 18.7338 14.6406 19.1328C14.6406 21.2652 16.3754 23 18.5078 23C20.6402 23 22.375 21.2652 22.375 19.1328C22.375 17.0004 20.6402 15.2656 18.5078 15.2656ZM18.5078 2.28906C19.9294 2.28906 21.0859 3.44561 21.0859 4.86719C21.0859 6.28877 19.9294 7.44531 18.5078 7.44531C17.0862 7.44531 15.9297 6.28877 15.9297 4.86719C15.9297 3.44561 17.0862 2.28906 18.5078 2.28906ZM5.61719 15.2227C4.19561 15.2227 3.03906 14.0661 3.03906 12.6445C3.03906 11.223 4.19561 10.0664 5.61719 10.0664C7.03877 10.0664 8.19531 11.223 8.19531 12.6445C8.19531 14.0661 7.03877 15.2227 5.61719 15.2227ZM18.5078 21.7109C17.0862 21.7109 15.9297 20.5544 15.9297 19.1328C15.9297 17.7112 17.0862 16.5547 18.5078 16.5547C19.9294 16.5547 21.0859 17.7112 21.0859 19.1328C21.0859 20.5544 19.9294 21.7109 18.5078 21.7109Z" fill="#484848"/>
                    </svg>
                  </button>
                </div>
              </div>
             

              <div class="product-actions">

                <template v-if="item_list.stock_count > 3 && !item_list.coming_soon">
                  <!-- <NuxtLink :to="localePath('/page/'+ top_menu_store.url, $i18n.locale)"
                            class="not-stock-product btn-pr form-btn" v-if="item_list.stock_count < 3">
                    {{t.Check_from_stores}}
                  </NuxtLink> -->

                  <template>
                    <button class="form-btn add-to-cart-inner-page d-flex justify-content-between"
                            @click="handler(item_list, item_list.id, $event);" v-if="!isInCart">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none"  xmlns="http://www.w3.org/2000/svg" style="margin-right: 8px">
                        <path d="M14.7611 15.3119H6.8885C6.30725 15.3119 5.81185 14.8872 5.71437 14.3068L3.62145 1.837C3.5741 1.55639 3.43045 1.30177 3.21587 1.11811C3.0013 0.934458 2.7296 0.833585 2.44877 0.833313H1.66675" stroke="#484848" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.27566 11.6917H14.8549C15.3859 11.6917 15.9016 11.5118 16.3201 11.1805C16.7386 10.8493 17.0358 10.3857 17.1646 9.86357L18.3155 5.19763C18.3375 5.10858 18.3392 5.01561 18.3204 4.92579C18.3016 4.83597 18.2629 4.75169 18.2071 4.67936C18.1513 4.60702 18.08 4.54855 17.9986 4.50839C17.9171 4.46824 17.8277 4.44746 17.7371 4.44763H4.06079" stroke="#484848" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        <ellipse cx="13.2733" cy="18.0605" rx="1.0912" ry="1.1062" fill="#484848"/>
                        <ellipse cx="7.45375" cy="18.0605" rx="1.0912" ry="1.1062" fill="#484848"/>
                      </svg>

                      {{t.add_to_cart}}
                    </button>

                    <button class="box-btn form-btn remove-from-cart-inner-page" @click="removeFromCart(item_list.id)" v-else>
                      {{t.remove_from_cart}}
                    </button>
                  </template>
                </template>

                <NuxtLink v-else-if="item_list.stock_count !==0 && item_list.stock_count <=3 && !item_list.coming_soon" :to="localePath('/page/'+ top_menu_store.url, $i18n.locale)"
                          class="not-stock-product btn-pr form-btn">
                  {{t.ask_from_store}}
                </NuxtLink>
                <a v-else-if="item_list.stock_count == 0 && !item_list.coming_soon" href="#"
                          class="not-stock-product btn-pr form-btn">
                  {{t.out_of_stock}}
                </a>
                <a v-else-if="item_list.coming_soon" href="#"
                          class="not-stock-product btn-pr form-btn">
                  {{t.coming_soon}}
                </a>

                <!-- find  -->
                <button class="btn-pr cheaper-btn compare-btn"
                        @click="findCheaper">
                  {{t.find_cheaper}}
                </button>

                <button id="show-btn" @click="$bvModal.show('bv-modal-example')"
                        style="padding: 0 17px"
                        class="btn-pr form-btn actions-by-credit d-flex justify-content-center">
                  <svg style="margin-right: 8px" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_3214:16027)">
                      <path d="M19.976 11.0003L18.4637 2.42382C18.3302 1.66663 17.6717 1.1339 16.9286 1.1339C16.8387 1.1339 3.68542 3.44487 3.68542 3.44487C2.83659 3.59456 2.2698 4.40401 2.41948 5.25284L2.56526 6.07968H14.4361C15.9421 6.07968 17.1673 7.30487 17.1673 8.81085V9.90526V12.5603V13.0803L18.7101 12.8083C19.5589 12.6586 20.1257 11.8492 19.976 11.0003Z" fill="#EC3137"/>
                      <path d="M15.9968 13.7308H0V17.3055C0 18.1674 0.69875 18.8661 1.56066 18.8661H14.4361C15.298 18.8661 15.9968 18.1674 15.9968 17.3055V13.7308ZM4.64637 17.46H1.99129C1.66809 17.46 1.40605 17.198 1.40605 16.8748C1.40605 16.5516 1.66809 16.2896 1.99129 16.2896H4.64637C4.96957 16.2896 5.2316 16.5516 5.2316 16.8748C5.2316 17.198 4.96961 17.46 4.64637 17.46Z" fill="#EC3137"/>
                      <path d="M0.00195312 8.73478H15.9949C15.9552 7.90818 15.2725 7.25021 14.4361 7.25021H1.5607C0.724297 7.25021 0.0416406 7.90818 0.00195312 8.73478Z" fill="#EC3137"/>
                      <path d="M0 9.90527H15.9968V12.5604H0V9.90527Z" fill="#EC3137"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_3214:16027">
                        <rect width="20" height="20" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>

                  {{t.buy_with_credit}}
                </button>
              </div>


              <div class="gifts" v-if="item_list.gifts.length">
                <h3 class="gifts-title">{{t.Gifts_on_the_product}}</h3>
                <NuxtLink :to="localePath(gifts.url, $i18n.locale)" class="gifts-item" v-for="gifts in item_list.gifts" :key="gifts.name">
                  <img :src="gifts.img" alt="">
                </NuxtLink>
              </div>
            </div>
          </b-col>

          <b-col cols="10" lg="2">
            <a :href="item_list.cp_url !== null ? item_list.cp_url : '#'"
               target="_blank" class="go_to_admin" v-show="item_list.cp_url">
              {{t.go_to_adminpanel}}
            </a>
            <ProductRightInfo :price="item_list.price" />
          </b-col>
        </div>
      </b-container>



      <b-container>
        <h2 class="product-inner-info-title">{{t.product_information}}</h2>

        <b-card no-body class="product-tabs">
          <b-tabs pills card>

            <b-tab :title="t.parameters" active>

                <ul class="params-lists">
                  <li v-for="(param,index) in item_list.params" :key="'param' + index">
                    <b-row class="params-list">
                      <b-col cols="5" lg="3">{{param.name}}:</b-col>
                      <b-col cols="5" lg="7">{{param.option !== null ? param.option : '-'}}</b-col>
                    </b-row>
                  </li>
                  <li>
                    <b-row class="params-list" v-show="item_list.document_link">
                      <b-col cols="5" lg="3">{{t.document_link}}:</b-col>
                      <b-col cols="5" lg="7"><a target="_blank" :href="item_list.document_link">{{t.product_pdf_link}}</a></b-col>
                    </b-row>
                  </li>
                </ul>

            </b-tab>

            <!-- description product -->
<!--            <b-tab :title="t._description">-->
<!--              <div v-html="item_list.description" />-->
<!--            </b-tab>-->

            <b-tab :title="t.consumables" v-if="item_list.consumables.length">
              <div class="into-comp">
                <b-row>
                  <b-col cols="5" lg="2" v-for="inc_product in item_list.consumables" :key="inc_product.id">
                    <NuxtLink :to="localePath(inc_product.url, $i18n.locale)" class="inc-product">
                      <div class="inc-product-img">
                        <img :src="inc_product.img.conversions.normal" alt="inc_product.name">
                      </div>

                      <p class="inc-product-title">{{inc_product.name}}</p>
                    </NuxtLink>
                  </b-col>
                </b-row>
              </div>
            </b-tab>

            <b-tab :title="t.accessories" v-if="item_list.accessories.length">
              <div class="into-comp">
                <b-row>
                  <b-col cols="5" lg="2" v-for="inc_product in item_list.accessories" :key="inc_product.id">
                    <NuxtLink :to="localePath(inc_product.url, $i18n.locale)" class="inc-product">
                      <div class="inc-product-img">
                        <img :src="inc_product.img.conversions.normal" alt="inc_product.name">
                      </div>

                      <p class="inc-product-title">{{inc_product.name}}</p>
                    </NuxtLink>
                  </b-col>
                </b-row>
              </div>
            </b-tab>

            {{item_list.review.length}}
            <b-tab :title="`${t._comment} (${item_list.review.count})`" v-if="item_list.reviews.data.length > 0">
              <div>
                <div class="comments-wrap">

                  <!-- comment Top -->
                  <div class="comments-wrap-top">
                    <div class="comments-wrap-top-left">
                      <div class="is-rating-body">
                        <span>{{item_list.review.rating}}</span>

                        <client-only>
                          <star-rating v-model="item_list.review.star_rating"
                                       active-color="#F69F29" v-bind:star-size="20"
                                       :show-rating=false
                                       :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]"
                                       read-only>
                          </star-rating>
                        </client-only>
                      </div>

                      <p>{{item_list.review.count }} {{t.feedback_and_review}}</p>

                    </div>

                  </div>
                  <!-- / comment Top -->

                  <div class="comment-wrap-body">
                      <div class="comment-lists">
                        <div class="comment" v-for="comment in review" :key="comment.id">
                          <div class="comment-img">
                            {{ comment.customer_name | first_letter }}
                          </div>


                          <div class="comment-right">
                            <div class="comment-right-top">
                              <div class="user-name">{{comment.customer_name}}</div>
                              <div class="comment-info">
                                <span>{{comment.created_at}}</span>

                                <client-only>
                                  <star-rating v-model="comment.rating"
                                               active-color="#F69F29" v-bind:star-size="14 "
                                               :show-rating=false
                                               :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]"
                                               read-only>
                                  </star-rating>
                                </client-only>
                              </div>
                            </div>
                            <div class="comment-right-bottom">
                              {{comment.comment}}
                            </div>
                          </div>
                        </div>

                        <div class="comment-list-btns" v-show="review_page_meta.current_page !== review_page_meta.last_page">
                          <button
                            class="see_more_btn"
                            @click="showMoreComment(item_list.id)">
                            Daha cox gor +
                          </button>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </b-tab>

          </b-tabs>
        </b-card>
      </b-container>


        <div class="similar-products" v-if="item_list.similar_products.length">
          <b-container>
            <div class="row">
              <b-col cols="10" lg="10">
                <h2>{{t.product_buying_together}}</h2>
              </b-col>
              <b-col cols="5" lg="2" v-for="item in item_list.similar_products" :key="item.id">
                <ProductItem :item_list="item"/>
              </b-col>
            </div>
          </b-container>
        </div>

        <b-container>
          <Partners />
        </b-container>
    </div>


  </div>
</template>

<script>
import {mapGetters, mapState} from "vuex";
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import { minLength, required} from "vuelidate/lib/validators";
import 'swiper/css/swiper.css'
import ProductItem from "../../components/products/Product-item";
import Partners from "../../components/Partners";
import {exampleMixin} from "../../mixin/productMixin";
import success from "../success";
import ProductRightInfo from "../../components/products/Product-right-info";

export default {
  name: "product-inner",
  mixins: [exampleMixin],
  components: {
    ProductRightInfo,
    Partners,
    ProductItem,
    Swiper,
    SwiperSlide
  },
  async asyncData({ store, params }) {
    await store.dispatch("fetchProductAfterSearch", { category: params.category, product: params.slug });
  },
  async fetch() {
    await this.$store.dispatch("fetchReview", this.item_list.id)
  },
  computed: {
    ...mapState({
      top_menu: state => state.top_menu
    }),
    ...mapGetters({
      item_list: 'getProductAfterSearch',
      cart_items: "getCartItems",
      wishlist_items: 'getWishlistItems',
      wishlist_login: 'getWishListAfterLogin',
      api_cart: 'getNewApiCart',
      compare: 'getCompare',
      compare_cookie: 'getCompareCookie',
      compareData: 'getCompareData',
      review: 'getReviews',
      review_page_meta: 'getReviewPageMeta',
      breadcrumbs: 'getShowProductBreadcrumbs',
      t: 'getTranslations'
    }),
    top_menu_store () {
      return this.top_menu.find(i => {
        if (i.id === 3) {
          return i.url
        }
      })
    }
  },
  data() {
    return {
      currentIndex: 0,
      dataLoading: false,
      swiperOptionTop: {
        loop: true,
        loopedSlides: 1,
        spaceBetween: 10,
      },
      swiperOptionThumbs: {
        direction: 'vertical',
        spaceBetween: 10,
        loop: false,
        loopedSlides: 2,
        slidesPerView: 6,
        touchRatio: 0.8,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      },
      swiperOptionMobile: {
        slidesPerView: 1,
        spaceBetween: 20,
        loop: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },
      rating: 0,
      modal_form: {
        email: '',
        name: '',
        link: '',
        message: ''
      }
    }
  },
  validations: {
    modal_form: {
      email: {
        required
      },
      name: {
        required
      },
      link: {
        required
      },
      message: {
        required,
        minLength: minLength(10)
      }
    }
  },
  methods: {
    splitName(name){
      console.log(name)
    },
    findCheaper(){
      this.$refs['findCheaper-modal'].show()
    },
    async sendFindCheaperProduct(id){
      this.$v.modal_form.$touch();

      const product_id = this.item_list.id

      if(!this.$v.modal_form.$invalid) {
        const cheaperModalForm = {...this.modal_form, product_id}

        this.dataLoading = true
        try {
          const a = await this.$store.dispatch('sendFindCheaperProduct', cheaperModalForm);
          this.dataLoading = false
          this.$toast.success(a);
          this.hideModal(id);
        } catch (error) {
          this.dataLoading = false
          this.$toast.error(error);
        }

      }
    },
    setIndex(index) {
      this.currentIndex = index;
    },
    showMoreComment(id){
      this.$store.dispatch('showMoreComment', id);
    },
    hideModal(id) {
      this.$bvModal.hide(id)
    },
    shareProduct(){
      this.$refs['share-modal'].show()
    }
  },
  mounted() {
    if(this.item_list.images.conversion && this.item_list.images.conversion.length){
      this.$nextTick(() => {
      const swiperTop = this.$refs.swiperTop.$swiper
      const swiperThumbs = this.$refs.swiperThumbs.$swiper
      swiperTop.controller.control = swiperThumbs
      swiperThumbs.controller.control = swiperTop
    })
    }
    
  }
}
</script>
