<template>

   <div class="category-page-wrap">

     <div class="container">
       <div class="loading text-center" v-show="loadingData"></div>

       <div class="category-banner" v-show="category_banners.category.length">

         <ol class="breadcrumb is-top-brcream" style="margin-bottom: 20px">
           <li class="breadcrumb-item" v-for="breadcrumb in category_breadcrumbs">
             <NuxtLink :to="localePath(`${breadcrumb.url}`, $i18n.locale)">{{breadcrumb.name}}</NuxtLink>
           </li>
         </ol>

         <div class="category-banner-top">


<!--           <h2 class="category-banner-title">{{ filtersProduct.name }}</h2>-->
         </div>

         <div id="categoryBanner" v-swiper="swiperOption" :auto-destroy="false">

           <div class="swiper-wrapper">
             <div class="swiper-slide swiper-lazy" v-for="(item, index) in category_banners.category" :key="item.id">
               <a :href="item.url" target="_blank">
                 <img :src="item.img" alt="">
                 <div class="swiper-lazy-preloader"></div>
               </a>
             </div>
           </div>
         </div>
       </div>
     </div>

     <div class="category-page-body">
       <div class="container">
         <div class="row">
           <div class="col-lg-2"></div>
           <div class="col-lg-8">
             <h2 class="section-title">{{ filtersProduct.name }}</h2>
           </div>
           <div class="col-lg-2 col-md-3">
             <ProductFilters @filters-change="updateCart"  :filters="filtersProduct"/>
           </div>
           <div class="col-lg-8 col-md-7">
             <template v-if="productByCategory.length !== 0">
               <b-row cols-lg="4" cols-sm="3">
                 <b-col v-for="item in productByCategory" :key="item.product_id">
                   <ProductItem :item_list="item" />
                 </b-col>
               </b-row>

               <b-pagination
                 v-if="product_pagination.last_page > 1"
                 v-model="currentPage"
                 :total-rows="product_pagination.total"
                 :per-page="product_pagination.per_page"
                 first-number
                 last-number
                 @change="paginationChange"
               ></b-pagination>
             </template>

             <p v-else>{{ t.category_product_wasnt_found }}</p>
           </div>
         </div>
       </div>
     </div>

     <div class="container">
       <Partners />
     </div>

   </div>

</template>

<script>
import ProductItem from "../../components/products/Product-item";
import ProductFilters from "../../components/products/Product-filters";
import Partners from "../../components/Partners";
import {mapGetters} from "vuex";
export default {
  name: "category",
  components: {Partners, ProductFilters, ProductItem},
  computed: {
    ...mapGetters({
      filtersProduct: 'getFilters',
      productByCategory: 'getProductByCategory',
      category_breadcrumbs: 'getCategoryBreadcrumbs',
      category_banners: 'getBanners',
      product_pagination: 'getProductPagination',
      t: 'getTranslations'
    }),
    currentPage:{
      get () {
        return this.product_pagination.current_page;
      },
      set (value) {
        this.$store.commit('SET_CURRENT_PAGE', value);
      }
    },
  },
  data() {
    return {
      loadingData: false,
      category_items: [],
      swiperOption: {
        autoplay: {
          delay: 5000,
          disableOnInteraction: false
        },
        loop: true,
        preloadImages: false,
        lazy: true,
        spaceBetween: 10,
      },
    }
  },
  methods: {
    updateCart(arg) {
      this.$nextTick(() => {
        this.$router.push({
          query: {
            page: arg.page,
            brands: arg.brands,
            opts: arg.opts,
            min_price: arg[0],
            max_price: arg[1]
          }
        })
      })
    },
    paginationChange(){
      this.$nextTick(() => {
        this.$router.push({
          query: {
            ...this.$route.query,
            page: this.currentPage,
          }
        }, () => {
          window.scrollTo({
            top: 0,
            left: 0,
            behavior: 'smooth'
          })
        });
      })
    },
  },
  watch: {
    '$route.query'(query) {
      const params = this.$route.params;
      this.$store.dispatch("fetchProductsByCategory", { category: params.category, query })
    }
  },
  mounted() {
    this.loadingData = false
    setTimeout(() => {
    }, 1500)
  },
  async asyncData({ store, params, route}) {
    await store.dispatch("fetchProductsByCategory", {category: params.category, query: route.query});
  },
}
</script>
