<template>
  <div class="searchResults">
    <div class="container">
      <div class="searchResultsTop">
        <p class="searchResultsTop-title">
          <span class="searchResultsTop-subtitle" v-if="getBrandDinamicName.length">{{getBrandDinamicName}}</span>
        </p>
      </div>

      <div class="searchResult-inner">
        <template v-if="getBrandDataBySlug.length">
          <b-row>
            <b-col cols="5" lg="2" v-for="item in getBrandDataBySlug" :key="item.id">
              <ProductItem :item_list="item"/>
            </b-col>
          </b-row>

          <b-pagination
            v-if="product_pagination.last_page > 1"
            v-model="currentPage"
            :total-rows="product_pagination.total"
            :per-page="product_pagination.per_page"
            first-number
            last-number
            @change="paginationChange"
          ></b-pagination>
        </template>


        <p v-else>{{t.nothing_was_found_by_brand}}</p>
      </div>

      <Partners />
    </div>
  </div>
</template>

<script>
import Partners from "../../components/Partners";
import {mapGetters} from "vuex";
import ProductItem from "../../components/products/Product-item";

export default {
  name: "index",
  components: {ProductItem, Partners},
  computed: {
    ...mapGetters({
      productPartners: 'getPartners',
      getBrandDataBySlug: 'getBrandDataBySlug',
      getBrandDinamicName: 'getBrandDinamicName',
      product_pagination: 'getProductPagination',
      t: 'getTranslations'
    }),
    currentPage:{
      get () {
        return this.product_pagination.current_page;
      },
      set (value) {
        this.$store.commit('SET_CURRENT_PAGE', value);
      }
    },
  },
  watch: {
    '$route.query'(query) {
      const params = this.$route.params;
      this.$store.dispatch("fetchBrandBySlugPagination", { slug: params.slug, query })
    }
  },
  methods: {
    paginationChange(){
      this.$nextTick(() => {
        this.$router.push({
          query: {
            page: this.currentPage
          }
        }, () => {
          window.scrollTo({
            top: 0,
            left: 0,
            behavior: 'smooth'
          })
        });
      })
    }
  },
  async asyncData({ store, params }) {
    await store.dispatch("fetchPartners");
    await store.dispatch("fetchBrandData", params.slug)
  },
}
</script>
